<app-header></app-header>
<section class="content-page-dashboard content-page-view-candidat">
  <app-sidebar-company></app-sidebar-company>
  <div class="right_menu">
    <h2 class="title-page">View <span>{{candidat.first_name}} {{candidat.last_name}}</span> profil</h2>
    <div class="content-profil">
      <div class="d-flex">
        <div class="content-img">
          <img [src]="candidat.image" alt="Image Of Candidat">
        </div>
        <div>
          <p class="name">{{candidat.first_name}} {{candidat.last_name}}</p>
          <p class="profil">{{candidat.work_as}}</p>
          <p class="nationality">{{candidat.country}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="block-about">
          <h3>Candidates About</h3>
          <p>{{candidat.biographical_info}}.</p>
        </div>
        <div class="block-about" >
          <h3>Candidate CV</h3>
          <p class="cv" *ngIf="candidat.cv">
            <a class="" [href]="nameCv" target="_blank">
              <div class="d-flex align-items-center">
                <i class="fa fa-file "></i>
                <span class="px-2 font-weight-bold">{{urlCv}}</span>
              </div>
            </a>
          </p>
          <p class="cv" *ngIf="!candidat.cv">No cv available at the moment</p>
        </div>
        <div class="block-candidat">
          <h3>Education</h3>
          <div class="sub-block" *ngFor="let education of candidat.educations">
            <div class="d-flex sub-details">
              <div class="group-details-one">
                <p class="name-formation">{{education.diploma}}</p>
                <p class="college">{{education.school}}</p>
              </div>
              <p class="date">{{education.year}}</p>
            </div>
            <p class="description">{{education.description}}.</p>
          </div>
          <div class="sub-block" *ngIf="candidat.educations.length==0">
            <p class="description">No content available at the moment</p>
          </div>
        </div>
        <div class="block-candidat work-block">
          <h3>Work & Experience</h3>
          <div class="sub-block" *ngFor="let experience of candidat.experiences">
            <div class="d-flex sub-details">
              <div class="group-details-one">
                <p class="name-formation">{{experience.job}}</p>
                <p class="college">{{experience.company}}.</p>
              </div>
              <p class="date">{{experience.year}}</p>
            </div>
            <p class="description">{{experience.description}}.</p>
          </div>
          <div class="sub-block" *ngIf="candidat.experiences.length==0">
            <p class="description">No content available at the moment</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="group-bloc-mor-details">
          <div class="one-element d-flex">
            <img src="../../../assets/img/experience-icon.svg" alt="">
            <div>
              <p class="sub-title">Experience</p>
              <p class="sub-detail-title">{{candidat.experience}} Years</p>
            </div>
          </div>
          <div class="one-element d-flex">
            <img src="../../../assets/img/age-icon.svg" alt="">
            <div>
              <p class="sub-title">Age</p>
              <p class="sub-detail-title">{{candidat.age}} Years</p>
            </div>
          </div>
          <div class="one-element d-flex">
            <img src="../../../assets/img/genre-icon.svg" alt="">
            <div>
              <p class="sub-title">Gender</p>
              <p class="sub-detail-title">{{candidat.gender}}</p>
            </div>
          </div>
          <div class="one-element d-flex">
            <img src="../../../assets/img/langue-icon.svg" alt="">
            <div>
              <p class="sub-title">Language</p>
              <div class="" *ngFor="let langue of candidat.language">
                <p class="sub-detail-title">{{langue}}</p>
              </div>
            </div>
          </div>
          <div class="one-element d-flex">
            <img src="../../../assets/img/education-icon.svg" alt="">
            <div>
              <p class="sub-title">Education Level</p>
              <p class="sub-detail-title">{{candidat.education_level}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="compagny && jobId  " class="content-btn d-flex align-items-center justify-content-center">
      <button (click)="approveCandidatByCompany()" class="btn btn-accpet" [disabled]="isLoading">Approve</button>
      <button (click)="rejectCandidatByCompany()" class="btn btn-reject" [disabled]="isLoading">Reject</button>
      <div *ngIf="isLoading" class="loader">Loading...</div>

    </div>
  </div>
</section>


