<app-header></app-header>
<section class="content-page-dashboard content-page-view-candidat">
  <app-sidebar-company></app-sidebar-company>
  <div class="right_menu">
    <h2 class="title-page">View <span>Amadou Ndiaye</span> profil</h2>
    <div class="content-profil">
      <div class="d-flex">
        <div class="content-img">
          <img src="../../../assets/img/person_3.png" alt="">
        </div>
        <div>
          <p class="name">Amadou Ndiaye</p>
          <p class="profil">UI Designer</p>
          <p class="nationality">Senegalese</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="block-about">
          <h3>Candidates About</h3>
          <p>Hello my name is Nicole Wells and web developer from Portland. In pharetra orci dignissim, blandit mi semper, ultricies diam. Suspendisse malesuada suscipit nunc non volutpat. Sed porta nulla id orci laoreet tempor non consequat enim. Sed vitae aliquam velit. Aliquam ante erat, blandit at pretium et, accumsan ac est. Integer vehicula rhoncus molestie.
            Morbi ornare ipsum sed sem condimentum, et pulvinar tortor luctus. Suspendisse condimentum lorem ut elementum aliquam.</p>
        </div>
        <div class="block-candidat">
          <h3>Education</h3>
          <div class="sub-block">
            <div class="d-flex sub-details">
              <div class="group-details-one">
                <p class="name-formation">Bachlors in Fine Arts</p>
                <p class="college">Modern College</p>
              </div>
              <p class="date">2012 - 2014</p>
            </div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
          </div>
          <div class="sub-block">
            <div class="d-flex sub-details">
              <div class="group-details-one">
                <p class="name-formation">Bachlors in Fine Arts</p>
                <p class="college">Modern College</p>
              </div>
              <p class="date">2012 - 2014</p>
            </div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
          </div>
        </div>
        <div class="block-candidat work-block">
          <h3>Work & Experience</h3>
          <div class="sub-block">
            <div class="d-flex sub-details">
              <div class="group-details-one">
                <p class="name-formation">Product Designer</p>
                <p class="college">Spotify Inc.</p>
              </div>
              <p class="date">2012 - 2014</p>
            </div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
          </div>
          <div class="sub-block">
            <div class="d-flex sub-details">
              <div class="group-details-one">
                <p class="name-formation">Bachlors in Fine Arts</p>
                <p class="college">Modern College</p>
              </div>
              <p class="date">2012 - 2014</p>
            </div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="group-bloc-mor-details">
          <div class="one-element d-flex">
            <img src="../../../assets/img/experience-icon.svg" alt="">
            <div>
              <p class="sub-title">Experience</p>
              <p class="sub-detail-title">0-2 Years</p>
            </div>
          </div>
          <div class="one-element d-flex">
            <img src="../../../assets/img/age-icon.svg" alt="">
            <div>
              <p class="sub-title">Age</p>
              <p class="sub-detail-title">28 Years</p>
            </div>
          </div>
          <div class="one-element d-flex">
            <img src="../../../assets/img/genre-icon.svg" alt="">
            <div>
              <p class="sub-title">Gender</p>
              <p class="sub-detail-title">Male</p>
            </div>
          </div>
          <div class="one-element d-flex">
            <img src="../../../assets/img/langue-icon.svg" alt="">
            <div>
              <p class="sub-title">Language</p>
              <p class="sub-detail-title">English, French</p>
            </div>
          </div>
          <div class="one-element d-flex">
            <img src="../../../assets/img/education-icon.svg" alt="">
            <div>
              <p class="sub-title">Education Level</p>
              <p class="sub-detail-title">Master Degree</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-btn d-flex align-items-center justify-content-center">
      <button class="btn btn-accpet">Approve</button>
      <button class="btn btn-reject">Reject</button>
    </div>
  </div>
</section>
<app-footers></app-footers>

