 /*section image menu about*/
.image_menu_about{
   padding-bottom: 150px;
}
.image_about{
   position: relative;
}
.description_about{
   position: absolute;
   top: 90px;
   left: 72px;
   color: #FFF;
}
.description_about span{
   font-size: 53px;
   font-weight: 700;
}
.description_about p{
   font-size: 14px;
   font-weight: 400;
   color: #FFF;
}
.content_image_about{
   height: 480px;
}
.content_image_about img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.content_image_about{
    height: 480px;
}
.about_story{
padding-bottom: 130px;
}
.content_map_story_about{
   height: 360px;
   margin: 0 auto;
   width: 100%;
}

.content_map_story_about img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description_story_about span{
    width: 308px;
    color: #05264E;
    font-size: 32px;
    font-weight: 700;
}
.description_story_about .description_story{
    width: 660px;
    color: #4F5E64;
    font-size: 16px;
    font-weight: 500;
    margin-top: 13px;
}
.content_button_about_story a{
    border-radius: 8px;
    margin-top: 28px;
    border: 1px solid #1CA774;
    background-color:#1AC4A2;
    color: #FFFF;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 16px 21px;

}
 /*section help*/

 .help_about{
   background-color: #1AC4A2;
   margin-bottom: 130px;
 }

 .content_help_about{
   padding-top: 54px;
   padding-bottom: 102px;
 }
 .header_help_about{
    color: #FFFF;
    text-align: center;
    padding-bottom: 30px;
 }
 .header_help_about span{
    color: #FFF;
    font-size: 35px;
    font-weight: bold;
 }
 .header_help_about p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
 }
 .content_body_help_about_1{
    padding-left: 40px;
    padding-top: 30px;
    color: #F8F9FA;
    height: 249px;
    border-radius: 9.6px;
    background: rgba(255, 255, 255, 0.10);
 }

 .content_body_help_about_1 span{
    font-size: 20px;
    font-weight: 600;
 }
 .content_body_help_about_1 p{
    font-size: 14px;
    font-weight: 500;
 }
 /*section mission*/
 .mission{
   margin-bottom: 107px;
 }

 .content_map_mission{
   width: 490px;
   height: 493px;
}
.content_map_mission img{
   width: 100%;
   height: 100%;
   margin: auto;
   object-fit: cover;
}
.content_list_mission ul {
   margin-top: 0; 
   padding-left: 0;
   list-style: none; /* Supprimer les puces par défaut */
   padding: 0; 
}
 .content_list_mission ul li{
    display: flex;
    /*align-items: center;*/
    margin-bottom: 29px;
 }
 .content_list_mission ul li svg{
   margin-right: 8px;
}
 .content_list_mission ul li p{
    color: #000;
    font-size: 16px;
    font-weight: bold;
 }

.description_mission span{
    width: 308px;
    color: #05264E;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 13px;
}
.description_mission .description_{
    width: 660px;
    color: #4F5E64;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 39px;

}
/* section teams*/
.person_teams{
   background: rgba(241, 245, 248, 0.66);
   padding:75px 0 119px 0 ;
}

 .header_team{
    text-align: center;
    margin-bottom: 41px;
 }
 .header_team span{
    color: #05264E;
    font-size: 35px;
    font-weight: 700;
 }
 .header_team p{
    color: #4F5E64;
    font-size: 14px;
    font-weight: bold;
 }
 .content_team_element{
    border-radius: 6.4px;
    margin-bottom: 20px;
    background: #FFF;
    overflow: hidden;
 }
 .content_image_team{
   margin: 10px 10px 0 10px;
   width: 292px;
   height: 292px;
 }
 .content_image_team img{
    width: 100%;
    height: 100%;
    border-radius: 6.4px;
    overflow: hidden;
    object-fit: contain;
 }
 .description_team{
   padding: 18px 0 17px 16px;
 }
 .description_team span{
    color: #05264E;
    font-size: 17px;
    font-weight: bold;
 }
 .description_team p{
    color: #1AC4A2;
    font-size: 13px;
    font-weight: 700;
    margin: auto;
 }
 .job_offer{
   border: 1px solid blueviolet;
    display: flex;
    justify-content: center;
    margin-left: 75px;
    margin-right: 75px;
    height: 234.004px;
    margin-top: 114px;
    margin-bottom: 139px;
 }
 /*sectiont recruting*/
.recruting{
   padding: 114px 0 139px 0;
}
 .recruting_now{
    border-radius: 8px;
    background: #EEE;
    overflow: hidden;
    margin-bottom: 30px;
 }
 .recrutement{
   border-radius: 8px;
   background: #EEE;
   display: flex;
 }
 .content_recruting_now{
    display: flex;
    width: 410px;
    height: 234px;
    border-radius: 8px;
    background: #EEE;
 }
 .content_image_recruting{
    width: 50%;
 }
 .text_recruting{
   width: 50%;
   padding-top: 15px;
   padding-left: 41px;
   color:#202124 ;
   font-size: 24px;
   font-weight: 700;

 }
 .text_recruting .recrut{
   color:#1AC4A2 ;
   margin: auto;
 }

 .text_recruting a{
   border-radius: 8px;
   background-color:#1AC4A2 ; 
   text-decoration: none;
   font-size: 15px;
   font-weight: bold;
   color: #FFF !important;
   padding: 17px 32px 15px 34px;
 }

 .content_image_recruting img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
 }

