    <app-header></app-header>
    <section class="image_menu_about">
        <div class="container">
            <div class="image_about">
                <div class="description_about">
                    <span>Who We are <br> & Our Smart Mission</span>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                         voluptatum deleniti atque corrupti quos <br> dolores et quas molestias excepturi sint occaecati
                          cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia <br> animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita 
                          distinctio.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="about_story">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="description_story_about">
                        <span>About & Story</span>
                        <p class="description_story">
                            Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium <br> voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint<br>  occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia <br> animi, id est laborum et dolorum fuga. 
                            Et harum quidem rerum facilis est et expedita <br> distinctio.
                        </p>
                        <div class="content_button_about_story" >
                            <a class="btn" routerLink="" routerLinkActive="active_lien_navbar"> Start Today Now </a>      
                        </div>
                    </div>                       
                </div>
                <div class="col-md-6">
                    <div class=" map_story_about">
                        <div class="content_map_story_about">
                            <img src="../../../assets/img/Country.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="help_about">
        <div class="container">
                <div class="content_help_about">
                    <div class="header_help_about">
                        <span>Choose What You Need</span>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <br> praesentium 
                            voluptatum deleniti atque corrupti quos dolores
                        </p>
                    </div>
                    <div class="row">
                        <div class=" col-md-4 ">
                            <div class="body_help_about_1">
                                <div class="content_body_help_about_1">
                                    <h1>01.</h1>
                                    <span>Create An Account</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore   sed do eiusmod tempor incididunt ut </p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-4 ">
                            <div class="body_help_about_1">
                                <div class="content_body_help_about_1">
                                    <h1>02.</h1>
                                    <span>Search Jobs or Talent</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore   sed do eiusmod tempor incididunt ut </p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-4 ">
                            <div class="body_help_about_1">
                                <div class="content_body_help_about_1">
                                    <h1>03.</h1>
                                    <span>Apply Jobs or recruit talent</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore   sed do eiusmod tempor incididunt ut </p>
                                </div>
                            </div>
                        </div>
                  
                    </div>              
                </div>               
        </div>
    </section>
    <section class="mission">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="map_mission">
                        <div class="content_map_mission">
                            <img src="../../../assets/img/Country.png" alt="">
                        </div>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="description_mission">
                        <span>Mission</span>
                        <p class="description_">
                        Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <div class="content_list_mission">
                            <ul>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                        <path d="M12.4999 18.9625L23.9911 7.47375L25.7586 9.24125L12.5011 22.4988L4.54614 14.5438L6.31364 12.7763L12.5011 18.9638L12.4999 18.9625Z" fill="#1AC4A2"/>
                                    </svg>
                                    <p>Make it easier to find jobs:</p>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                        <path d="M12.4999 18.9625L23.9911 7.47375L25.7586 9.24125L12.5011 22.4988L4.54614 14.5438L6.31364 12.7763L12.5011 18.9638L12.4999 18.9625Z" fill="#1AC4A2"/>
                                    </svg>
                                    <p>Make it easier to find jobs:</p>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                        <path d="M12.4999 18.9625L23.9911 7.47375L25.7586 9.24125L12.5011 22.4988L4.54614 14.5438L6.31364 12.7763L12.5011 18.9638L12.4999 18.9625Z" fill="#1AC4A2"/>
                                    </svg>
                                    <p>Make it easier to find jobs:</p>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                        <path d="M12.4999 18.9625L23.9911 7.47375L25.7586 9.24125L12.5011 22.4988L4.54614 14.5438L6.31364 12.7763L12.5011 18.9638L12.4999 18.9625Z" fill="#1AC4A2"/>
                                    </svg>
                                    <p>Make it easier to find jobs:</p>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                        <path d="M12.4999 18.9625L23.9911 7.47375L25.7586 9.24125L12.5011 22.4988L4.54614 14.5438L6.31364 12.7763L12.5011 18.9638L12.4999 18.9625Z" fill="#1AC4A2"/>
                                    </svg>
                                    <p>Make it easier to find jobs:</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="person_teams">
        <div class="container">
                <div class="content_teams">
                    <div class="header_team">
                        <span>Meet Our Team</span>
                        <p>Professional & Dedicated Team</p>
                    </div>
                    <div class="row">
                        <div class=" col-md-3 ">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="../../../assets/img/Image.png" alt="image team">
                                </div>
                                <div class="description_team">
                                    <span>Mbaye Sow Beye</span>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 ">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="../../../assets/img/person_2.png" alt="image team">
                                </div>
                                <div class="description_team">
                                    <span>Awa Diop</span>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 ">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="../../../assets/img/person_3.png" alt="image team">
                                </div>
                                <div class="description_team">
                                    <span>Mbaye Lô</span>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 ">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="../../../assets/img/person_4.png" alt="image team">
                                </div>
                                <div class="description_team">
                                    <span>Khadidja Faye</span>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 ">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="../../../assets/img/person_5.png" alt="image team">
                                </div>
                                <div class="description_team">
                                    <span>Selle Diop</span>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 ">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="../../../assets/img/person_6.png" alt="image team">
                                </div>
                                <div class="description_team">
                                    <span>Fama Diop</span>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 ">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="../../../assets/img/person_7.png" alt="image team">
                                </div>
                                <div class="description_team">
                                    <span>Rawane Sow</span>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 ">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="../../../assets/img/person_8.png" alt="image team">
                                </div>
                                <div class="description_team">
                                    <span>Tening Ngom</span>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <app-publication></app-publication>
    <app-footers></app-footers>
