
   <app-header></app-header>
    <section class="image_menu_about">
        <div class="container-fluid">
            <div class="color"></div>
            <div class="image_about">
                <div class="description_about">
                    <h2>Who we are and<br>our smart mission</h2>
                    <p>LIGGÉEY is committed to create a worldwide workforce of the most talented individuals, valued for their real skills rather than just diplomas. Trust us to bring digital talent to your team and elevate your business to new heights
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="about_story">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-sm-12">
                    <div class="description_story_about">
                        <p class="subtitle">About and our Story</p>
                        <p class="description_story">
                          Welcome to LIGGÉEY, a Senegalese-born remote outsourcing company with a global vision. Founded in Amsterdam and expanded to Dakar, Senegal, we're on a mission to make African talent accessible to the Global market. We prioritize skills over diplomas, connecting businesses with a diverse pool of experts through remote job opportunities. Join us in redefining the future of work across borders.
                          <br>
                          We embraced the potential of a worldwide workforce. Now, our story is about connecting continents, breaking barriers, and making African talent accessible to Global businesses through remote opportunities.
                          <br>
                          Remote sounds exciting, but does not mean people work from home. We provide high-end workplaces to all our talent, with fast internet access to be sure they can be the highest value to the business.
                        </p>
                        <div class="content_button_about_story" >
                            <a class="btn" routerLink="" routerLinkActive="active_lien_navbar"> Start Today Now </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-sm-12">
                    <div class=" map_story_about">
                        <div class="content_map_story_about">
                            <img src="../../../assets/img/Country.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="help_about">
        <div class="container-fluid">
            <div class="content_help_about">
                <div class="header_help_about">
                    <h3>Choose what you need</h3>
                    <p>Whether you're an employer seeking the ideal talent or a candidate searching for the right opportunity, our platform is designed to help you find precisely what aligns with your skillset.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-sm-8" style="margin: 0 auto;">
                        <div class="body_help_about_1">
                            <div class="content_body_help_about_1">
                                <h1>01.</h1>
                                <span>Create an account</span>
                                <p>Create your account today and embark on a journey to new opportunities and connections.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-4 col-sm-8" style="margin: 0 auto;">
                        <div class="body_help_about_1">
                            <div class="content_body_help_about_1">
                                <h1>02.</h1>
                                <span>Search for Jobs or Talent</span>
                                <p>Search for jobs or talent and open the door to a world of opportunities.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-4 col-sm-8" style="margin: 0 auto;">
                        <div class="body_help_about_1">
                            <div class="content_body_help_about_1">
                                <h1>03.</h1>
                                <span>Apply for Jobs or recruit Talent </span>
                                <p>Elevate your workforce – apply for jobs or recruit top talent with ease.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="mission">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-sm-12">
                    <div class="content_map_mission">
                        <img src="../../../assets/img/Country.png" alt="">
                    </div>
                </div>
                <div class=" col-md-6 col-sm-6 col-sm-12">
                    <div class="description_mission">
                        <p class="subtitle">Mission</p>
                        <p class="description_">At LIGGÉEY, we have a clear mission: bridging borders to empower businesses. We connect European opportunities with the diverse talent pool in Africa. Our commitment lies in reshaping the future of work, emphasizing skills over diplomas, and fostering a global community that thrives on collaboration and innovation.</p>
                        <div class="content_list_mission">
                            <ul>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                        <path d="M12.4999 18.9625L23.9911 7.47375L25.7586 9.24125L12.5011 22.4988L4.54614 14.5438L6.31364 12.7763L12.5011 18.9638L12.4999 18.9625Z" fill="#1AC4A2"/>
                                    </svg>
                                    <p>Make it easier to find jobs:</p>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                        <path d="M12.4999 18.9625L23.9911 7.47375L25.7586 9.24125L12.5011 22.4988L4.54614 14.5438L6.31364 12.7763L12.5011 18.9638L12.4999 18.9625Z" fill="#1AC4A2"/>
                                    </svg>
                                    <p>Make it easier to find jobs:</p>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                        <path d="M12.4999 18.9625L23.9911 7.47375L25.7586 9.24125L12.5011 22.4988L4.54614 14.5438L6.31364 12.7763L12.5011 18.9638L12.4999 18.9625Z" fill="#1AC4A2"/>
                                    </svg>
                                    <p>Make it easier to find jobs:</p>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                        <path d="M12.4999 18.9625L23.9911 7.47375L25.7586 9.24125L12.5011 22.4988L4.54614 14.5438L6.31364 12.7763L12.5011 18.9638L12.4999 18.9625Z" fill="#1AC4A2"/>
                                    </svg>
                                    <p>Make it easier to find jobs:</p>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                        <path d="M12.4999 18.9625L23.9911 7.47375L25.7586 9.24125L12.5011 22.4988L4.54614 14.5438L6.31364 12.7763L12.5011 18.9638L12.4999 18.9625Z" fill="#1AC4A2"/>
                                    </svg>
                                    <p>Make it easier to find jobs:</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="person_teams">
        <div class="container-fluid">
                <div class="content_teams">
                    <div class="header_team">
                      <p class="subtitle">Meet our team</p>
                        <p>Meet our dedicated team, ready to assist you in discovering the perfect talent and ensuring seamless onboarding for a harmonious integration into your business.</p>
                    </div>
                    <div class="row">
                        <div class=" col-md-3 col-sm-3 col-sm-6">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="https://livelearn.nl/wp-content/themes/fluidify-child/img/Fadel.png" alt="image team">
                                </div>
                                <div class="description_team">
                                    <p>FADEL</p>
                                    <p>Mobile Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 col-sm-3 col-sm-6">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="https://livelearn.nl/wp-content/themes/fluidify-child/img/Maurice.png" class="" alt="">
                                </div>
                                <div class="description_team">
                                    <p>MAURICE</p>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 col-sm-3 col-sm-6">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="https://livelearn.nl/wp-content/themes/fluidify-child/img/Seydou.png" class="" alt="">
                                </div>
                                <div class="description_team">
                                    <p>SEYDOU</p>
                                    <p>UX DESIGNER</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 col-sm-3 col-sm-6">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="https://livelearn.nl/wp-content/themes/fluidify-child/img/Daniel-van-der.png" class="" alt="">
                                </div>
                                <div class="description_team">
                                    <p>DANIEL</p>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 col-sm-3 col-sm-6">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="https://livelearn.nl/wp-content/themes/fluidify-child/img/khadim.jpg" class="" alt="">
                                </div>
                                <div class="description_team">
                                    <p>KHADIM</p>
                                    <p>Backend Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 col-sm-3 col-sm-6">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="https://livelearn.nl/wp-content/themes/fluidify-child/img/Xander.png" class="" alt="">
                                </div>
                                <div class="description_team">
                                    <p>XANDER</p>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 col-sm-3 col-sm-6">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="https://livelearn.nl/wp-content/themes/fluidify-child/img/MOHAMED.png" class="" alt="">
                                </div>
                                <div class="description_team">
                                    <p>MOHAMED</p>
                                    <p>Backend Developper</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 col-sm-3 col-sm-6">
                            <div class="content_team_element">
                                <div class="content_image_team">
                                    <img src="../../../assets/img/person_8.png" alt="image team">
                                </div>
                                <div class="description_team">
                                    <p>Tening Ngom</p>
                                    <p>Web Developper</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <app-publication></app-publication>
    <app-footers></app-footers>
