.button_connexion{
  padding-bottom: 145px;
}
.ligne-horizontale {
    border: none; /* Supprime la bordure par défaut */
    border-top: 2px solid #F5F6F8; /* Épaisseur et couleur de la ligne */
    width: 50%;
    height: 1px;
  }
  .ligne-horizontale.gauche{
    margin: 0rem 0.75rem 0rem 0rem;
  }
  .ligne-horizontale.droite{
    margin: 0rem 0rem 0rem 0.75rem;
  }

.separateur{
    display: flex;
    padding-bottom: 30px;
  }
  .left{
    border: 1px solid #043356;
    color: #043356;
    /*margin-right: 30px;*/
    padding-top: 10px ;
    padding-right: 55px;
    padding-bottom: 15px;
    padding-left: 21px;

  }
  .right{
    border: 1px solid #D93025 ;
    color: #D93025;
    padding-top: 10px ;
    padding-right: 55px;
    padding-bottom: 15px;
    padding-left: 21px;

  }
   a{
    background: #FFFF; /* Fond transparent */
    cursor: pointer; /* Curseur de type main (pointeur) */
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
  }
  a i{
    margin-right: 5px;
  }
