<section class="button_connexion" >
    <div class="container-fluid">
        <div class="separateur">
            <hr class="ligne-horizontale gauche">
            <span>or</span>
            <hr class="ligne-horizontale droite">
        </div>
        <div class="row button" style="justify-content:center">
            <div class="col-md-3">
                <a class="btn left" href="https://www.facebook.com" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Log In with Facebook
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn right" href="https://accounts.google.com" target="_blank">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Log In with Google +
                </a>
            </div>
        </div>
    </div>
</section>
