.ligne-horizontale {
    border: none; /* Supprime la bordure par défaut */
    border-top: 2px solid #F5F6F8; /* Épaisseur et couleur de la ligne */
    width: 280px;
    height: 1px;
    
  }
  .ligne-horizontale.gauche{
    margin: 0rem 0.75rem 0rem 0rem;
  }
  .ligne-horizontale.droite{
    margin: 0rem 0rem 0rem 0.75rem;
  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 146.49px;
}
.footer button{
    padding: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separateur{
    display: flex;
    margin-top: 17px;
    margin-bottom: 0.5rem;
    width: 500px;
    height: 40px;
    
  }
  .boutton{
    display: flex;
    align-items: center;
    width: 550px;
height: 45px;


  }
  .boutton i{
    margin-right: 10px;
  }
  .boutton a{
    text-decoration: none;
  }
  .bouton-outline {
    background: #FFFF; /* Fond transparent */
    cursor: pointer; /* Curseur de type main (pointeur) */
    border-radius: 8px;
    width: 260px;
    height: 45px;
    padding-top: 14px;
    padding-bottom: 15px;
   
  }
  
  .bouton-outline.gauche{
    border: 1px solid #30A3F7;
    color: #30A3F7;
    display: flex;
  }
  .bouton-outline.droite{
    border: 1px solid #E87E77 ;
    color: #E87E77;
    display: flex;
    margin-left: 30px;
  }