<section class="button_connexion" >
    <div class="container">
        <div class="separateur">
            <hr class="ligne-horizontale gauche">
            <span style="color: #C7C7C7;position: relative; top: -0.5em;">or</span>
            <hr class="ligne-horizontale droite">
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn left" href="https://www.facebook.com" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Log In with Facebook
                </a>
            </div>
            <div class="col-md-6">
                <a class="btn right" href="https://accounts.google.com" target="_blank">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Log In with Google + 
                </a>
            </div>
        </div>
    </div>
</section>
<!--
<div class="footer">
    <div class="separateur">
        <hr class="ligne-horizontale gauche">
        <span style="color: #C7C7C7;position: relative; top: -0.5em;">or</span>
        <hr class="ligne-horizontale droite">
    </div>
    <div class="boutton">
        <a href="https://www.facebook.com" target="_blank">
            <button class="bouton-outline gauche">  
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <p style="font-weight: Bold;">Log In with Facebook</p>
            </button>
        </a>
        <a href="https://accounts.google.com" target="_blank">
            <button class="bouton-outline droite">
                <i class="fa fa-google" aria-hidden="true"></i>
                <p style="font-weight: Bold">Log In with Google + </p>
            </button>
        </a>
    </div>
</div>
-->