
a{
    text-decoration: none;
}
header {
    /*display:flex: */
    display: block;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.31);
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.31);
    margin-bottom:0 !important;
   /* height: 171.51px;*/
    border-radius: 4px;
    background-color: #FFFF;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}
header ul {
    padding : 0px;
    margin : 0px;
    display : flex;
    list-style: none;
    align-items: center;

}
header .second-nav ul li {
    margin : 0px;
    font-weight: 400;

}
header ul li a i {
    margin : 10px 5px;
}
header nav {
    display : flex;
}
header ul li a {
    color : #343434;
    padding: 8px 12px;
}
.nav-connecte{
  font-family: "Roboto-Medium";
  font-size: 16px;
  color : #343434;
}
/*header ul li a:nth-child(3){
    min-width: 80px;
}*/
header ul li a:hover{
    color :#1AC4A2;
}
/*
header ul li a.active_lien_navbar {
    background-color :#175428;
    color : white;
}*/
header .header_container_logo{
    display : flex;
    font-size :16px;
    font-weight : 400;
    width: 67%;
  justify-content: space-between;
}
header .header_container_logo .content_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

header .header_container_logo p {
  font-size: 15px;
  font-weight: bold;
  color: #64748B;
  margin: 0px;
  width: auto;
}
.position-absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
.start-100 {
  left: 100%;
}
.translate-middle {
  transform: translate(-50%, -50%);
}

/*header .header_container_logo img {
    margin-right: 53px;
    margin-left: 11px;
    width: 128px;
    height: 93px;

}*/
.name-cv{
  white-space: nowrap;
   overflow: hidden;
   max-width: 100%;
} 
/*second nav */
.second-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 16px;*/
    background-color: #1ac4a226;
    padding: 10px;
    width: 100%;
    height: 50%;
    text-align: center;
    cursor: pointer;
  }
.second-nav li button{
    width: 48px;
    height: 48px;
    border-radius: 4px;
}
.second-nav li span{
    font-size: 14px;
    font-family: "Roboto-Bold";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*color: #1967D2;*/

}
.second-nav li p{
    font-size: 15px;
    font-family: "Roboto-Bold";
}
.sub-first-nav{
  height: 50%;
}
.Language{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 91px;
    padding-right: 22px;
    color: #64748B;
}
.Language i{
    font-size: 24px;
}
.Language p{
    color: #191D23;
    font-size: 16px;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;

}
.search{
    justify-content: center;
    display:flex;
    width: 477px;
    align-items:center;
    padding:9px 8px;
    border:1px solid #D0D5DD;
    border-radius: 4px;
}
.search input{
    border-radius: 4px;
    border: 1px solid #D0D5DD;
    font-size:16px;
    font-weight:bold;
    width:100%;
    border:none;
    background-color: transparent;
}
input[type="text"]:focus {
    outline: none;
  }
.search svg{
    margin-right:10px;
}
.Light-Tel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Light-Tel button{
    background-color: #ECFDF5;
    border: none;
    margin-right:12px
}

.info p{
    color: #64748B;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    line-height: 1px;
    padding-bottom: 5px;

}
.info span{
    color: #1AC4A2;
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    line-height: 1px;

}
.separateur{
    height: 1px;
    background: #E7EAEE;
    margin-bottom: 8px;
}
/*first nav */
.first-nav{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}
.cathegories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #696969;
}
.header_container_logo .categories{
    display:flex;
    align-items:center;
    cursor: pointer;
}


.dropdown.dropdown-modife .dropdown-menu{
margin-top: 25px;
  background-color: #FFF;
  padding-left: 50px;
}

.categories .dropdown-menu a .content_image{
 height: 24px;
 width: 24px;
 border-radius: 100%;
 padding-right: 20px !important;

}

.categories .dropdown-menu a .content_image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 }

nav ul li span{
    font-size: 16px;
    color: #64748B;
    font-family: "Roboto-Regular";

}
.dropdown.dropdown-modife .dropdown-menu a{
  display: flex;
  align-items: center;
  justify-content: left;
  padding-bottom: 10px;
  font-size: 16px;
  font-family: "Roboto-Regular";
  color: #696969;
}
.dropdown.dropdown-modife .dropdown-menu a .content_image{
  height: 24px;
  width: 24px;
 
}
.join{
    display: flex;
    align-items: center;
}
.join span{
    font-size: 16px;
    font-weight: 400;
    color: #64748B;
    font-family: "Roboto-Bold";

}
.join .hiring{
  color: #FFF;
  border: none !important;
  background-color: #1AC4A2;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Roboto-Medium";
  margin-left: 13px;
  margin-right: 25px;
  padding: 10px 16px 10px 15px;

}
.btn-register-modal{
  color: black !important;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 18px;
}
  .join .login{
    color: #696969;
    font-size: 15px;
    font-family: "Roboto-Bold";
  }
  .account{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account .content_image{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 11px;
    margin-right: 11px;
/* background-image: url("../../../assets/img/image_account.png"), lightgray 50% / cover no-repeat; */
}
.account .content_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
/* background-image: url("../../../assets/img/image_account.png"), lightgray 50% / cover no-repeat; */
}
.account .dropdown button{
    border: none;
    border-radius: 100%;
    margin-left: 10px;
}
.account p{
    margin: 0;
    color: #202124;
    font-size: 15px;
    font-weight: 600;
}
.first-nav{
  justify-content: space-between;
  width: 100%;
}
.dropdown .dropdown-menu a{
    display: flex;
    border: none;
    background-color:transparent;
    text-decoration:none;
    align-items:center;
    width: 100%;
}
.dropdown .dropdown-menu a p{
    padding-left: 15px;
}

.btn-forgeet-passwoord{
  background: #04414d;
  width: 100%;
  color: white !important;
  padding: 13px;
  border-radius: 9px;
  margin-bottom: 25px;
}
.account-texte{
  color: #696969;
  margin-right: 2px;
}
.account-texte a{
  color: #696969;
}
.hr-element{
  border-bottom: 1px solid #cacaca;
  height: 12px;
  width: 47%;
}
.or-text {
  width: 6%;
  position: relative;
  z-index: 99;
  padding: 8px 6px 0;
}
.facebook-google-btn .btn {
  padding: 12px 15px;
  width: 46%;
  margin: 0 8px;
  font-size: 14px;
}
.btn-facebook {
  border: 1px solid #04414d;
  color: #04414d;
}
.btn-google{
  border: 1px solid #D93025;
  color: #D93025;
}


.custom-file {
  position: relative;
  overflow: hidden;
}

.custom-file input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

.custom-file-label {
  display: inline-block;
  padding: 8px 12px;
  font-size: 16px;
  font-family: "Roboto-Bold";
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.custom-pdf-container{
  margin-bottom: 25px;
  height: 200px;
}
.custom-pdf-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.second-step label{
  margin-bottom: 15px;
}
.loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
  height:100px;
  zoom: zoom;
}
.custom-dropdown-item {
  /* Ajoutez vos styles personnalisés ici */
  color: #333; /* Exemple de style de couleur */
  font-size: 14px; /* Exemple de taille de police */
  /* Ajoutez d'autres styles selon vos besoins */
}
.tilted {
  transform: rotate(50deg);
  transition: transform 0.3s ease-out;
}


.circular{animation:rotate 2s linear forwards ;width:100px;height:100px;position:relative}
.path{stroke:#007aff; stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation:
    dash 1.5s ease-in-out forwards,
    color 6s ease-in-out infinite
;
  stroke-linecap: round;}
@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }

  100%{
    stroke-dasharray: 150,200;
    stroke-dashoffset: 10;
  }

}
@keyframes color{
  100%, 0%{
    stroke: #28a745;
  }
  40%{
    stroke: #007aff;
  }
  66%{
    stroke: #24555d;
  }
  80%, 90%{
    stroke: #ffc107;
  }
}
@keyframes rotate{
  100%{transform:rotate(360deg)}
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;

  animation: stroke 0.5s  cubic-bezier(0.65, 0, 0.45, 1) 1.5s forwards, color 6s linear infinite;}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
.suc{
  stroke:#28a745;
  stroke-width:4;
  position:absolute;
  top:30px;
  left:30px;
  width:40px;
  height:40px;
}
.text-success-apply{
  font-size: 20px;
  text-align: center;
  color: #1e7e34;
}
.btn-other-opportunuties {
  background: #033357;
  color: white;
  width: fit-content;
  position: relative;
  margin: 40px auto 20px;
  padding: 10px 25px;
  display: block;
  border-radius: 10px;
}
.mobile-header{
  display: none;
}

.dropdown-modife{
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
.dropdown-modife svg {
  margin-right: 10px;
}

.dropdown-modife .dropdown-toggle {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-modife .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.dropdown-modife .dropdown-menu.show {
  display: block;
}

.dropdown-modife .dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}
/*
.dropdown-modife .dropdown-menu a:hover {
  background-color: #f0f0f0;
}*/
.dropdown-user .dropdown-toggle {
  background: none;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-user .dropdown-menu{
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  left: -128px;
  top: 52px;
}
.dropdown-user .dropdown-menu a {
  margin-bottom: 0px;
  padding: 11px 19px;
}
.dropdown-user .dropdown-menu a:hover {
  background-color: #f0f0f0;
  color: #1AC4A2 !important;
}
.cathegories {
  width: fit-content;
  min-width: 66%;
}

.modalEdu .modal-dialog {
  position: relative;
  max-width: 700px;
}
.modalEdu .modal-dialog>* {
  padding: 1rem;
}
.modalEdu .modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
  padding: 10px 0;
}
.group-input-settings {
  display: grid;
  margin-bottom: 20px;
}
.group-input-settings label {
  font-size: 15px;
  color: #202124;
  font-weight: 500;
  margin: 0 0 8px;
}
.group-input-settings input {
  box-sizing: border-box;
  border-radius: 11px;
  padding: 15px 20px !important;
  font-size: 15px !important;
  color: #3c3c3c !important;
  background: #F0F5F7 !important;
  border: none;
  margin-bottom: 10px;
}
.btnSaveSetting {
  background: #043356;
  color: white;
  padding: 10px 40px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 5px;
  float: right;
  width: fit-content;
}

.custom-multi-select {
  display: inline-block;
  position: relative;
}

.selected-options,
.select-options {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px; /* Réglez la hauteur maximale si vous voulez une boîte de sélection déroulante */
  overflow-y: auto;
}

.selected-options ul,
.select-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.selected-options li,
.select-options li {
  padding: 8px 12px;
  cursor: pointer;
}

.select-options li:hover {
  background-color: #f0f0f0;
}

.selected-options li {
  background-color: #f0f0f0;
}

.selected-options li:hover {
  background-color: #e0e0e0;
}
.header_education{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.header_education .add {
  display: flex;
  align-items: center;
  width: fit-content;
}
.header_education span{
  color: #202124;
  font-size: 18px;
  font-weight: 700;
}
.btn-add-element{
  color: #D93025;
  font-size: 14px;
  font-weight: 600;
  width: fit-content;
  border: none;
  background: none;
}
.element-svg{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #FAE0DF;
  color: #D93025;
  border: none;
  margin-right: 7px;
  text-align: center;
}
.element-svg svg{
  margin-top: -3px;
}
.skill{
  font-weight: bold !important;
}


.badge_certificate{
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  border-bottom: 1px solid #7F7F7F;
}
.badge_certificate p:first-child{
  color: #202124;
  font-size: 19px;
font-family: "Roboto-Medium";
}
.badge_certificate a{
  color:  #1AC4A2;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.map_menu{
  border-radius: 8px;
  border: 1px solid  #ECEDF2;
  background: #FFF;
  padding: 20px;
  width: 100%;
}
.document{
  border-radius: 5px;
  border: 1px solid #ECEDF2;
  background: #FFF;
  text-align: center;
 /* padding: 32px 12px 13px;
  max-width: 18%;
  flex: 18%;*/
}
.required{
  border-bottom: 1px solid #7F7F7F;

  p{
    font-size: 14px;
  }
}

.left-required{
  border-radius: 5px;
  border: 1px solid #7F7F7F;
  background: #FFF;
  text-align: center;
  margin-right: 5px;
  padding: 15px;
 /* padding: 32px 12px 13px;
  max-width: 18%;
  flex: 18%;*/
}
.textarea{
  width: 100% !important;
  border-radius:8px !important ;
}
.document .content_image_document{
  width: 95px;
  height: 95px;
  margin: 0 auto 22px;
}
.document .content_image_document img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.document .content_image_document p{
  color: #47A99E;
  font-size: 20px;
  font-weight: 600;
}
.text-required {
  p{
    margin: 0;
    font-size: 14px;
  }
}
.large-checkbox {
  width: 20px;
  height: 20px;
  transform: scale(1.5); /* Augmente la taille */
  -webkit-transform: scale(1.5); /* Compatibilité avec les anciens navigateurs */
}
.content-motivation{
  width: 400px;
  height: 400px;
  text-align: center;
}
.content-motivation img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media all and (min-width: 300px) and (max-width: 767px){
  .second-nav {
    width: 100%;
    background-color: #1AC4A2;
    cursor: pointer;
}

.whatsapp-icon-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Ajuster selon la taille désirée */
  height: 30px; /* Ajuster selon la taille désirée */
  background-color: #25D366; /* Couleur de fond WhatsApp */
  border-radius: 50%; /* Rendre l'icône circulaire */
  margin-right: 5px; /* Espace entre l'icône et le texte */
}

.whatsapp-icon-contain svg {
  fill: white; /* Couleur de l'icône */
  width: 15px; /* Ajuster selon la taille désirée */
  height: 15px; /* Ajuster selon la taille désirée */
}

  nav ul li span{
    font-size: 14px;
    color: #FFF;
    font-family: "Italic";
    font-weight: 600;

}

    header ul li a:hover{
        color :#1AC4A2;
    }
  header ul li a {
    padding: 8px 23px;
    text-align: left;
  }
  .join  .hiring  {
    margin-left: 0px;
    margin-right: 0px;
  }
    .header_container_logo{
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .header_container_logo .categories svg{
       margin-right: 5px;
    }
    .header_container_logo .categories{
      align-items: center;
      padding: 13px 16px 15px;
      width: 51%;
    }
  #dropdownMenuBurger {
    font-size: 22px;
  }
    .menuH #dropdownMenuButton{
      font-size: 26px !important;
    }
    header .header_container_logo .content_image{
      width: 130px;
      height: auto;
      margin-left: -10px;
    }
    header .header_container_logo .content_image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
    }
    .categories .dropdown-menu a .content_image img{
      object-fit: cover;
    }
    .categories .dropdown-menu a .content_image {
      border-radius: unset;
      padding-right: 0px !important;
    }
    .categories .dropdown-menu{
        margin: 0;
    }
    .dropdown-menu-right{
      padding: 25px 0;
      top: 39px !important;
      left: -215px !important;
      right: 0 !important;
      float: right;
    }

    .web-header{
      display: none;
    }
  .mobile-header{
    display: block;
    height: 130px;
    text-align: center !important;

  }
  .mobile-header .header_container_logo {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    width: 100% !important;
    justify-content: space-between;
  }
  .cathegories {
    flex-wrap: wrap;
  }
  .dropdown-menu-right li {
    width: 100%;
    text-align: left;
  }
  .content-motivation{
    width: 200px;
    height: 200px;
  }
}

