
a{
    text-decoration: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.31);
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.31);
    margin-bottom:0 !important;
   /* height: 171.51px;*/
    border-radius: 4px;
    background-color: #FFFF;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

header ul {
    padding : 0px;
    margin : 0px;
    display : flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;

}
header .second-nav ul li {
    margin : 0px;
    font-weight: 400;

}
header ul li a i {
    margin : 10px 5px;
}
header nav {
    display : flex;
}
header ul li a {
    color : gray;
    width : 100%;
    height : 100%;
    padding: 8px 14px;
    font-weight: bold;
}

/*header ul li a:nth-child(3){
    min-width: 80px;
}*/
header ul li a:hover{
    color :#1AC4A2;
}
/*
header ul li a.active_lien_navbar {
    background-color :#175428;
    color : white;
}*/
header .header_container_logo{
    display : flex;
    font-size :16px;
    font-weight : 400;

}
header .header_container_logo .content_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

header .header_container_logo p
{
    font-size:15px;
    width:18px;
    font-weight:bold;
    color: #64748B;
    margin : 0px;
}

header .header_container_logo img {
    margin-right: 53px;
    margin-left: 11px;
    width: 128px;
    height: 93px;

}

/*second nav */
.second-nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}
.second-nav li button{
    width: 48px;
    height: 48px;
    border-radius: 4px;
}
.second-nav li span{
    font-size: 16px;
    font-weight: bold;
    /*color: #1967D2;*/

}
.second-nav li p{
    font-size: 13px;
    font-weight: bold;
}
.Language{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 91px;
    padding-right: 22px;
    color: #64748B;
}
.Language i{
    font-size: 24px;
}
.Language p{
    color: #191D23;
    font-size: 16px;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;

}
.search{
    justify-content: center;
    display:flex;
    width: 477px;
    align-items:center;
    padding:9px 8px;
    border:1px solid #D0D5DD;
    border-radius: 4px;
}
.search input{
    border-radius: 4px;
    border: 1px solid #D0D5DD;
    font-size:16px;
    font-weight:bold;
    width:100%;
    border:none;
    background-color: transparent;
}
input[type="text"]:focus {
    outline: none;
  }
.search svg{
    margin-right:10px;
}
.Light-Tel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Light-Tel button{
    background-color: #ECFDF5;
    border: none;
    margin-right:12px
}

.info p{
    color: #64748B;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    line-height: 1px;
    padding-bottom: 5px;

}
.info span{
    color: #1AC4A2;
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    line-height: 1px;

}
.separateur{
    height: 1px;
    background: #E7EAEE;
    margin-bottom: 8px;
}
/*first nav */
.first-nav{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}
.cathegories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #696969;
}
.header_container_logo .categories{
    padding-left: 53px;
    padding-right: 128px;
    display:flex;
    align-items:center;
    cursor: pointer;
}

.categories svg{
    margin-right: 10px;
}
.categories .dropdown-menu{
  margin: 30px -44px;
  padding: 23px 0px 20px 50px;
  background-color: #FFF;
}
.categories .dropdown-menu a{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #696969;
}
.categories .dropdown-menu a .content_image{
 height: 24px;
 width: 24px;
}
.categories .dropdown-menu a .content_image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 }
nav ul li span{
    font-size: 16px;
    font-weight: 400;
   /* color: #64748B;*/
    font-weight: bold;

}
.join{
    display: flex;
    align-items: center;
}
.join span{
    font-size: 16px;
    font-weight: 400;
    color: #64748B;
    font-weight: bold;

}
.join .hiring{
    color: #FFF;
    border: 1px solid #FFF;
    background-color: #1AC4A2;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 16px 10px 15px;

}
  .join .login{
    color: #696969;
    font-size: 15px;
    font-weight: bold;
  }
  .account{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account .content_image{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 11px;
    margin-right: 11px;
/* background-image: url("../../../assets/img/image_account.png"), lightgray 50% / cover no-repeat; */
}
.account .content_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
/* background-image: url("../../../assets/img/image_account.png"), lightgray 50% / cover no-repeat; */
}
.account .dropdown button{
    border: none;
    border-radius: 100%;
    margin-left: 10px;
}
.account p{
    margin: 0;
    color: #202124;
    font-size: 15px;
    font-weight: 600;
}
.first-nav{
  justify-content: space-between;
  width: 100%;
}
.dropdown .dropdown-menu a{
    display: flex;
    border: none;
    background-color:transparent;
    text-decoration:none;
    align-items:center
}
.dropdown .dropdown-menu a p{
    padding-left: 15px;
}

.btn-forgeet-passwoord{
  background: #04414d;
  width: 100%;
  color: white !important;
  padding: 13px;
  border-radius: 9px;
  margin-bottom: 25px;
}
.account-texte{
  color: #696969;
  margin-right: 2px;
}
.account-texte a{
  color: #696969;
}
.hr-element{
  border-bottom: 1px solid #cacaca;
  height: 12px;
  width: 47%;
}
.or-text {
  width: 6%;
  position: relative;
  z-index: 99;
  padding: 8px 6px 0;
}
.facebook-google-btn .btn {
  padding: 12px 15px;
  width: 46%;
  margin: 0 8px;
  font-size: 14px;
}
.btn-facebook {
  border: 1px solid #04414d;
  color: #04414d;
}
.btn-google{
  border: 1px solid #D93025;
  color: #D93025;
}


.custom-file {
  position: relative;
  overflow: hidden;
}

.custom-file input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

.custom-file-label {
  display: inline-block;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.custom-pdf-container{
  margin-bottom: 35px;
}
.second-step label{
  margin-bottom: 15px;
}
.loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
  height:100px;
  zoom: zoom;
}
.circular{animation:rotate 2s linear forwards ;width:100px;height:100px;position:relative}
.path{stroke:#007aff; stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation:
    dash 1.5s ease-in-out forwards,
    color 6s ease-in-out infinite
;
  stroke-linecap: round;}
@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }

  100%{
    stroke-dasharray: 150,200;
    stroke-dashoffset: 10;
  }

}
@keyframes color{
  100%, 0%{
    stroke: #28a745;
  }
  40%{
    stroke: #007aff;
  }
  66%{
    stroke: #24555d;
  }
  80%, 90%{
    stroke: #ffc107;
  }
}
@keyframes rotate{
  100%{transform:rotate(360deg)}
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;

  animation: stroke 0.5s  cubic-bezier(0.65, 0, 0.45, 1) 1.5s forwards, color 6s linear infinite;}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
.suc{
  stroke:#28a745;
  stroke-width:4;
  position:absolute;
  top:30px;
  left:30px;
  width:40px;
  height:40px;
}
.text-success-apply{
  font-size: 20px;
  text-align: center;
  color: #1e7e34;
}
.btn-other-opportunuties {
  background: #033357;
  color: white;
  width: fit-content;
  position: relative;
  margin: 40px auto 20px;
  padding: 10px 25px;
  display: block;
  border-radius: 10px;
}
.mobile-header{
  display: none;
}
@media all and (min-width: 300px) and (max-width: 767px){
    header ul li a:hover{
        color :#1AC4A2;
    }
    .header_container_logo{
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .header_container_logo .categories svg{
       margin-right: 5px;
    }
    .header_container_logo .categories{
        align-items:center;
       padding: 19px 16px;
      width: 51%;
    }
    .menuH #dropdownMenuButton{
      font-size: 26px !important;
    }
    header .header_container_logo .content_image{
      width: 171px;
      height: fit-content;
    }
    header .header_container_logo .content_image{
        width: 100px;
        height: 35.616px;
      margin-left: -10px;
    }
    header .header_container_logo .content_image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
    }
    .categories .dropdown-menu{
        margin: 0;
    }
    .dropdown-menu-right{
        padding: 25px 0 25px ;
      top: 29px !important;
      left: 13px !important;
    }
    .second-nav{
        padding-bottom: 25px;
    }
    .web-header{
      display: none;
    }
  .mobile-header{
    display: block;
  }
}

