<div class="coontent-skill-fisrt">
<app-header></app-header>
  <div class="content-top-skill position-relative">
    <div class="absolute-element"></div>
    <div class="container-fluid">
      <h1>Why give
        priority to skills ?</h1>
      <p>It's time to change the way we think about education and training. Skills are what matter most for success in today's world. Find out how!</p>
    </div>
  </div>
</div>
<section class="content-body-skill-first">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>The value of skills</h2>
        <p>The world of work is changing, and the focus is shifting from qualifications to skills. Employers are looking for candidates who can solve problems, innovate and adapt. Skills are becoming the real asset in this new era.</p>
        <p>Why should you prioritize skills development rather than focusing solely on traditional diplomas? Here are some key reasons:</p>
        <h3>Adapting to employers' needs :</h3>
        <p>Employers are looking for candidates who can apply their knowledge from day one. Job-specific skills are often more important than general qualifications, as they enable problem-solving and the achievement of specific goals.</p>
        <h3>Flexibility and versatility</h3>
        <p>Skills are transferable. By developing specific skills, you can adapt to different roles and sectors. This gives you an edge in the ever-changing job market.</p>
      </div>
      <div class="col-md-6">
        <div class="content-img-skill">
          <img src="../../../assets/img/android-smartphone-free.png" alt="android">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="read-more-block">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="mb-0">Read More</h2>
      <p class="description-read-more">In an ever-changing world, skills are becoming increasingly important. This FAQ explores why prioritizing skills over traditional certificates and diplomas is essential for success in today's professional world.</p>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Benefits of competency-based training
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  <p>La formation axée sur les compétences offre une approche éducative dynamique qui présente une multitude d'avantages significatifs. Tout d'abord, elle se distingue par sa pertinence pour un marché du travail en constante évolution. Contrairement aux diplômes traditionnels, les compétences restent pertinentes au fil du temps. Les entreprises recherchent des professionnels capables de s'adapter aux besoins changeants de l'industrie. La formation axée sur les compétences permet aux apprenants d'acquérir des compétences spécifiques recherchées par les employeurs, renforçant ainsi leur employabilité.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Why prioritize skills?
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Some placeholder content for the second accordion panel. This panel is hidden by default.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How to develop your skills
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree-">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree-" aria-expanded="false" aria-controls="collapseThree-">
                  How to develop your skills
                </button>
              </h2>
            </div>
            <div id="collapseThree-" class="collapse" aria-labelledby="headingThree-" data-parent="#accordionExample">
              <div class="card-body">
                And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-5">
        <div class="content-img-more-skills">
          <img src="../../../assets/img/more-skills.png" alt="more">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-boost-skills">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>Boost your skills with LiveLearn</h2>
        <p class="description-more-skills">LiveLearn offers you a unique opportunity to acquire new skills. Download the application and develop your potential today.</p>
        <ul>
          <li class="d-flex">
            <img src="../../../assets/img/check.svg" alt="">
            <span>Technical skills (coding, design, data science).</span>
          </li>
          <li class="d-flex">
            <img src="../../../assets/img/check.svg" alt="">
            <span>Essential skills (communication, leadership, creativity).</span>
          </li>
          <li class="d-flex">
            <img src="../../../assets/img/check.svg" alt="">
            <span>Practical skills (finance, cooking, health).</span>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <a href="" class="btn btn-store d-flex">
            <img src="../../../assets/img/play-store.svg" alt="">
            <span>Download on the <strong>Google Play</strong></span>
          </a>
          <a href="" class="btn btn-store d-flex">
            <img src="../../../assets/img/apple.svg" alt="">
            <span>Download on the <strong>Apple Store</strong></span>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-img-mockup">
          <img src="../../../assets/img/mockup-app.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<app-footers></app-footers>
