<div class="coontent-skill-fisrt">
<app-header></app-header>
  <div class="content-top-skill position-relative">
    <div class="absolute-element"></div>
    <div class="container-fluid">
      <h1>Discover the importance of prioritizing skills! </h1>
      <p>It's time to reshape our perspective on education and training. In today's world, success is driven by skills. Learn more about why skills matter most.</p>
    </div>
  </div>
</div>
<section class="content-body-skill-first">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>The value of skills</h2>
        <p>The world of work is changing, and the focus is shifting from diplomas to skills. Employers are looking for candidates who can solve problems, innovate and adapt. Skills are becoming thé real asset in this new era.</p>
        <p>Why should you prioritize skills development rather than focusing solely on traditional diplomas? Here are some key reasons:</p>
        <h3>Adapting to employers' needs :</h3>
        <p>Employers are looking for candidates who can apply their knowledge from day one. Job-specific skills are often more important than general qualifications, as they enable problem-solving and the achievement of specific goals.</p>
        <h3>Flexibility and versatility</h3>
        <p>Skills are transferable. By developing specific skills, you can adapt to different roles and sectors. This gives you an edge in the ever-changing job market.</p>
      </div>
      <div class="col-md-6">
        <div class="content-img-skill">
          <img src="../../../assets/img/android-smartphone-free.png" alt="android">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="read-more-block">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="mb-0">Read More</h2>
      <p class="description-read-more">In an ever-changing world, skills are becoming increasingly important. This FAQ explores why prioritizing skills over traditional certificates and diplomas is essential for success in today's professional world.</p>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Benefits of competency-based training
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  <p>Skills-focused training offers a dynamic educational approach with numerous significant advantages. Firstly, it stands out for its relevance to an ever-evolving job market. Unlike traditional degrees, skills remain valuable over time. Companies seek professionals capable of adapting to the changing needs of the industry. Skills-focused training allows learners to acquire specific skills sought by employers, thereby enhancing their employability.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Why prioritize skills above diplomas
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p>We prioritize skills over diplomas because we believe in the power of practical, real-world abilities. In today's dynamic job market, adaptability and relevant expertise are key. While diplomas offer a foundation, skills are the driving force that sets individuals apart. We understand that employers value hands-on capabilities, and our focus is on empowering individuals to acquire and showcase the specific skills that make a significant impact. Prioritizing skills is not just about qualifications; it's about ensuring success in the ever-evolving landscape of opportunities and challenges.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How do we support the talent towards work
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <p>Our commitment to supporting talent extends beyond just providing opportunities. We offer a high-end workplace equipped with fast internet to ensure a conducive and efficient work environment. Recognizing the importance of well-being, we provide health insurance coverage. Our dedication doesn't stop there—we offer guidance, comprehensive onboarding, and continuous training. This holistic approach is designed to not only empower talent in their current roles but also to keep them ahead of the curve with the latest industry developments.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree-">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree-" aria-expanded="false" aria-controls="collapseThree-">
                  Boost your skills with LiveLearn
                </button>
              </h2>
            </div>
            <div id="collapseThree-" class="collapse" aria-labelledby="headingThree-" data-parent="#accordionExample">
              <div class="card-body">
                <p>LiveLean offers a unique environment for acquiring new skills. Download the app now to easily showcase and upgrade your skills in:</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-5">
        <div class="content-img-more-skills">
          <img src="../../../assets/img/more-skills.png" alt="more">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-boost-skills">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>Boost your skills with LiveLearn</h2>
        <p class="description-more-skills">LiveLearn offers you a unique opportunity to acquire new skills. Download the application and develop your potential today.</p>
        <ul>
          <li class="d-flex">
            <img src="../../../assets/img/check.svg" alt="">
            <span>Technical skills (coding, design, data science).</span>
          </li>
          <li class="d-flex">
            <img src="../../../assets/img/check.svg" alt="">
            <span>Essential skills (communication, leadership, creativity).</span>
          </li>
          <li class="d-flex">
            <img src="../../../assets/img/check.svg" alt="">
            <span>Practical skills (finance, cooking, health).</span>
          </li>
        </ul>
        <div class="d-flex align-items-center group-btn-download">
          <a href="https://play.google.com/store/apps/details?id=com.livelearn.livelearn_mobile_app" class="btn btn-store d-flex">
            <img src="../../../assets/img/play-store.svg" alt="">
            <span>Download on the <strong>Google Play</strong></span>
          </a>
          <a href="https://apps.apple.com/nl/app/livelearn/id1666976386" class="btn btn-store d-flex">
            <img src="../../../assets/img/apple.svg" alt="">
            <span>Download on the <strong>Apple Store</strong></span>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-img-mockup">
          <img src="../../../assets/img/mockup-app.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

