<section class="recruting">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="recruting_now one">
                        <div class="recrutement">
                            <div class="text_recruting">
                                <p class="recrut">Recruiting</p>
                                <p class="now">Now</p>
                                <a class="btn" routerLink="/job" routerLinkActive="active_lien_navbar"> View All </a>      
                            </div>
                            <div class="content_image_recruting">
                                <img src="../../../assets/img/recruting.png" alt="Recruter">
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="recruting_now two">
                        <div class="recrutement">
                            <div class="text_recruting">
                                <p class="recrut">Membership</p>
                                <p class="now">Opportunities</p>
                                <a class="btn" routerLink="" routerLinkActive="active_lien_navbar"> View All </a>      
                            </div>
                            <div class="content_image_recruting">
                                <img src="../../../assets/img/Group_2.png" alt="Recruter">
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="recruting_now tree">
                        <div class="recrutement">
                            <div class="text_recruting">
                                <p class="recrut">Publish a job offer</p>
                                <p class="now"></p>
                                <a class="btn" (click)="submit()" routerLinkActive="active_lien_navbar"> View All </a>      
                            </div>
                            <div class="content_image_recruting">
                                <img src="../../../assets/img/Group_3.png" alt="Recruter">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
