/*sectiont recruting*/
.recruting{
    margin-bottom: 139px;
 }
  .recruting_now{
     border-radius: 8px;
     overflow: hidden;
  }
  .recruting_now.one{
    background: #EEE;
  }
  .recruting_now.two{
    background: #F5F0E5;
  }
  .recruting_now.tree{
    background: #EBEEF6;
  }
  .recrutement{
    border-radius: 8px;
   /* background: #EEE;*/
    display: flex;
  }
  .content_image_recruting{
     width: 50%;
  }
  .text_recruting{
    width: 50%;
    padding: 51px 0px 49px 41px;
    color:#202124 ;
    font-size: 24px;
    font-weight: 700;
  }
  .text_recruting .recrut{
    color:#1AC4A2 ;
    margin: 0;
  }
  .text_recruting a{
    border-radius: 8px;
    background-color:#1AC4A2 ;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #FFF !important;
    padding: 13px 32px 13px 34px;
  }

  .content_image_recruting img{
     width: 100%;
     height: 100%;
     margin: auto;
     object-fit: cover;
  }

  @media screen and (max-width: 1079px) and (min-width: 768px){
    .text_recruting a{
      padding: 5px;
    }
  }
  @media all and (min-width: 300px) and (max-width: 767px){
    .recruting{
      margin-bottom: 39px;
   }
    .recruting_now.one,.recruting_now.two{
      margin-bottom: 16px;
   }
   .text_recruting{
     padding: 10px 20px 10px 20px;
     font-size: 14px;
  }
   .text_recruting a{
    padding: 10px 15px 10px 17px;
  }
    .text_recruting .recrut {
      font-size: 18px !important;
      margin-bottom: 4px;
    }

}
