
<app-header></app-header>
<button class="show_sidebar" *ngIf="showButton" (click)="toggleSidebar()" style="left: 0;">Show Sidebar</button>
<section class="content-page-dashboard">
  <app-sidebar-company></app-sidebar-company>
  <div class="right_menu">
      <div class="content_right_menu">
        <span>Change Password</span>
          <div class="map_menu">
              <div class="head_map_menu">
                  <span>Change Password</span>
              </div>
              <form [formGroup]="myForm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 p-2">
                      <label for="email">
                        Old Password
                        <p>*</p>
                      </label>
                      <div class="input-group">
                        <input type="email" name="email" class="form-control" id="email" placeholder="*******"
                               formControlName="email">
                      </div>
                    </div>
                  </div>
                  <div class="row g-3">
                    <div class="col-md-6 col-sm-12   p-2">
                      <label for="firstName">New Password
                        <p>*</p>
                      </label>
                      <div class="input-group">
                        <input type="text" name="firstName" class="form-control" id="firstName" placeholder="*******"
                               formControlName="firstName">
                      </div>
                    </div>
                  </div>
                  <div class="row g-3">
                    <div class="col-md-6 col-sm-6   p-2">
                      <label for="name"> Confirm Password
                        <p>*</p>
                      </label>
                      <div class="input-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="*******"
                               formControlName="name">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer p-3  ">
                  <button class="btn btn-outline-secondary create " type="submit" routerLinkActive="active_lien_navbar"> Update </button>
                </div>
                <div class="clear"></div><br />
              </form>
        </div>

      </div>
  </div>
</section>
<app-footers></app-footers>