<app-header></app-header>
<section class="content-page-dashboard">
  <app-sidebar-company></app-sidebar-company>
  <div class="right_menu">
    <div class="content_right_menu">
      <h1 class="title-page">Change Password</h1>
      <div class="map_menu">
        <form>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-sm-6 p-2">
                <label for="email">
                  Old Password
                  <p>*</p>
                </label>
                <div class="input-group">
                  <input type="email" name="email" class="form-control" id="email" placeholder="*******">
                </div>
              </div>
            </div>
            <div class="row g-3">
              <div class="col-md-6 col-sm-6   p-2">
                <label for="firstName">New Password
                  <p>*</p>
                </label>
                <div class="input-group">
                  <input type="text" name="firstName" class="form-control" id="firstName" placeholder="*******">
                </div>
              </div>
            </div>
            <div class="row g-3">
              <div class="col-md-6 col-sm-6   p-2">
                <label for="name"> Confirm Password
                  <p>*</p>
                </label>
                <div class="input-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="*******">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer p-3  ">
            <button class="btn btn-outline-secondary create " type="submit" routerLinkActive="active_lien_navbar"> Update </button>
          </div>
          <div class="clear"></div><br />
        </form>
      </div>

    </div>
  </div>
</section>
<app-footers></app-footers>
