<div class="container">
    
    
      <!--
      <div class="bg">
        <div class="bg_"></div>
        <div class="shape">
          <div class="polygone_1"></div>
          <div class="polygone_2"></div>
        </div>
      </div>
      -->
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="group_menu">
              <div class=" col-md-6 description_group_menu">
             
                  <span class="liggey_description">LIGGÉEY: The Alliance of African <br> Talents and European Companies</span>
                  <p>LIGGÉEY is a platform that facilitates the international mobility of talent. We connect <br> companies and talent from all over the world, and <br> help create a more inclusive and equitable labor market.</p>
                <!--
                <div class="search">
                  <div class="content_search">
                    <div class="keyword">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                        <path d="M20.1089 18.6726L15.1949 13.7917C16.4164 12.3328 17.1522 10.4593 17.1522 8.41797C17.1522 3.77628 13.3506 0 8.67774 0C4.00481 0 0.203125 3.77628 0.203125 8.41797C0.203125 13.0593 4.00481 16.8353 8.67774 16.8353C10.7327 16.8353 12.619 16.1045 14.0878 14.8912L19.0018 19.7722C19.1546 19.9241 19.3551 20 19.5554 20C19.7557 20 19.9561 19.9241 20.109 19.7722C20.4147 19.4685 20.4147 18.9763 20.1089 18.6726ZM1.76881 8.41797C1.76881 4.63381 4.86812 1.55518 8.67774 1.55518C12.4872 1.55518 15.5865 4.63381 15.5865 8.41797C15.5865 12.2018 12.4872 15.2801 8.67774 15.2801C4.86812 15.2801 1.76881 12.2018 1.76881 8.41797Z" fill="#696969"/>
                      </svg>
                      <p>Job title, keywords, or company</p>
                    </div>
                    <div class="limit"></div>
                    <div class="location">
                      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="24" viewBox="0 0 19 24" fill="none">
                        <path d="M9.50379 0C4.50779 0 0.443359 4.03769 0.443359 9.0007C0.443359 12.547 1.93809 16.1342 4.76597 19.3745C6.87811 21.7948 8.97129 23.166 9.05944 23.2232C9.19438 23.3109 9.34914 23.3547 9.5039 23.3547C9.65855 23.3547 9.81331 23.3109 9.94836 23.2232C10.0364 23.166 12.1299 21.7948 14.242 19.3747C17.0701 16.1342 18.565 12.547 18.565 9.0007C18.5649 4.03769 14.5 0 9.50379 0ZM9.50379 21.5573C7.83741 20.3239 2.06783 15.577 2.06783 9.0007C2.06783 4.92741 5.40352 1.61357 9.50379 1.61357C13.6044 1.61357 16.9404 4.92741 16.9404 9.0007C16.9404 15.577 11.1703 20.3239 9.50379 21.5573Z" fill="#696969"/>
                        <path d="M9.50435 5.42676C7.52141 5.42676 5.9082 7.02925 5.9082 8.99909C5.9082 10.9684 7.52141 12.5706 9.50435 12.5706C11.4873 12.5706 13.1004 10.9684 13.1004 8.99909C13.1004 7.02935 11.4872 5.42676 9.50435 5.42676ZM9.50435 10.957C8.41714 10.957 7.53267 10.0787 7.53267 8.99909C7.53267 7.91897 8.41714 7.04033 9.50435 7.04033C10.5914 7.04033 11.4759 7.91897 11.4759 8.99909C11.4759 10.0787 10.5914 10.957 9.50435 10.957Z" fill="#696969"/>
                      </svg>
                      <p>City or postcode</p>
                    </div>
                    <div class="button">
                      <button class="btn btn-outline-secondary">
                        <a routerLink="" routerLinkActive="active_lien_navbar"> <p>Find Job</p> </a>      
                      </button>
                    </div>
                  </div>
                </div>
                
                <div class="jobholder">
                      <div class="content_jobholder">
                        <p>10k+ Candidates</p>
                        <div class="group_users">
                          <div class="group_users_1">
                            <span class="content_users_1">
                              <img src="../../../assets/img/eclipse_menu_1.png" alt="">
                            </span>
                          </div>
                          <div class="group_users_1">
                            <span class="content_users_1">
                              <img src="../../../assets/img/eclipse_menu_1.png" alt="">
                            </span>
                          </div>
                          <div class="group_users_1">
                            <span class="content_users_1">
                              <img src="../../../assets/img/eclipse_menu_1.png" alt="">
                            </span>
                          </div>
                          <div class="group_users_1">
                            <span class="content_users_1">
                              <img src="../../../assets/img/eclipse_menu_1.png" alt="">
                            </span>
                          </div>
                          <div class="group_users_1">
                            <span class="content_users_1">
                              <img src="../../../assets/img/eclipse_menu_1.png" alt="">
                            </span>
                          </div>
                          <div class="group_users_1">
                            <span class="content_users_1">
                              <img src="../../../assets/img/eclipse_menu_1.png" alt="">
                            </span>
                          </div>
                        </div>
                      </div>
                </div>
                -->
              </div>
              <div class="col-md-6 images_group_menu">
                <div class=" group_1">
                  <div class="content_images_group_menu_1">
                    <img src="../../../assets/img/learn3.jpeg" alt=""/>
                  </div>
                  <div class="work">
                    <div class="content_work">
                      <span class="envelop">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="25" viewBox="0 0 22 25" fill="none">
                          <g clip-path="url(#clip0_2503_9192)">
                            <path d="M19.2898 3.125H2.39564C1.3207 3.125 0.446289 4.17633 0.446289 5.46877V19.5313C0.446289 20.8237 1.3207 21.875 2.39564 21.875H19.2898C20.3648 21.875 21.2392 20.8237 21.2392 19.5313V5.46877C21.2392 4.17633 20.3648 3.125 19.2898 3.125ZM19.2898 4.68749C19.3781 4.68749 19.4621 4.70952 19.5389 4.74798L10.8427 13.81L2.14654 4.74798C2.22332 4.70957 2.30731 4.68749 2.39559 4.68749H19.2898ZM19.2898 20.3125H2.39564C2.03712 20.3125 1.74584 19.9623 1.74584 19.5312V6.39877L10.4169 15.4343C10.5394 15.5616 10.6911 15.625 10.8427 15.625C10.9944 15.625 11.146 15.5617 11.2685 15.4343L19.9396 6.39877V19.5313C19.9396 19.9623 19.6483 20.3125 19.2898 20.3125Z" fill="#FDC000"/>
                          </g>
                          <defs>
                            <clipPath id="clip0_2503_9192">
                              <rect width="20.7929" height="25" fill="white" transform="translate(0.446289)"/>
                            </clipPath>
                          </defs>
                        </svg>
                      </span>
                      <p>Work Inquiry <br> From Ali Tufan</p>
                    </div>
                  </div>
                </div>
                <div class="images_group_menu_2">
                    <div class="content_images_group_menu_2_1">
                      <img src="../../../assets/img/learn4.jpeg" alt="">
                    </div>
                    <div class="group_2">
                      <div class="content_images_group_menu_2_1">
                        <img src="../../../assets/img/learn5.jpeg" alt="">
                      </div>
                        <div class="content_jobholder">
                          <p>10k+ Candidates</p>
                          <div class="group_users">
                              <span class="content_users_1">
                                <img src="../../../assets/img/eclipse_menu_1.png" alt="">
                              </span>
                              <span class="content_users_1">
                                <img src="../../../assets/img/eclipse_menu_1.png" alt="">
                              </span>
                              <span class="content_users_1">
                                <img src="../../../assets/img/eclipse_menu_1.png" alt="">
                              </span>
                              <span class="content_users_1">
                                <img src="../../../assets/img/eclipse_menu_1.png" alt="">
                              </span>
                              <span class="content_users_1">
                                <img src="../../../assets/img/eclipse_menu_1.png" alt="">
                              </span>
                            
                        </div>
                        
                      </div> 
                    </div>
                              
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </section>
      <section class="container-fluid">
        <div class="row" style="display: flex;justify-content:space-between;margin-top:70px;">
            <div class="col-md-6 content_banner_left">
                  <div class="register_account_employers">
                  <span class="title_candidate">Employers</span>
                  <p>Sit amet, consectetur adipiscing elit, sed <br> do eiusmod tempor incididunt. Labore et <br> dolore nostrud exercitation.</p>
                  <div class="content_button_register_candidate">
                    <button class="btn btn-outline-secondary">
                      <a routerLink="/register" routerLinkActive="active_lien_navbar"> <p>Register Account</p> </a>      
                    </button>
                  </div>
                  </div>
                    <div class="content_images_banner_left">
                      <img src="../../../assets/img/learn1.jpeg" alt="banner"/>
                  </div>
            </div>
            <div class="col-md-6 content_banner_right">
                  <div class="register_account_candidate">
                    <span class="title_candidate">Candidate</span>
                    <p>Sit amet, consectetur adipiscing elit, sed <br> do eiusmod tempor incididunt. Labore et <br> dolore nostrud exercitation.</p>
                    <div class="content_button_register_candidate">
                      <button class="btn btn-outline-secondary">
                        <a routerLink="/register" routerLinkActive="active_lien_navbar"> <p>Register Account</p> </a>      
                      </button>
                    </div>
                  </div>
                  <div class="images_banner_left">
                    <div class="content_images_banner_right">
                      <img src="../../../assets/img/learn2.jpeg" alt="banner"/>
                    </div>
                  </div>                
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid">
              <div class="content_categories">
                <div class="header_categories">
                  <span>Category</span>
                  <p>Emplois en direct - 293 ajoutés aujourd'hui..</p>
                </div>
                <div class="row items_categories">
                  <div class="item_1">
                    <div class="content_item">
                      <div class="item_left">
                        <img src="../../../assets/img/money.png" alt="money">
                      
                      </div>
                      <div class="item_right">
                        <span>Accounting / Finance</span>
                        <p>(2 open positions)</p>
                      </div>
        
                    </div>
                  </div>
                  <div class="item_1">
                    <div class="content_item">
                      <div class="item_left">
                        <img src="../../../assets/img/money.png" alt="money">
                      
                      </div>
                      <div class="item_right">
                        <span>Accounting / Finance</span>
                        <p>(2 open positions)</p>
                      </div>
        
                    </div>
                  </div>
                  <div class="item_1">
                    <div class="content_item">
                      <div class="item_left">
                        <img src="../../../assets/img/money.png" alt="money">
                      
                      </div>
                      <div class="item_right">
                        <span>Accounting / Finance</span>
                        <p>(2 open positions)</p>
                      </div>
        
                    </div>
                  </div>
                </div>
                <div class="row items_categories">
                  <div class="item_1">
                    <div class="content_item">
                      <div class="item_left">
                        <img src="../../../assets/img/money.png" alt="money">
                      
                      </div>
                      <div class="item_right">
                        <span>Accounting / Finance</span>
                        <p>(2 open positions)</p>
                      </div>
        
                    </div>
                  </div>
                  <div class="item_1">
                    <div class="content_item">
                      <div class="item_left">
                        <img src="../../../assets/img/money.png" alt="money">
                      
                      </div>
                      <div class="item_right">
                        <span>Accounting / Finance</span>
                        <p>(2 open positions)</p>
                      </div>
        
                    </div>
                  </div>
                  <div class="item_1">
                    <div class="content_item">
                      <div class="item_left">
                        <img src="../../../assets/img/money.png" alt="money">
                      
                      </div>
                      <div class="item_right">
                        <span>Accounting / Finance</span>
                        <p>(2 open positions)</p>
                      </div>
        
                    </div>
                  </div>
                </div>
                <div class="row items_categories">
                  <div class="item_1">
                    <div class="content_item">
                      <div class="item_left">
                        <img src="../../../assets/img/money.png" alt="money">
                      
                      </div>
                      <div class="item_right">
                        <span>Accounting / Finance</span>
                        <p>(2 open positions)</p>
                      </div>
        
                    </div>
                  </div>
                  <div class="item_1">
                    <div class="content_item">
                      <div class="item_left">
                        <img src="../../../assets/img/money.png" alt="money">
                      
                      </div>
                      <div class="item_right">
                        <span>Accounting / Finance</span>
                        <p>(2 open positions)</p>
                      </div>
        
                    </div>
                  </div>
                  <div class="item_1">
                    <div class="content_item">
                      <div class="item_left">
                        <img src="../../../assets/img/money.png" alt="money">
                      
                      </div>
                      <div class="item_right">
                        <span>Accounting / Finance</span>
                        <p>(2 open positions)</p>
                      </div>
        
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </section>
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class=" employer">
                <div class="content_image">
                  <img src="../../../assets/img/image001.png" alt="image">
                </div>
                <div class="list">
                      <div class="content_list">
                        <div class="header_list">
                          <p>They download it</p>
                        </div>
                        <div class="body_list">
                          <div class="image_list">
                            <img src="../../../assets/img/money.png" alt="image list"/>
                          </div>
                          <div class="name_profil">
                            <span class="name">Fama Diop</span>
                            <p class="profil">Developpeur Web</p>
                          </div>
                        </div>
                        <div class="body_list">
                          <div class="image_list">
                            <img src="../../../assets/img/money.png" alt="image list"/>
                          </div>
                          <div class="name_profil">
                            <span class="name">Fama Diop</span>
                            <p class="profil">Developpeur Web</p>
                          </div>
                        </div>
                        <div class="body_list">
                          <div class="image_list">
                            <img src="../../../assets/img/money.png" alt="image list"/>
                          </div>
                          <div class="name_profil">
                            <span class="name">Fama Diop</span>
                            <p class="profil">Developpeur Web</p>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="inner">
                  <div class="header_inner">
                    <span class="inner_1">Boost your skills with LiveLearn</span>
                    <p class="inner_2">LiveLearn offers you a unique  opportunity to acquire new <br> skills. Download the application and develop your potential <br> today.</p>
                  </div>
                  <ul>
                    <li class="technical_skills">
                        <p style="margin-right: 14px;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                          <path d="M15.7657 0.841261C15.4533 0.528824 14.9468 0.528824 14.6343 0.841261L5.04982 10.4258L1.3657 6.74172C1.0533 6.42929 0.546796 6.42932 0.234328 6.74172C-0.0781093 7.05413 -0.0781093 7.56063 0.234328 7.87307L4.48414 12.1228C4.79645 12.4352 5.30332 12.435 5.61551 12.1228L15.7657 1.97264C16.0781 1.66023 16.0781 1.1537 15.7657 0.841261Z" fill="#202124"/>
                          </svg>
                        </p>
                        <p>
                          Technical skills (coding, design, data science).
                        </p>
                    </li>
                    <li class="technical_skills">
                        <p style="margin-right: 14px;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                          <path d="M15.7657 0.841261C15.4533 0.528824 14.9468 0.528824 14.6343 0.841261L5.04982 10.4258L1.3657 6.74172C1.0533 6.42929 0.546796 6.42932 0.234328 6.74172C-0.0781093 7.05413 -0.0781093 7.56063 0.234328 7.87307L4.48414 12.1228C4.79645 12.4352 5.30332 12.435 5.61551 12.1228L15.7657 1.97264C16.0781 1.66023 16.0781 1.1537 15.7657 0.841261Z" fill="#202124"/>
                          </svg>
                        </p>
                        <p>
                          Technical skills (coding, design, data science).
                        </p>
                    </li>
                    <li class="technical_skills">
                        <p style="margin-right: 14px;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                          <path d="M15.7657 0.841261C15.4533 0.528824 14.9468 0.528824 14.6343 0.841261L5.04982 10.4258L1.3657 6.74172C1.0533 6.42929 0.546796 6.42932 0.234328 6.74172C-0.0781093 7.05413 -0.0781093 7.56063 0.234328 7.87307L4.48414 12.1228C4.79645 12.4352 5.30332 12.435 5.61551 12.1228L15.7657 1.97264C16.0781 1.66023 16.0781 1.1537 15.7657 0.841261Z" fill="#202124"/>
                          </svg>
                        </p>
                        <p>
                          Technical skills (coding, design, data science).
                        </p>
                    </li>
                  </ul>
                  <div class="content_boutton">
                    <button class="btn btn-outline-secondary  login-register">
                      <a routerLink="" routerLinkActive="active_lien_navbar"> <p>Download</p> </a>      
                    </button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid">
            <div class="blog">
              <div class="header">
                <span>Recent News Articles</span>
                <p>Fresh job related news content posted each day.</p>
              </div>
              <div class="row">
                <div class=" col-md-3 content_articles">
                  
                  <div class="card_article">
                    <div class="rectangle_article">
                      <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <div class="tops">
                          <p class="date">31 Mars 2021 </p>
                          <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
                            <ellipse cx="2.5" cy="3.13988" rx="2.5" ry="2.69542" fill="#696969"/>
                            </svg>
                          </span>
                          <p class="commentaires">12 Commentaires</p>
                        </div>
                        <h5 class="card-title">How to reach your goals?</h5>
                        <p class="card-text">In this article, discover 5 key steps to acquire new skills<br> with Livelearn and land a job.
                        </p>
                        <div class="read">
                          <span>Read more</span>
                          <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                              <g clip-path="url(#clip0_2580_12439)">
                                <path d="M9.33309 6.88311L3.99294 1.12564C3.86943 0.992365 3.70455 0.918945 3.52875 0.918945C3.35294 0.918945 3.18807 0.992365 3.06456 1.12564L2.67129 1.54954C2.41539 1.82576 2.41539 2.27469 2.67129 2.55049L7.15555 7.38527L2.66632 12.2254C2.5428 12.3587 2.47461 12.5363 2.47461 12.7258C2.47461 12.9154 2.5428 13.0931 2.66632 13.2265L3.05958 13.6503C3.18319 13.7835 3.34797 13.857 3.52377 13.857C3.69958 13.857 3.86445 13.7835 3.98796 13.6503L9.33309 7.88753C9.45689 7.75384 9.52489 7.57534 9.5245 7.38558C9.52489 7.19509 9.45689 7.01669 9.33309 6.88311Z" fill="#34A853"/>
                              </g>
                              <defs>
                                <clipPath id="clip0_2580_12439">
                                  <rect width="12" height="12.938" fill="white" transform="translate(0 0.918945)"/>
                                </clipPath>
                              </defs>
                            </svg>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card_article">
                    <div class="rectangle_article">
                      <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <div class="tops">
                          <p class="date">31 Mars 2021 </p>
                          <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
                            <ellipse cx="2.5" cy="3.13988" rx="2.5" ry="2.69542" fill="#696969"/>
                            </svg>
                          </span>
                          <p class="commentaires">12 Commentaires</p>
                        </div>
                        <h5 class="card-title">How to reach your goals?</h5>
                        <p class="card-text">In this article, discover 5 key steps to acquire new skills<br> with Livelearn and land a job.
                        </p>
                        <div class="read">
                          <span>Read more</span>
                          <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                              <g clip-path="url(#clip0_2580_12439)">
                                <path d="M9.33309 6.88311L3.99294 1.12564C3.86943 0.992365 3.70455 0.918945 3.52875 0.918945C3.35294 0.918945 3.18807 0.992365 3.06456 1.12564L2.67129 1.54954C2.41539 1.82576 2.41539 2.27469 2.67129 2.55049L7.15555 7.38527L2.66632 12.2254C2.5428 12.3587 2.47461 12.5363 2.47461 12.7258C2.47461 12.9154 2.5428 13.0931 2.66632 13.2265L3.05958 13.6503C3.18319 13.7835 3.34797 13.857 3.52377 13.857C3.69958 13.857 3.86445 13.7835 3.98796 13.6503L9.33309 7.88753C9.45689 7.75384 9.52489 7.57534 9.5245 7.38558C9.52489 7.19509 9.45689 7.01669 9.33309 6.88311Z" fill="#34A853"/>
                              </g>
                              <defs>
                                <clipPath id="clip0_2580_12439">
                                  <rect width="12" height="12.938" fill="white" transform="translate(0 0.918945)"/>
                                </clipPath>
                              </defs>
                            </svg>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card_article">
                    <div class="rectangle_article">
                      <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <div class="tops">
                          <p class="date">31 Mars 2021 </p>
                          <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
                            <ellipse cx="2.5" cy="3.13988" rx="2.5" ry="2.69542" fill="#696969"/>
                            </svg>
                          </span>
                          <p class="commentaires">12 Commentaires</p>
                        </div>
                        <h5 class="card-title">How to reach your goals?</h5>
                        <p class="card-text">In this article, discover 5 key steps to acquire new skills<br> with Livelearn and land a job.
                        </p>
                        <div class="read">
                          <span>Read more</span>
                          <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                              <g clip-path="url(#clip0_2580_12439)">
                                <path d="M9.33309 6.88311L3.99294 1.12564C3.86943 0.992365 3.70455 0.918945 3.52875 0.918945C3.35294 0.918945 3.18807 0.992365 3.06456 1.12564L2.67129 1.54954C2.41539 1.82576 2.41539 2.27469 2.67129 2.55049L7.15555 7.38527L2.66632 12.2254C2.5428 12.3587 2.47461 12.5363 2.47461 12.7258C2.47461 12.9154 2.5428 13.0931 2.66632 13.2265L3.05958 13.6503C3.18319 13.7835 3.34797 13.857 3.52377 13.857C3.69958 13.857 3.86445 13.7835 3.98796 13.6503L9.33309 7.88753C9.45689 7.75384 9.52489 7.57534 9.5245 7.38558C9.52489 7.19509 9.45689 7.01669 9.33309 6.88311Z" fill="#34A853"/>
                              </g>
                              <defs>
                                <clipPath id="clip0_2580_12439">
                                  <rect width="12" height="12.938" fill="white" transform="translate(0 0.918945)"/>
                                </clipPath>
                              </defs>
                            </svg>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>  
          </div>
        </div>
      </section>
      <section>
        <div class="container">
            <div class="row compagny">
              <div class="browse_all">
                <div class="title_browse_all">
                  <h2>Top Compagny Registered</h2>
                  <p class="browse_title">Some of the companies we've helped recruit excellent applicants over the years.</p>
                </div>
                  <div class="browse">
                      <p>Browse All</p>
                      <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                              <g clip-path="url(#clip0_2503_9111)">
                              <path d="M9.33309 6.02688L3.99294 0.686823C3.86943 0.563214 3.70455 0.495117 3.52875 0.495117C3.35294 0.495117 3.18807 0.563214 3.06456 0.686823L2.67129 1.07999C2.41539 1.33618 2.41539 1.75257 2.67129 2.00837L7.15555 6.49263L2.66632 10.9819C2.5428 11.1055 2.47461 11.2702 2.47461 11.446C2.47461 11.6219 2.5428 11.7866 2.66632 11.9103L3.05958 12.3034C3.18319 12.427 3.34797 12.4951 3.52377 12.4951C3.69958 12.4951 3.86445 12.427 3.98796 12.3034L9.33309 6.95848C9.45689 6.83448 9.52489 6.66892 9.5245 6.49292C9.52489 6.31624 9.45689 6.15078 9.33309 6.02688Z" fill="#34A853"/>
                              </g>
                              <defs>
                              <clipPath id="clip0_2503_9111">
                              <rect width="12" height="12" fill="white" transform="translate(0 0.495117)"/>
                              </clipPath>
                              </defs>
                          </svg>
                      </span>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 content_card">
                  <div class="card">
                      <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Udemy</h5>
                        <div class="location">
                          <span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18" fill="none">
                                  <path d="M7.39035 0.495117C3.80634 0.495117 0.890625 3.41122 0.890625 6.99562C0.890625 9.55684 1.96291 12.1476 3.99156 14.4878C5.50675 16.2358 7.00835 17.2261 7.07159 17.2675C7.16839 17.3308 7.27941 17.3624 7.39043 17.3624C7.50137 17.3624 7.61239 17.3308 7.70927 17.2675C7.77243 17.2261 9.27427 16.2358 10.7895 14.4879C12.8183 12.1476 13.8906 9.55684 13.8906 6.99562C13.8905 3.41122 10.9745 0.495117 7.39035 0.495117ZM7.39035 16.0643C6.19493 15.1735 2.05598 11.7451 2.05598 6.99562C2.05598 4.0538 4.44892 1.66047 7.39035 1.66047C10.332 1.66047 12.7252 4.0538 12.7252 6.99562C12.7252 11.7451 8.58585 15.1735 7.39035 16.0643Z" fill="#696969"/>
                                  <path d="M7.39033 4.41455C5.96782 4.41455 4.81055 5.5719 4.81055 6.99457C4.81055 8.41685 5.96782 9.57397 7.39033 9.57397C8.81284 9.57397 9.97004 8.41685 9.97004 6.99457C9.97004 5.57198 8.81276 4.41455 7.39033 4.41455ZM7.39033 8.40861C6.6104 8.40861 5.9759 7.77427 5.9759 6.99457C5.9759 6.21448 6.6104 5.57991 7.39033 5.57991C8.17019 5.57991 8.80468 6.21448 8.80468 6.99457C8.80468 7.77427 8.17019 8.40861 7.39033 8.40861Z" fill="#696969"/>
                              </svg>
                           </span>
                            <p class="card-text">Nederland, NL.</p>
                        </div>
                        
                       <!-- <a href="#!" class="btn btn-primary">Button</a>-->
                        <button class="btn btn-outline-secondary ">
                          <i class="fa fa-user"></i>
                          <span>Open Position</span>
                        </button>
                      </div>
                  </div>
                  <div class="card">
                      <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Udemy</h5>
                        <div class="location">
                          <span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18" fill="none">
                                  <path d="M7.39035 0.495117C3.80634 0.495117 0.890625 3.41122 0.890625 6.99562C0.890625 9.55684 1.96291 12.1476 3.99156 14.4878C5.50675 16.2358 7.00835 17.2261 7.07159 17.2675C7.16839 17.3308 7.27941 17.3624 7.39043 17.3624C7.50137 17.3624 7.61239 17.3308 7.70927 17.2675C7.77243 17.2261 9.27427 16.2358 10.7895 14.4879C12.8183 12.1476 13.8906 9.55684 13.8906 6.99562C13.8905 3.41122 10.9745 0.495117 7.39035 0.495117ZM7.39035 16.0643C6.19493 15.1735 2.05598 11.7451 2.05598 6.99562C2.05598 4.0538 4.44892 1.66047 7.39035 1.66047C10.332 1.66047 12.7252 4.0538 12.7252 6.99562C12.7252 11.7451 8.58585 15.1735 7.39035 16.0643Z" fill="#696969"/>
                                  <path d="M7.39033 4.41455C5.96782 4.41455 4.81055 5.5719 4.81055 6.99457C4.81055 8.41685 5.96782 9.57397 7.39033 9.57397C8.81284 9.57397 9.97004 8.41685 9.97004 6.99457C9.97004 5.57198 8.81276 4.41455 7.39033 4.41455ZM7.39033 8.40861C6.6104 8.40861 5.9759 7.77427 5.9759 6.99457C5.9759 6.21448 6.6104 5.57991 7.39033 5.57991C8.17019 5.57991 8.80468 6.21448 8.80468 6.99457C8.80468 7.77427 8.17019 8.40861 7.39033 8.40861Z" fill="#696969"/>
                              </svg>
                           </span>
                            <p class="card-text">Nederland, NL.</p>
                        </div>
                        
                       <!-- <a href="#!" class="btn btn-primary">Button</a>-->
                        <button class="btn btn-outline-secondary ">
                          <i class="fa fa-user"></i>
                          <span>Open Position</span>
                        </button>
                      </div>
                  </div>
                  <div class="card">
                      <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Udemy</h5>
                        <div class="location">
                          <span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18" fill="none">
                                  <path d="M7.39035 0.495117C3.80634 0.495117 0.890625 3.41122 0.890625 6.99562C0.890625 9.55684 1.96291 12.1476 3.99156 14.4878C5.50675 16.2358 7.00835 17.2261 7.07159 17.2675C7.16839 17.3308 7.27941 17.3624 7.39043 17.3624C7.50137 17.3624 7.61239 17.3308 7.70927 17.2675C7.77243 17.2261 9.27427 16.2358 10.7895 14.4879C12.8183 12.1476 13.8906 9.55684 13.8906 6.99562C13.8905 3.41122 10.9745 0.495117 7.39035 0.495117ZM7.39035 16.0643C6.19493 15.1735 2.05598 11.7451 2.05598 6.99562C2.05598 4.0538 4.44892 1.66047 7.39035 1.66047C10.332 1.66047 12.7252 4.0538 12.7252 6.99562C12.7252 11.7451 8.58585 15.1735 7.39035 16.0643Z" fill="#696969"/>
                                  <path d="M7.39033 4.41455C5.96782 4.41455 4.81055 5.5719 4.81055 6.99457C4.81055 8.41685 5.96782 9.57397 7.39033 9.57397C8.81284 9.57397 9.97004 8.41685 9.97004 6.99457C9.97004 5.57198 8.81276 4.41455 7.39033 4.41455ZM7.39033 8.40861C6.6104 8.40861 5.9759 7.77427 5.9759 6.99457C5.9759 6.21448 6.6104 5.57991 7.39033 5.57991C8.17019 5.57991 8.80468 6.21448 8.80468 6.99457C8.80468 7.77427 8.17019 8.40861 7.39033 8.40861Z" fill="#696969"/>
                              </svg>
                           </span>
                            <p class="card-text">Nederland, NL.</p>
                        </div>
                        
                       <!-- <a href="#!" class="btn btn-primary">Button</a>-->
                        <button class="btn btn-outline-secondary ">
                          <i class="fa fa-user"></i>
                          <span>Open Position</span>
                        </button>
                      </div>
                  </div>
                  <div class="card">
                      <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Udemy</h5>
                        <div class="location">
                          <span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18" fill="none">
                                  <path d="M7.39035 0.495117C3.80634 0.495117 0.890625 3.41122 0.890625 6.99562C0.890625 9.55684 1.96291 12.1476 3.99156 14.4878C5.50675 16.2358 7.00835 17.2261 7.07159 17.2675C7.16839 17.3308 7.27941 17.3624 7.39043 17.3624C7.50137 17.3624 7.61239 17.3308 7.70927 17.2675C7.77243 17.2261 9.27427 16.2358 10.7895 14.4879C12.8183 12.1476 13.8906 9.55684 13.8906 6.99562C13.8905 3.41122 10.9745 0.495117 7.39035 0.495117ZM7.39035 16.0643C6.19493 15.1735 2.05598 11.7451 2.05598 6.99562C2.05598 4.0538 4.44892 1.66047 7.39035 1.66047C10.332 1.66047 12.7252 4.0538 12.7252 6.99562C12.7252 11.7451 8.58585 15.1735 7.39035 16.0643Z" fill="#696969"/>
                                  <path d="M7.39033 4.41455C5.96782 4.41455 4.81055 5.5719 4.81055 6.99457C4.81055 8.41685 5.96782 9.57397 7.39033 9.57397C8.81284 9.57397 9.97004 8.41685 9.97004 6.99457C9.97004 5.57198 8.81276 4.41455 7.39033 4.41455ZM7.39033 8.40861C6.6104 8.40861 5.9759 7.77427 5.9759 6.99457C5.9759 6.21448 6.6104 5.57991 7.39033 5.57991C8.17019 5.57991 8.80468 6.21448 8.80468 6.99457C8.80468 7.77427 8.17019 8.40861 7.39033 8.40861Z" fill="#696969"/>
                              </svg>
                           </span>
                            <p class="card-text">Nederland, NL.</p>
                        </div>
                        
                       <!-- <a href="#!" class="btn btn-primary">Button</a>-->
                        <button class="btn btn-outline-secondary ">
                          <i class="fa fa-user"></i>
                          <span>Open Position</span>
                        </button>
                      </div>
                  </div>
              </div>
            <!--  <div class="up_arrow" style="position: relative; width: 40px; height: 40px;">
                <svg style="position: absolute; top: 0; left: 0;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <circle opacity="0.07" cx="20" cy="20" r="20" fill="#043356"/>
                </svg>
                <svg style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                  <g clip-path="url(#clip0_2530_11136)">
                    <path d="M0.159839 7.45971L0.487403 7.78955C0.590493 7.89255 0.727648 7.9493 0.874234 7.9493C1.02074 7.9493 1.15806 7.89255 1.26115 7.78955L4.99776 4.05277L8.73869 7.79369C8.84162 7.8967 8.97893 7.95337 9.12544 7.95337C9.27195 7.95337 9.40934 7.8967 9.51235 7.79369L9.84 7.46589C10.0533 7.25271 10.0533 6.90547 9.84 6.6923L5.38598 2.22227C5.28305 2.11934 5.1459 2.04682 4.99809 2.04682L4.99638 2.04682C4.8498 2.04682 4.71264 2.11942 4.60971 2.22227L0.159839 6.68019C0.0567485 6.78311 0.000163168 6.92442 7.71459e-08 7.07092C6.43309e-08 7.21751 0.0567484 7.35686 0.159839 7.45971Z" fill="#043356"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_2530_11136">
                      <rect width="10" height="10" fill="white" transform="translate(10 10) rotate(-180)"/>
                    </clipPath>
                  </defs>
                </svg>
              </div>
               -->
            </div>
            <span class="slider_point">
                <svg xmlns="http://www.w3.org/2000/svg" width="92" height="9" viewBox="0 0 92 9" fill="none">
                    <circle cx="52" cy="4.49512" r="4" fill="#BFC8CB"/>
                    <circle cx="4" cy="4.49512" r="4" fill="#BFC8CB"/>
                    <circle cx="70" cy="4.49512" r="4" fill="#BFC8CB"/>
                    <circle cx="88" cy="4.49512" r="4" fill="#BFC8CB"/>
                    <rect x="18" y="0.495117" width="20" height="8" rx="4" fill="#202124"/>
              </svg>
            </span>
        </div>
      </section>
      <section>
        <div class="container-fluid">
            <div class="testimonial">
              <div class="header">
                <span>Testimonial from Ours Customers</span>
                <p>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor
                </p>
              </div>
              <div class="row items">
                  <div class="col-md-6 item_left">
                    <img src="assets/./img/learn.jpeg" alt="image"/>
                  </div>
                  <div class="col-md-6 item_right">
                    <div class="info">
                      <span>Great Quality</span>
                      <p class="description">Without JobHunt i’d be homeless, they found me a job and got me sorted out <br> quickly with everything! Can’t quite… The Mitech team works really <br> hard to ensure high level of quality</p>
                      <h5>Gabriel Nolan</h5>
                      <p class="profil">Consultant</p>
                      <div class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="110" height="51" viewBox="0 0 110 51" fill="none">
                          <rect x="60" y="0.495117" width="50" height="50" rx="8" fill="#34A853"/>
                          <path d="M87.8585 25.0269L82.5183 19.6868C82.3948 19.5632 82.2299 19.4951 82.0541 19.4951C81.8783 19.4951 81.7135 19.5632 81.5899 19.6868L81.1967 20.08C80.9408 20.3362 80.9408 20.7526 81.1967 21.0084L85.6809 25.4926L81.1917 29.9819C81.0682 30.1055 81 30.2702 81 30.446C81 30.6219 81.0682 30.7866 81.1917 30.9103L81.585 31.3034C81.7086 31.427 81.8734 31.4951 82.0492 31.4951C82.225 31.4951 82.3898 31.427 82.5134 31.3034L87.8585 25.9585C87.9823 25.8345 88.0503 25.6689 88.0499 25.4929C88.0503 25.3162 87.9823 25.1508 87.8585 25.0269Z" fill="white"/>
                          <rect opacity="0.15" y="0.495117" width="50" height="50" rx="8" fill="#34A853"/>
                          <path d="M21.1913 26.9634L26.5315 32.3034C26.655 32.427 26.8199 32.4951 26.9957 32.4951C27.1715 32.4951 27.3363 32.427 27.4599 32.3034L27.8531 31.9102C28.109 31.6541 28.109 31.2377 27.8531 30.9819L23.3689 26.4976L27.8581 22.0084C27.9816 21.8848 28.0498 21.72 28.0498 21.5443C28.0498 21.3684 27.9816 21.2036 27.8581 21.0799L27.4648 20.6868C27.3412 20.5632 27.1764 20.4951 27.0006 20.4951C26.8248 20.4951 26.66 20.5632 26.5365 20.6868L21.1913 26.0318C21.0675 26.1558 20.9995 26.3213 20.9999 26.4973C20.9995 26.674 21.0675 26.8395 21.1913 26.9634Z" fill="#34A853"/>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </section>
      
     
        
    <app-footers></app-footers>
</div>