
/* section description home*/
.description_home{
    background: #F5F7FC;
}
.definition_home {
    color: #202124;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 50px;
}
.hiring_work {
    display: flex;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 112px;
}
.hiring_work .hiring{
    padding: 14px 27px 13px 27px;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    border: 1px solid  #FFF;
    background-color:  #1AC4A2;
}
.hiring_work .work{
    color: #696969;
    font-size: 15px;
    font-weight: 400;
    padding-left: 15px;
}

.number_candidates{
    font-weight: 700;
    padding-right: 20px;
    margin: 0;
    line-height: -1.5;
}
.jobholder{
    height: 50px;
    display: flex;
}

.content_users_1{
    width: 50px;
    height: 50px;
    margin-right: -10px;
}
.content_users_1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.image_home{
    width: 588px;
    height:569.967px;
    border-radius: 100%;
    margin: 0 auto;
}
.image_home img{
    width:100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}
.new_remote{
    display: flex;
    align-items: center;
    border-radius: 42px;
    background-color: #1ac4a226;
    padding: 15px 20px 16px 10px;
    
}
.new_remote span{
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 26px 5px 26px;
    border-radius: 20px;
    background-color:  #1AC4A2;
    
}
.new_remote p{
    padding-left: 15px;
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
    margin: 0; /* Supprimer la marge par défaut du paragraphe */
    line-height: 1.5; /* Ajuster la hauteur de ligne pour centrer verticalement le texte */

}
.text_home h2{
    color: #202124;
    font-size: 47px;
    font-weight: 700;
    padding: 40px 0 36px 0;
}

.content_home{
    padding-top:96px ;
}
.content_home_{
    padding-bottom: 73px;
}
/*section banner*/
.banner{
    margin-top: 160px;
}
.banner_left,.banner_right{
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}
.title_description{
    color: #FFF;
    font-size: 26px;
    font-weight: bold;
}
.content_description{
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 17px;
    padding-top: 13px;
}
.description_banner{
    width: 50%;
    opacity: 0.9;
    background-color: #202124;
    padding-top: 14px;
    padding-left: 24px;
    padding-bottom: 36px;

}
.right{
    background-color: #1AC4A2;
}
.description_banner.left  a{
    border-radius: 8px;
    background-color: #FFF;
    color: #202124;
    font-size: 15px;
    font-weight: 700;
    padding: 17px 62px 15px 63px;
}
.description_banner.right a{
    border-radius: 8px;
    background-color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 17px 62px 15px 63px;
    color: #1AC4A2;

}

.image_banner{
    width: 50%;
   /* height: fit-content;*/
}
.image_banner img{
    width: 100%;
    height: 100%;
    object-fit: 100%;
    margin: auto;
}
/* section jobs*/
.jobs{
    margin-top: 150px;
    margin-bottom: 130px;
}
.header_popular_job{
    text-align: center;
}
.header_popular_job span{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}
.header_popular_job p{
    color: #696969;
    font-size: 15px;
   font-weight: bold;    
}

.tabs{
    padding: 30px 0 30px 0;
}

.tabs ul li{
    border-radius: 8px;
    background:  #F0F5F7;
    padding: 3px 20px 0px 20px;
    margin-left: 20px;

}
.tabs ul li:first-child{
    background-color: #FFF;
}
.tabs ul li a{
    color: #000;
}
.tabs .frame{
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    padding: 7px 20px 4px 20px;
    text-align: center;
    background-color: #F0F5F7;

    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
    margin-right: 15px;

}
.tabs .frame:hover{
    background-color: #FFFF;
}
.tabs .frame p{
    color: #202124;
    font-size: 15px;
    font-weight: bold;
}
.items_job{
    margin-top: 33px;
}
.items_job .job_list_1{
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    background-color: #FFF;
}
 .job_list_1 .content_job_list_1{
    display: flex;
}
.logo{
    width: 50px;
    height: 50px;
    margin: 32px 21px 74px 32px;
}
.logo .content_logo{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
}
.logo .content_logo img{
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
    object-fit: cover;
    /*margin: auto;*/
}
.description_job{
    padding-top: 32px;
}
.description_job_{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.description_job .bookmark{
    position: absolute;
    top: 35px; 
    right: 25px; 
}
.description_job .bookmark button{
  text-align: center;
  font-size: 16px; /* Ajustez la taille de la police au besoin */
  border: none;
}

.description_job span{
    color: #202124;
    font-size: 18px;
    font-weight: bold;
}
.description_job .info{
    display: flex;
}
.description_job .info .info_item{
    display: flex;
    margin-right: 12px;
}
.description_job .info .info_item svg{
    margin-right: 11px;
}
.description_job .info .info_item p{
    color: #696969;
    font-size: 14px;
    font-weight: bold;
}

.description_job .time .content_time{
    background-color: #DAE1E6;
    border-radius: 60px;
    margin-right: 15px;
    padding: 5px;
}
.description_job .time .content_time p{
    margin: 0;
    line-height: 1.5;
    font-size: 13px;
    font-weight: bold;
    color: #043356;
}
.description_job .tags .content_tags{
    background-color: #DDF6F1;
    border-radius: 60px;
    margin-right: 15px;
    padding: 5px 10px;

}
.description_job .tags .content_tags p{
    font-size: 13px;
    font-weight: bold;
    color: #1AC4A2;
    margin: 0;
    line-height: 1.5;
}
.description_job .all_info{
    display: flex;
}
/* section skills*/
.skills{
    margin-bottom: 100px;
}

.description_skills{
    padding-top:108px ;
}
.description_skills ul {

    top: 0;
    padding-left: 0;
}
.description_skills .slills_title{
    color: #202124;
    font-size: 40px;
    font-weight: bold;
}
.description_skills .slills_{
    color: #696969;
    font-size: 15px;
    font-weight: 400;
    margin-top: 59px;
    margin-bottom: 20px;
}
.description_skills ul li{
    display: flex;
}
.description_skills ul li svg{
   margin-right: 11px;
}
.description_skills ul li p{
    color: #202124;
    font-size: 15px;
    font-weight: bold;
 }


.description_skills .download_button {
    margin-top: 47px;
    display: flex;  
}
.description_skills .download_button a{
    display:flex ;
    align-items: center;
    border-radius: 8px;
    background: #202124;
    color: #FFFF;
    font-size: 13px;
    font-weight: bold;
}
.description_skills .download_button a svg{
  margin-right: 5px;
}
.apple{
    margin-right: 20px;
}
.content_mobile_images{
    width: 639px;
    height: 658px;
}
.content_mobile_images img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   margin: auto;
}
/*section articles*/
.all_articles{
    padding-top: 95px;
    padding-bottom: 100px;
    background:  #F2F2F2;
}
.article_1{
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #FFF;
    padding-top: 18px;
    padding-bottom: 20px;
}
.card_article{
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    overflow: hidden;
}
.top_article{
    margin-bottom: 16px;
}
.articles .header_articles {
    text-align: center;
    margin-bottom: 50px;
}
.articles .header_articles span{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}
.articles .header_articles p{
    color: #696969;
    font-size: 15px;
    font-weight: 400;
}
.image_description_article{
    display: flex;
    flex-wrap: wrap;
}
.content_image_article{
    padding: 26px 0px  0px 30px;
    border-radius: 10px;
}
.content_image_article img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.description_article{
    margin-top: 29px;
}
.description_article span{
    color: #333;
    font-size: 18px;
    font-weight: bold;
}
.description_article p{
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.description_article a{
    color: #5B5B6C;
    text-decoration: underline;

}

/*section candidate*/
.featured_candidates{
    padding-top: 140px;
    padding-bottom: 140px;
}
.candidat_featured_{
    margin-bottom:51px;
    border:1px solid transparent
}
.row .item:nth-child(n+5) {
    display: none;
  }
.header_featured span{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}

.featured{
    display: flex;
    justify-content: space-between;
}
.featured .browser{
    display: flex;
    color: #1AC4A2;
    font-size: 14px;
    font-weight: bold;
}

.featured .browser p{
    margin-left: 7px;
}

.card-body span{
    color: #333;
    font-size: 18px;
    font-weight: 700;
}
.card-text {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
}

.card-body a{
    color: #5B5B6C;
    text-decoration: underline;
}

.content_candidate{
    text-align: center;
    padding: 31px  30px;
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    background: #FFF;
    margin-bottom: 16px;


    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}
.content_image_candidate{
    width: 90px;
    height: 90px;
    margin: 0 auto 20px;
    border-radius: 90px;

}
.content_image_candidate img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info_candidat a{
    border-radius: 8px;
    background-color: #EFFBF8;
    color: #1AC4A2;
    font-size: 15px;
    font-weight: bold;
    padding: 17px 61px 15px 70px;
}
.info_candidat a:hover{
    background-color: #1AC4A2;
    color: #FFFF;
}

.info_candidat .location_candidat{
    display: flex;
    justify-content: center;
}
.location_candidat svg{
    margin-right: 10px;
}
.info_candidat .name_candidat{
    color: #202124;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.info_candidat .profil_candidat{
    color: #202124;
    font-size: 14px;
    font-weight: 400;
}
.header_featured{
    margin-bottom: 38px;
}
.location_candidat p{
    color: #696969;
    font-size: 14px;
    font-weight: 400;
}
.bullet{
    margin-left: 50%;
}

 /* section categories */
 .categories{
    margin-bottom: 100px;
}
.content_item{
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    background: #FFF;
    margin-bottom: 30px;
    text-align: center;
    padding: 45px 15px;
    /* Shadow / 1
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05); */
}

.content_item .item_left{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #ECEDF2;
    margin: 0 auto 20px;
    align-items: center;
    display: grid;
}
.content_item .item_left i{
    color: #1AC4A2;
    font-size: 30px;
}
.content_item .item_left svg{
    color: #1AC4A2;
    font-size: 30px;
}
.content_item:hover {
    border-radius: 8px;
    border: 1px solid  #ECEDF2;
    background: #FFF;

    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);

}
.content_item:hover .item_left {
    background-color: #1AC4A2;
}
.content_item:hover .item_left i{
    color: #FFF;
}
.content_item:hover .item_left svg{
    color: #FFF;
}
.content_item:hover .item_right span{
    color: #1AC4A2;
}

.content_item .item_right span{
    color: #202124;
    font-size: 18px;
    font-weight: bold;
}
.content_item .item_right p{
    color: #696969;
    font-size: 14px;
    font-weight: bold;
  margin-bottom: 0px;
}
.header_categories{
    text-align: center;
    padding-bottom: 50px;
}
.header_categories span{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}
.header_categories p{
    color: #696969;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width: 1079px) and (min-width: 768px){  
    .description_banner.left  a{
    padding: 10px 12px 10px 3px;
    }
  .description_banner.right  a{
    padding: 10px 12px 10px 3px;
    }
    .info_candidat a{
        padding: 15px 25px 13px 20px;
    }
    .content_mobile_images{
        width: 367px;
    }
    .image_home{
        width: 368px;
        height:369.967px;
    }
}


@media all and (min-width: 300px) and (max-width: 767px){ 
    .new_remote{
        display: flex;
        align-items: center;
        border-radius: 42px;
        background-color: #1ac4a226;
        padding: 15px 10px 16px 10px;
        
    }
    .new_remote p{
        padding-left: 15px;
        color: #4F4F4F;
        font-size: 14px;
        font-weight: 500;
        margin: 0; /* Supprimer la marge par défaut du paragraphe */
        line-height: 1.5; /* Ajuster la hauteur de ligne pour centrer verticalement le texte */
    
    }
    .text_home h2{
        color: #202124;
        font-size: 27px;
        font-weight: 700;
    }
    .definition_home {
        color: #202124;
        font-size: 15px;
        font-weight: 700;
        padding-bottom: 50px;
    }
    .hiring_work {
        display: flex;
        align-items: center;
        padding-bottom: 32px;
    }
    .hiring_work .hiring{
        padding: 14px 17px 13px 17px;
        border-radius: 8px;
        color: #FFF;
        font-weight: 700;
        border: 1px solid  #FFF;
        background-color:  #1AC4A2;
    }
    .hiring_work .work{
        color: #696969;
        font-size: 15px;
        font-weight: 400;
        padding-left: 15px;
    }
    .image_home{
        width: 285px;
        height:269.967px;
        border-radius: 100%;
        margin: 0 auto;
    }
    .content_home{
        padding-top:46px ;
        padding-bottom: 15px;
    }
    .content_home_{
        padding-bottom: 43px;
    }
    .number_candidates{
        font-weight: 600;
        padding-right: 20px;
        margin: 0;
        line-height: -1.5;
    }
    .title_description{
        color: #FFF;
        font-size: 16px;
        font-weight: bold;
    }
    .banner{
        margin-top: 60px;
    }
    .description_banner.left  a{
        font-size: 10px;
        padding: 7px 10px 5px 10px;   
     }
    .description_banner.right  a{
        padding: 7px 10px 5px 10px;   
        font-size: 10px;
    }
    .content_description{
        color: #FFF;
        font-size: 10px;
        font-weight: bold;
        padding-bottom: 17px;
        padding-top: 13px;
    }
    .banner_left{
        padding-bottom: 16px;
    }
    .tabs{
    padding: 30px 0 30px 0;
}

.tabs ul li{
    padding: 3px 10px 0px 10px;
    margin-left: 15px;
    margin-bottom: 10px;

}
.content_mobile_images{
    width: 285px;
    height: 285px;
    margin: 0 auto;
    padding-top: 27px;
}
.description_skills{
    padding-top:88px ;
    padding-bottom: 20px;
}
.description_skills .slills_title{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}
.description_skills .slills_{
    color: #696969;
    font-size: 15px;
    font-weight: 400;
    margin-top: 29px;
    margin-bottom: 20px;
}
.info_candidat a{
    padding: 5px 80px 3px 70px;
}
.jobs{
    margin-top: 80px;
    margin-bottom: 60px;
}
.job_list_1 .content_job_list_1 .logo{
    margin: 32px 11px 74px 12px;
}
.description_job span{
    font-size: 14px;
}
.description_job .info{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.description_job .all_info{
    padding-bottom: 15px;
}
.categories{
    margin-bottom: 50px;
}
.featured{
    display: flex;
    flex-wrap: wrap;
}
.card_article{
    margin-bottom: 16px;
}
.info_candidat a{
    padding: 17px 80px 15px 70px;
}
.featured_candidates{
    padding-top: 60px;
    padding-bottom: 60px;
}
.bullet{
    margin-left: 50%;
}

.description_skills .download_button {
    margin-top: 27px;
}
.description_article{
    width: 100%;
    padding-left: 16px;
}

.content_image_article{
    width: 100%;
    margin: 0 auto;
}

.content_image_article{
    padding: 16px 19px;
    border-radius: 10px;
}
}