
/* section description home*/
/*.description_home{
    background: #F5F7FC;
}*/
.whatsapp-icon-container {
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    background-color: #25D366; /* WhatsApp green background */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white; /* White border */
    position: fixed;
    bottom: 150px;
    right: 315px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000; /* Ensure it is above other elements */
  }

  .whatsapp-icon-container svg {
    width: 50%; /* Adjust size of the icon within the circle */
    height: 50%;
    fill: white; /* Make the SVG icon white */
  }
.definition_home {
    color: #202124;
    font-size: 20px;
    font-weight: 500;
}
.hiring_work {
    display: flex;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 112px;
}
.hiring_work .hiring{
    padding: 14px 27px 13px 27px;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    border: 1px solid  #FFF;
    background-color:  #1AC4A2;
}
.hiring_work .work{
    color: #696969;
    font-size: 15px;
    font-weight: 400;
    padding-left: 15px;
}

.number_candidates{
    font-weight: 700;
    padding-right: 20px;
    margin: 0;
    line-height: -1.5;
}
.jobholder{
    height: 50px;
    display: flex;
}

.content_users_1{
  width: 50px;
  height: 50px;
  margin-right: -10px;
  border-radius: 100%;
  display: block;
  overflow: hidden;
}
.content_users_1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image_home{
    width: 588px;
    height:569.967px;
    border-radius: 100%;
    margin: 0 auto;
}
.image_home img{
    width:100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}
.new_remote{
    display: flex;
    align-items: center;
    border-radius: 42px;
    background-color: #1ac4a226;
    padding: 15px 30px 16px 15px;
    width: fit-content;

}
.new_remote span{
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 26px 5px 26px;
    border-radius: 20px;
    background-color:  #1AC4A2;

}
.new_remote p{
    padding-left: 15px;
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
    margin: 0; /* Supprimer la marge par défaut du paragraphe */
    line-height: 1.5; /* Ajuster la hauteur de ligne pour centrer verticalement le texte */

}
.text_home h2{
    color: #202124;
    font-size: 47px;
  font-family: "Roboto-Bold";
    padding: 40px 0 36px 0;
}

.content_home{
    padding-top:96px ;
}
.content_home_{
    padding-bottom: 73px;
}
/*section banner*/
.banner{
    margin-top: 160px;
}
.banner_left,.banner_right{
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}
.title_description{
    color: #FFF;
    font-size: 26px;
    font-weight: bold;
}
.content_description{
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 17px;
  padding-top: 13px;
  line-height: 31px;
}
.description_banner{
  width: 55%;
  background-color: #202124;
  padding: 35px 25px 40px 25px;
}
.right{
    background-color: #1AC4A2;
}
.description_banner.left  a{
    border-radius: 8px;
    background-color: #FFF;
    color: #202124;
    font-size: 15px;
    font-weight: 700;
    padding: 17px 62px 15px 63px;
}
.description_banner.right a{
    border-radius: 8px;
    background-color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 17px 62px 15px 63px;
    color: #1AC4A2;

}

.image_banner{
    width: 45%;
   /* height: fit-content;*/
}
.image_banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}
/* section jobs*/
.jobs{
    margin-top: 150px;
    margin-bottom: 130px;
}
.header_popular_job{
    text-align: center;
}
.header_popular_job span{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}
.header_popular_job p{
    color: #696969;
    font-size: 15px;
   font-weight: bold;
}

.tabs{
    padding: 30px 0 30px 0;
}

.tabs ul li a{
  border-radius: 8px;
  background: #F0F5F7;
  padding: 7px 20px;
  margin-left: 20px;
}
.tabs ul li:first-child{
    background-color: #FFF;
}
.tabs ul li a{
    color: #000;
}
.tabs .frame{
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    padding: 7px 20px 4px 20px;
    text-align: center;
    background-color: #F0F5F7;

    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
    margin-right: 15px;

}
.tabs .frame:hover{
    background-color: #FFFF;
}
.tabs .frame p{
    color: #202124;
    font-size: 15px;
    font-weight: bold;
}

/* section skills*/
.skills{
    margin-bottom: 100px;
}

.description_skills{
    padding-top:108px ;
}
.description_skills ul {
    top: 0;
    padding-left: 0;
}
.description_skills .slills_title{
    color: #202124;
    font-size: 40px;
    font-weight: bold;
}
.description_skills .slills_{
    color: #696969;
    font-size: 15px;
    font-weight: 400;
    margin-top: 59px;
    margin-bottom: 20px;
}
.description_skills ul li{
    display: flex;
}
.description_skills ul li svg{
   margin-right: 11px;
}
.description_skills ul li p{
    color: #202124;
    font-size: 15px;
    font-weight: bold;
 }


.description_skills .download_button {
    margin-top: 47px;
    display: flex;
}
.description_skills .download_button a{
    display:flex ;
    align-items: center;
    border-radius: 8px;
    background: #202124;
    color: #FFFF;
    font-size: 13px;
    font-weight: bold;
}
.description_skills .download_button a svg{
  margin-right: 5px;
}
.apple{
    margin-right: 20px;
}
.content_mobile_images{
    width: 639px;
    height: 658px;
}
.content_mobile_images img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   margin: auto;
}
/*section articles*/
.all_articles{
    padding-top: 95px;
    padding-bottom: 100px;
    /*background:  #F2F2F2;*/
}
.article_1{
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #FFF;
  padding: 28px 20px;
  border-radius: 15px;
}
.card_article{
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    overflow: hidden;
}
.top_article{
    margin-bottom: 16px;
}
.articles .header_articles {
    text-align: center;
    margin-bottom: 50px;
}
.articles .header_articles span{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}
.articles .header_articles p{
    color: #696969;
    font-size: 15px;
    font-weight: 400;
}
.image_description_article{
    display: flex;
    flex-wrap: wrap;
}
.content_image_article {
    border-radius: 10px;
    width: 210px;
    height: 155px;
}
.content_image_article img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.description_article{
  width: 68%;
  margin-left: 28px;
}
.description_article p{
    color: #000;
    font-size: 16px;
    font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.description_article a{
    color: #5B5B6C;
    text-decoration: underline;
}

/*section candidate*/
.featured_candidates{
  padding-top: 50px;
  padding-bottom: 100px;
}
.candidat_featured_{
    margin-bottom:51px;
    border:1px solid transparent
}
.bullet{
    display: flex;
    justify-content: center;
}
.row .item:nth-child(n+9) {
    display: none;
  }
.header_featured a{
    color: #202124;
    font-size: 30px;
}
.featured {
  margin-bottom: 52px;
}
.featured .header_featured{
    display: flex;
    justify-content: space-between;
}
.featured .browser{
    display: flex;
    color: #1AC4A2;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.featured .browser p{
    margin-left: 7px;
}

.card-body span{
    color: #333;
    font-size: 18px;
    font-weight: 700;
}
.card-text {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: left;
    text-transform: capitalize;
    line-height: 27px;
}

.card-body a{
    color: #5B5B6C;
    text-decoration: underline;
}

.tops{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
  text-transform: capitalize;
  line-height: 27px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Roboto-Medium";
}

.content_candidate{
    text-align: center;
    padding: 31px  30px;
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    background: #FFF;
    margin-bottom: 16px;
    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}
.content_image_candidate{
  width: 90px;
  height: 90px;
  margin: 0 auto 20px;
  border-radius: 100%;
  overflow: hidden;
}
.content_image_candidate img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info_candidat a{
  border-radius: 8px;
  background-color: #EFFBF8;
  color: #1AC4A2;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 25px 13px;
  width: 100%;
}
.info_candidat a:hover{
    background-color: #1AC4A2;
    color: #FFFF;
}

.info_candidat .location_candidat{
    display: flex;
    justify-content: center;
}
.location_candidat svg{
    margin-right: 10px;
}
.info_candidat .name_candidat{
    color: #202124;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.info_candidat .profil_candidat{
    color: #202124;
    font-size: 14px;
    font-weight: 400;
}
.header_featured{
    margin-bottom: 13px;
}
.location_candidat p{
    color: #696969;
    font-size: 14px;
    font-weight: 400;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;
  }
  

 /* section categories */
 .categories{
    margin-top: 150px;
    margin-bottom: 100px;
}
.content_item{
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    background: #FFF;
    margin-bottom: 30px;
    text-align: center;
    padding: 45px 15px;
    cursor:pointer
    /* Shadow / 1
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05); */
}

.content_item .item_left{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #ECEDF2;
    margin: 0 auto 20px;
    align-items: center;
    display: grid;
    overflow: hidden;
}
.content_item .item_left img{
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: scale-down;
}
.content_item .item_left i{
    color: #1AC4A2;
    font-size: 30px;
}
.content_item .item_left svg{
    /*color: #1AC4A2;*/
    font-size: 30px;
}
.content_item:hover {
    border-radius: 8px;
    border: 1px solid  #ECEDF2;
    background: #FFF;

    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);

}

.content_item:hover .item_left i{
    color: #FFF;
}
.content_item:hover .item_left svg{
    color: #FFF;
}
.content_item:hover .item_right span{
    color: #1AC4A2;
}

.content_item .item_right span{
    color: #202124;
    font-size: 18px;
    font-weight: bold;
}
.content_item .item_right p{
    color: #696969;
    font-size: 14px;
    font-weight: bold;
  margin-bottom: 0px;
}
.header_categories{
    text-align: center;
    padding-bottom: 50px;
}
.header_categories span{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}
.header_categories p{
    color: #696969;
    font-size: 15px;
    font-weight: bold;
}
.nav-tabs {
  border-bottom: 0px solid #dee2e6 !important;
}
.nav-item .active{
  border-radius: 8px !important;
  border: 1px solid #ECEDF2 !important;
  background: #FFF !important;
  /* box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05); */
}
.description_article .title{
  color: #333;
  font-size: 18px;
  font-weight: 800;
}
.img-article{
  height: 235px;
}
.img-article img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured h2 {
  margin-bottom: 0;
  font-weight: 500;
}
@media all and (min-width: 300px) and (max-width: 767px){
    .content-home{
        margin-top: 70px;
    }
    .new_remote{
        display: flex;
        align-items: center;
        border-radius: 42px;
        background-color: #1ac4a226;
        padding: 15px 10px 16px 10px;
    }
    .new_remote p{
        padding-left: 15px;
        color: #4F4F4F;
        font-size: 14px;
        font-weight: 500;
        margin: 0; /* Supprimer la marge par défaut du paragraphe */
        line-height: 1.5; /* Ajuster la hauteur de ligne pour centrer verticalement le texte */
    }
    .text_home h2{
        color: #202124;
        font-size: 27px;
        font-weight: 700;
    }
    .hiring_work {
        display: flex;
        align-items: center;
        padding-bottom: 32px;
    }
    .hiring_work .hiring{
        padding: 14px 17px 13px 17px;
        border-radius: 8px;
        color: #FFF;
        font-weight: 700;
        border: 1px solid  #FFF;
        background-color:  #1AC4A2;
    }
    .hiring_work .work{
        color: #696969;
        font-size: 15px;
        font-weight: 400;
        padding-left: 15px;
    }
    .image_home{
      width: 100%;
      height: 315.967px;
      border-radius: 100%;
      margin: 0 auto;
    }
    .content_home{
        padding-top:46px ;
        padding-bottom: 15px;
    }
    .content_home_{
        padding-bottom: 43px;
    }
    .number_candidates{
        font-weight: 600;
        padding-right: 20px;
        margin: 0;
    }
    .title_description{
        color: #FFF;
        font-size: 21px;
        font-weight: bold;
    }
    .banner{
        margin-top: 60px;
    }
    .description_banner.left  a{
      padding: 9px 15px 10px 15px;
      font-size: 13px;
     }
    .description_banner.right  a{
      padding: 9px 15px 10px 15px;
      font-size: 13px;
    }
    .content_description{
      color: #FFF;
      font-weight: bold;
      padding-bottom: 0;
      padding-top: 13px;
      margin-bottom: 20px;
    }
    .banner_left{
        padding-bottom: 16px;
    }
    .tabs{
    padding: 30px 0 30px 0;
    }
  .description_banner {
    padding: 20px 21px 20px;
    width: 100%;
    }
  .tabs ul li{
    padding: 3px 10px 0px 10px;
    margin-left: 0px;
    margin-bottom: 25px;
    width: 50%;

  }
  .content_mobile_images{
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 27px;
  }
  .description_skills{
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .description_skills .slills_title{
      color: #202124;
      font-size: 30px;
      font-weight: bold;
  }
  .description_skills .slills_{
      color: #696969;
      font-size: 15px;
      font-weight: 400;
      margin-top: 29px;
      margin-bottom: 20px;
  }
  .jobs{
      margin-top: 80px;
      margin-bottom: 60px;
  }
  .description_job span{
      font-size: 14px;
  }
  .description_job .info{
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 20px;
  }
  .description_job .all_info{
      padding-bottom: 15px;
  }
  .categories{
      margin-bottom: 50px;
  }
  .featured{
      display: flex;
  }
  .card_article{
      margin-bottom: 16px;
  }
  .featured_candidates{
      padding-top: 60px;
      padding-bottom: 60px;
  }

  .description_skills .download_button {
      margin-top: 27px;
  }
  .description_article{
      width: 100%;
  }
  .content_image_article{
      width: 100%;
      margin: 0 auto;
      padding: 16px 19px;
      border-radius: 10px;
  }
  .article_1{
    padding: 10px 0px;
  }
  .image_banner{
    display: none;
  }
}

