
/* section description home*/
.description_home{
    background: #F5F7FC;
}
.definition_home {
    color: #202124;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 14px;
}
.descript_home {
    color: #202124;
    font-size: 15px;
    font-weight: bold;
}
.number_candidates{
    font-weight: 700;
}
.jobholder{
    height: 50px;
    display: flex;
}

.content_users_1{
    width: 50px;
    height: 50px;
    margin-right: -10px;
}
.content_users_1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.image_home{
    width: 413.47px;
    height: 400.789px;
    border-radius: 413.47px;
    background: #FFF;
}
.image_home img{
    width:100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}
.text_home{
    width: 635px;
    height: 179px;
}
.content_image_home{
    width: 413.47px;
    height: 400.789px;
    margin-left: 90px;
}
.content_home{
    padding-top:96px ;
    margin-bottom: 50px;
}
.content_home_{
    padding-bottom: 73px;
}
/*section banner*/
.banner{
    margin-top: 160px;
}
.banner_left,.banner_right{
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}
.title_description{
    color: #FFF;
    font-size: 26px;
    font-weight: bold;
}
.content_description{
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 17px;
    padding-top: 13px;
}
.description_banner{
    width: 50%;
    height: 300px;
    opacity: 0.9;
    background-color: #202124;
    padding-top: 24px;
    padding-left: 34px;

}
.right{
    background-color: #1AC4A2;
}
.description_banner.left  a{
    border-radius: 8px;
    background-color: #FFF;
    color: #202124;
    font-size: 15px;
    font-weight: 700;
    padding: 17px 42px 15px 43px;
}
.description_banner.right a{
    border-radius: 8px;
    background-color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 17px 42px 15px 43px;
    color: #1AC4A2;
  
}

.image_banner{
    width: 50%;
    height: 300px;
}
.image_banner img{
    width: 100%;
    height: 100%;
    object-fit: 100%;
    margin: auto;
}
/* section jobs*/
.jobs{
    margin-top: 150px;
    margin-bottom: 130px;
}
.header_popular_job{
    text-align: center;
}
.header_popular_job span{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}
.header_popular_job p{
    color: #696969;
    font-size: 15px;
   font-weight: bold;    
}
.items_job{
    margin-top: 33px;
}
.tabs{
    display: flex;
    height: 29px;
    justify-content: center;
    margin-top: 40px;
}
.tabs .frame{
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    padding: 7px 20px 4px 20px;
    text-align: center;
    background-color: #F0F5F7;

    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
    margin-right: 15px;

}
.tabs .frame:hover{
    background-color: #FFFF;
}
.tabs .frame p{
    color: #202124;
    font-size: 15px;
    font-weight: bold;
}
.items_job .job_list_1{
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    background-color: #FFF;
}
 .job_list_1 .content_job_list_1{
    display: flex;
}
.logo{
    width: 50px;
    height: 50px;  
    margin: 32px 21px 74px 32px;
}
.logo .content_logo{
    width: 50px;
    height: 50px;
    border-radius: 8px;
}
.logo .content_logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    margin: auto;
}
.description_job{
    padding-top: 32px;
}
.description_job_{
    display: flex;
}

.description_job .bookmark{
    position: relative;
}
.description_job .bookmark svg,
.description_job .bookmark p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.description_job .bookmark p {
    margin-left: 90px;
  text-align: center;
  line-height: 30px; /* Assurez-vous que le contenu est centré verticalement */
  font-size: 16px; /* Ajustez la taille de la police au besoin */
}

.description_job span{
    color: #202124;
    font-size: 18px;
    font-weight: bold;

}
.description_job .info{
    display: flex;
    height: 34px;
    margin-top: 10px;
}
.description_job .info .info_item{
    display: flex;
    margin-right: 12px;
}
.description_job .info .info_item svg{
    margin-right: 11px;
}
.description_job .info .info_item p{
    color: #696969;
    font-size: 14px;
    font-weight: bold;
}

.description_job .time .content_time{
    text-align: center;
    background-color: #DAE1E6;
    border-radius: 60px;
    width: 90px;
    margin-right: 15px;
}
.description_job .time .content_time p{
    font-size: 13px;
    font-weight: bold;
    color: #043356;
}
.description_job .tags .content_tags{
    text-align: center;
    background-color: #DDF6F1;
    border-radius: 60px;
    width: 90px;
    margin-right: 15px;

}
.description_job .tags .content_tags p{
    font-size: 13px;
    font-weight: bold;
    color: #1AC4A2;
}
.description_job .all_info{
    display: flex;
}
/* section skills*/
.skills{
    margin-bottom: 100px;
}

.description_skills{
    padding-top:108px ;
}
.description_skills ul {

    top: 0;
    padding-left: 0;
}
.description_skills .slills_title{
    color: #202124;
    font-size: 40px;
    font-weight: bold;
}
.description_skills .slills_{
    color: #696969;
    font-size: 15px;
    font-weight: 400;
    margin-top: 59px;
    margin-bottom: 20px;
}
.description_skills ul li{
    display: flex;
}
.description_skills ul li svg{
   margin-right: 11px;
}
.description_skills ul li p{
    color: #202124;
    font-size: 15px;
    font-weight: bold;
 }
 

.description_skills .download_button {
    margin-top: 47px;
    display: flex;
  
}
.description_skills .download_button a{
    border-radius: 8px;
    background: #202124;
    color: #FFFF;
    font-size: 15px;
    font-weight: bold;
   
}
.apple{
    padding: 8px 10px 10px 10px;
    text-align: center;
    margin-right: 20px;
}
.play_store{
    padding: 8px 38px 8px 38px;
}

.content_mobile_images{
    width: 639px;
    height: 658px;
}
.content_mobile_images img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   margin: auto;
}
/*section articles*/
.all_articles{
    background:#F2F2F2;
}
.articles{
    padding-top: 95px;
    padding-bottom: 100px;
}
.article_1{
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #FFF;
}
.card_article{
    width: 330px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    margin-left: 185px;

}
.top_article{
    margin-bottom: 40px;
}
.articles .header_articles {
    text-align: center;
    margin-bottom: 50px;
}
.articles .header_articles span{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}
.articles .header_articles p{
    color: #696969;
    font-size: 15px;
    font-weight: 400;
}
.image_article{
    margin-top: 26px;
    margin-right: 19px;
    margin-left: 19px;
    width: 210px;
    height: 146px;
}
.content_image_article{
    width: 210px;
    height: 146px;
    border-radius: 10px;
}
.content_image_article img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.description_article{
    margin-top: 29px;

}
.description_article span{
    color: #333;
    font-size: 18px;
    font-weight: bold;
}
.description_article p{
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.description_article a{
    color: #5B5B6C;
    text-decoration: underline;
  
}

/*section candidate*/
.featured_candidates{
    padding-top: 140px;
    padding-bottom: 140px;
}
.header_featured span{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}
.candidat_featured .featured{
    display: flex;
    justify-content: space-between;
}
.candidat_featured .featured .browser{
    display: flex;
    color: #1AC4A2;
    font-size: 14px;
    font-weight: bold;
}

.candidat_featured .featured .browser p{
    margin-left: 7px;
}

.card-body a{
    color: #5B5B6C;
    text-decoration: underline;
}
.candidate{
    margin-bottom: 15px;
}
.content_candidate{
    height: 330px;
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    background: #FFF;

    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}
.content_image_candidate{
    width: 90px;
    height: 90px;
    margin: 31px 50% 16px 35%;
}
.content_image_candidate img{
    width: 100%;
    height: 100%;
    border-radius: 90px;
    object-fit: cover;
}
.content_candidate{
    text-align: center;
}

.info_candidat a{
    border-radius: 8px;
    background-color: #EFFBF8;
    color: #1AC4A2;
    font-size: 15px;
    font-weight: bold;
    padding: 17px 60px 15px 60px;
}
.info_candidat a:hover{
    background-color: #1AC4A2;
    color: #FFFF;
}

.info_candidat .location_candidat{
    display: flex;
    justify-content: center;
}
.location_candidat svg{
    margin-right: 10px;
}
.info_candidat .name_candidat{
    color: #202124;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.info_candidat .profil_candidat{
    color: #202124;
    font-size: 14px;
    font-weight: 400;
}
.header_featured{
    margin-bottom: 38px;
}
.location_candidat p{
    color: #696969;
    font-size: 14px;
    font-weight: 400;
}
.bullet{
    margin-left: 50%;
}

 /*sectiont recruting*/
 .recruting{
    padding: 114px 0 139px 0;
 }
  .recruting_now{
     border-radius: 8px;
     background: #EEE;
     overflow: hidden;
     margin-bottom: 30px;
  }
  .recrutement{
    border-radius: 8px;
    background: #EEE;
    display: flex;
  }
  .content_recruting_now{
     display: flex;
     width: 410px;
     height: 234px;
     border-radius: 8px;
     background: #EEE;
  }
  .content_image_recruting{
     width: 50%;
  }
  .text_recruting{
    width: 50%;
    padding-top: 15px;
    padding-left: 41px;
    color:#202124 ;
    font-size: 24px;
    font-weight: 700;
 
  }
  .text_recruting .recrut{
    color:#1AC4A2 ;
    margin: auto;
  }
 
  .text_recruting a{
    border-radius: 8px;
    background-color:#1AC4A2 ; 
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #FFF !important;
    padding: 17px 32px 15px 34px;
  }
 
  .content_image_recruting img{
     width: 100%;
     height: 100%;
     margin: auto;
     object-fit: cover;
  }
 /* section categories */
 .categories{
    margin-bottom: 100px;
}
.content_item{
    height: 220px;
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    background: #FFF;
    margin-bottom: 30px;
    text-align: center;

    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}

.content_item .item_left{
    width: 70px;
    height: 70px;
    border-radius: 300px;
    background: #ECEDF2;
    color: #1AC4A2;
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 24px;
}

.content_item .item_left img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;

}
.content_item .item_right span{
    color: #202124;
    font-size: 18px;
    font-weight: bold;
}
.content_item .item_right span:hover{
    color: #34A853;
}

.content_item .item_right p{
    color: #696969;
    font-size: 14px;
    font-weight: bold;
}
.header_categories{
    text-align: center;
    padding-bottom: 50px;
}
.header_categories span{
    color: #202124;
    font-size: 30px;
    font-weight: bold;
}
.header_categories p{
    color: #696969;
    font-size: 15px;
    font-weight: bold;
}