<app-header></app-header>
<div class="content-detail-article">
  <div class="inter-content-detail">
    <h1>Keep your face always toward the sunshine - and shadows will fall behind you.</h1>
    <div class="block-detail-article d-flex align-items-center">
      <div class="img-block">
       <!-- <img src="../../../assets/img/person_5.png" />-->
       <img [src]="article.author_image" alt="">
      </div>
      <p>{{article.author_name}}</p>
      <p>{{article.post_date}}</p>
      <p>{{article.number_comments}} Comment</p>
    </div>
  </div>
  <div class="content-img-detail-article">
    <!-- <img src="../../../assets/img/article1.png" />--> 
    <img [src]="article.image" alt="">
  </div>
  <div class="inter-content-detail">
    <div class="content-text">
    <!--  <p>Aliquam hendrerit sollicitudin purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis, at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et adipiscing erat. Curabitur this is a text link libero tempus congue.

        Duis mattis laoreet neque, et ornare neque sollicitudin at. Proin sagittis dolor sed mi elementum pretium. Donec et justo ante. Vivamus egestas sodales est, eu rhoncus urna semper eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer tristique elit lobortis purus bibendum, quis dictum metus mattis. Phasellus posuere felis sed eros porttitor mattis. Curabitur massa magna, tempor in blandit id, porta in ligula. Aliquam laoreet nisl massa, at interdum mauris sollicitudin et.</p>
      <p>Aliquam hendrerit sollicitudin purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis, at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et adipiscing erat. Curabitur this is a text link libero tempus congue.

        Duis mattis laoreet neque, et ornare neque sollicitudin at. Proin sagittis dolor sed mi elementum pretium. Donec et justo ante. Vivamus egestas sodales est, eu rhoncus urna semper eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer tristique elit lobortis purus bibendum, quis dictum metus mattis. Phasellus posuere felis sed eros porttitor mattis. Curabitur massa magna, tempor in blandit id, porta in ligula. Aliquam laoreet nisl massa, at interdum mauris sollicitudin et.</p>-->
        <p>{{article.short_description}}</p>
    </div>
    <div class="d-flex btn-sociaux align-items-center">
      <p class="share-post-text">Share this post</p>
      <button class="btn btn-facebook"><i class="fa fa-facebook"></i>Facebook</button>
      <button class="btn btn-twitter"><i class="fa fa-twitter"></i>Twitter</button>
      <button class="btn btn-google"><i class="fa fa-google"></i>Google+</button>
    </div>

    <div class="block-prev-next d-flex justify-content-between align-items-center">

      <div class="block-prev-article">
        <div class="d-flex">
          <i class="fa fa-angle-left"></i>
          <p class="preview-text">Previous Post</p>
        </div>
        <p class="title-other-article">Given Set was without from god divide rule Hath</p>
      </div>

      <div class="block-prev-article">
        <div class="d-flex right-block">
          <p class="preview-text">Next Post</p>
          <i class="fa fa-angle-right"></i>
        </div>
        <p class="title-other-article">Tree earth fowl given moveth deep lesser After</p>
      </div>

    </div>

    <div class="block-commentaire">
      <p class="comment-title">Comment</p>
      <div class="one-comment d-flex">
        <div class="block-img-comment">
          <img src="../../../assets/img/person_5.png" />
        </div>
        <div class="position-relative detail-comment d-grid">
          <p class="name-comment">Oscar Cafeo</p>
          <div class="rating-block d-flex">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="comment">Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement tantaneously eel valiantly petted this along across highhandedly much.</p>
        </div>
      </div>
      <div class="one-comment d-flex">
        <div class="block-img-comment">
          <img src="../../../assets/img/person_5.png" />
        </div>
        <div class="position-relative detail-comment d-grid">
          <p class="name-comment">Oscar Cafeo</p>
          <div class="rating-block d-flex">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="comment">Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement tantaneously eel valiantly petted this along across highhandedly much.</p>
        </div>
      </div>
    </div>

    <form action="" class="form-comment">
      <p class="title-comment">Leave your thought here</p>
      <div class="rating-block d-flex">
        <div class="rate">
          <input type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-between">
        <div class="form-group w-50">
          <label>Your Name</label>
          <input type="text" class="form-control" id="" aria-describedby="name" placeholder="Your Name">
        </div>
        <div class="form-group w-50">
          <label>Your Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group w-100 d-grid">
          <label>Your Comment</label>
          <textarea name="" id="" rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
    </form>

  </div>

</div>


<app-footers></app-footers>
