<app-header></app-header>
<!--
<section class="description_home">
  <div class="container-fluid">
    <div class="content_home_">
      <div class="content_home">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="new_remote">
              <div class="NEW"></div>
              <div class="remote-text"></div>
            </div>
            <div class="text_home">
            </div>
            <div class="text_home2">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class="image_home">
              </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="number_candidates"></div>
        <div class="">
          <div class="jobholder">
            <div class=" ">
                <span class="content_users_1">
                </span>
            </div>
        </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="banner_left">
          <div class="description_banner left">
            <div class="title_description"></div>
            <div class="content_description"></div>
            <div class="register-btn"></div>
          </div>
          <div class="image_banner">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner_right">
          <div class="description_banner left">
            <div class="title_description"></div>
            <div class="content_description"></div>
            <div class="register-btn"></div>
          </div>
          <div class="image_banner">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<section class="description_home css-selector">
  <div class="container-fluid">
    <div class="content_home_">
      <div class="content_home">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="new_remote">
              <span>NEW</span>
              <p>Your remote tech talent selected by real #skills</p>
            </div>
            <div class="text_home">
              <h2>Build your remote digital workforce based on skills</h2>
              <p class="definition_home">Embrace the future of work with our best digital talent, not just remotely but with the full support of the LIGGEEY team.</p>
            </div>
            <div class="hiring_work">
              <a class="btn hiring" routerLink="hire-company" routerLinkActive="active_lien_navbar">Hire Digital Talent</a>
              <a class="btn second-link" routerLink="hire-candidat" routerLinkActive="active_lien_navbar">Get Your Remote Job</a>
              <!--<a class="work" routerLink="about" routerLinkActive="active_lien_navbar">How does it work</a>-->
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class="image_home">
                <img src="../../../assets/img/images.png" alt="menu image">
              </div>
       
          </div>
         
          
        </div>
      </div>
    </div>

  </div>
</section>

<section class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="banner_left">
          <div class="description_banner left">
            <span class="title_description">Employers</span>
            <p class="content_description">Unlock a world of remote talent<br>click the button to register your company and discover the next level of skilled professionals for your team.</p>
            <a class="btn" routerLink="hire-company" routerLinkActive="active_lien_navbar">Register Account</a>
          </div>
          <div class="image_banner">
            <img src="../../../assets/img/banner_left.png" alt="banner left">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner_right">
          <div class="description_banner right">
            <span class="title_description">Candidate</span>
            <p class="content_description">Find your next career opportunity <br>register as a candidate now to connect with remote jobs tailored to your skills and aspirations.</p>
            <a class="btn" routerLink="/hire-candidat" routerLinkActive="active_lien_navbar">Register Account</a>
          </div>
          <div class="image_banner">
            <img src="../../../assets/img/banner_right.png" alt="banner right">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="beneath">
  <div class="container-fluid">
    <div class="row up_remote">
      <div class="col-md-3 remote">
          <div class="content_image">
            <img src="../../../assets/img/work-from-home.png" alt="">
          </div>
          <p class="work">Work Remotely</p>
          <p>When hired by one of our clients, you will work remotely but not from home. We provide you with office space in your country to ensure  a professional work environment.</p>
      </div>
      <div class="col-md-3 remote">
          <div class="content_image">
            <img src="../../../assets/img/responsibility.png" alt="">
          </div>
          <p class="work">Social Benefits Included</p>
          <p>We offer comprehensive health insurance, ensuring that you are covered in case of illness or inability to work. Your well-being is our priority.</p>
      </div>
      <div class="col-md-3 remote">
          <div class="content_image">
            <img src="../../../assets/img/check.png" alt="">
          </div>
          <p class="work">On Our Payroll</p>
          <p>All Talent is placed on our payroll, giving you flexibility. We handle invoicing and management, making it easy for you to scale your team up or down.</p>
      </div>
      <div class="col-md-3 remote">
          <div class="content_image">
            <img src="../../../assets/img/help.png" alt="">
          </div>
          <p class="work">We Stay Involved</p>
          <p>We provide ongoing support with a LiveLearn account for continuous learning and skill development. We also assist in setting up your remote workforce effectively.</p>
      </div>
    </div>
  </div>

</section>
<section class="jobs">
  <div class="container-fluid">
    <div class="most_jobs">
      <div class="header_popular_job">
      <!--  <div class="popular-jobs"></div>-->
        <span>Most Popular Jobs</span>
        <p>Discover popular remote jobs across diverse industries on our platform.</p>
        <div class="skeleton-container-2">
            <div class="one-job">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="skeleton-text-4"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                    <div class="skeleton-btt"></div>
                </div>
            </div>
            <div class="one-job">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="skeleton-text-4"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                    <div class="skeleton-btt"></div>
                </div>    </div>
            <div class="one-job">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="skeleton-text-4"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                    <div class="skeleton-btt"></div>
                </div>
            </div>
            <div class="one-job">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="skeleton-text-4"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                    <div class="skeleton-btt"></div>
                </div>    
            </div>
            <div class="one-job">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="skeleton-text-4"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                    <div class="skeleton-btt"></div>
                </div>    
                </div>
            <div class="one-job">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="skeleton-text-4"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                    <div class="skeleton-btt"></div>
                </div>
            </div>
        </div>

        <div class="tabs">
          <!--
          <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" [class.active]="activeTab === 'all' " (click)="changeTab('all')" aria-current="page">All</a>
            </li>
            <li class="nav-item">
              <a  [class.active]="activeTab === 'mainCategories'" (click)="changeTab('mainCategories')" class="nav-link">Main categories</a>
            </li>
            <li class="nav-item">
              <a [class.active]="activeTab === 'topics'" (click)="changeTab('topics')" class="nav-link">Topics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  [class.active]="activeTab === 'sub'" (click)="changeTab('sub')">Sub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Marketing</a>
            </li>
          </ul>
          -->
        </div>
        <app-category-emploi ></app-category-emploi>
      </div>
    </div>
  </div>
</section>
<section class="categories">
  <div class="container-fluid">
        <div class="content_categories">
          <div class="header_categories">
          <h2>Category</h2>
          <p>Explore diverse job categories on our platform for a tailored remote career experience.</p>
           <!--<div class="category"></div>
             <div class="cat-p"></div>-->  
          </div>
          <div class="row">
            <div class="skeleton-container-2">
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                <div class="one-category">
                    <div class="cat-img"></div>
                        <div class="item_right">
                            <div class="cat-title"></div>
                            <div class="positions"></div>
                        </div>
                </div>
                
            </div>
        </div>
      </div>
  </div>
</section>
<section class="skills">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="description_skills">
          <div class="skills_title"></div>
          <div class="skills_"></div>
          <ul>
            <div class="skills_list">
            </div>
            <div class="skills_list">
            </div>
            <div class="skills_list">
            </div>
          </ul>
          <div class="download_button">
            <div class="btn-apple"></div>
            <div class="btn-play-store"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 apple-playstore">
      </div>
    </div>
  </div>
</section>
<section class="all_articles ">
  <div class="container-fluid">
    <div class="articles">
      <div class="header_articles">
        <div class="header_articles">
          <span>Our recent articles</span>
          <p>To help you stay informed about the latest news and updates, enabling a successful career.</p>
        </div>
        <!--  
        <div class="category"></div>
        <div class="cat-p"></div>
        -->
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card_article">
            <div class="rectangle_article">
              <div class="art-img"></div>
              <div class="card-body">
                <div class="tops">
                 <div class="art-title"></div>   
                </div>
                <div class="art-desc"></div>
                <div class="art-link"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8" >
             <div class="article_1 top_article">
               <div class="image_description_article">
              <div class="art-img-1"></div>
              <div class="description_article">
                 <div class="art-title-1"></div>   
                <div class="art-desc-1"></div>
                <div class="art-link-1"></div>
              </div>
            </div>
          </div>
          <div class="article_1 top_article">
            <div class="image_description_article">
           <div class="art-img-1"></div>
           <div class="description_article">
              <div class="art-title-1"></div>   
             <div class="art-desc-1"></div>
             <div class="art-link-1"></div>
           </div>
         </div>
       </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="featured_candidates">
  <div class="container-fluid">
    <div class="featured">
      <div class="header_featured">
        <!--
        <div class="feat-talents"></div>
        <div class="browser-all"></div>
        -->
      </div>
      <div class="featured">
        <div class="header_featured">
          <h2>Featured Talent </h2>
          <a [routerLink]="['/list-candidat']" class="browser">Browser All
            <p>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M9.33355 5.53176L3.9934 0.191706C3.86989 0.068097 3.70501 0 3.5292 0C3.3534 0 3.18852 0.068097 3.06501 0.191706L2.67175 0.584873C2.41585 0.841066 2.41585 1.25745 2.67175 1.51326L7.156 5.99751L2.66677 10.4867C2.54326 10.6104 2.47507 10.7751 2.47507 10.9508C2.47507 11.1267 2.54326 11.2915 2.66677 11.4152L3.06004 11.8083C3.18365 11.9319 3.34843 12 3.52423 12C3.70003 12 3.86491 11.9319 3.98842 11.8083L9.33355 6.46336C9.45735 6.33936 9.52535 6.1738 9.52496 5.99781C9.52535 5.82112 9.45735 5.65566 9.33355 5.53176Z" fill="#1AC4A2"/>
              </svg>
            </p>
          </a>
        </div>
        <p>Meet our standout candidates – to ensure you have access to a pool of ready-to-work talent matching your requirements.</p>
      </div>
      <div class="meet-cand"></div>
    </div>
    <div class="candidat_featured">

      <div class="row candidat_featured_">
        <div class="col-md-3 item">
            <div class="content_candidate">
              <div class="cand-img"></div>
              <div class="info_candidat">
                <div class="name_candidat"></div>
                <div class="profil_candidat"></div>
                <div class="location_candidat"></div>
                <div class="btn"></div>
              </div>
            </div>
        </div>
        <div class="col-md-3 item">
            <div class="content_candidate">
              <div class="cand-img"></div>
              <div class="info_candidat">
                <div class="name_candidat"></div>
                <div class="profil_candidat"></div>
                <div class="location_candidat"></div>
                <div class="btn"></div>
              </div>
            </div>
        </div>
        <div class="col-md-3 item">
            <div class="content_candidate">
              <div class="cand-img"></div>
              <div class="info_candidat">
                <div class="name_candidat"></div>
                <div class="profil_candidat"></div>
                <div class="location_candidat"></div>
                <div class="btn"></div>
              </div>
            </div>
        </div>
        <div class="col-md-3 item">
            <div class="content_candidate">
              <div class="cand-img"></div>
              <div class="info_candidat">
                <div class="name_candidat"></div>
                <div class="profil_candidat"></div>
                <div class="location_candidat"></div>
                <div class="btn"></div>
              </div>
            </div>
        </div>
      
      </div>
      <!--
      <span class="bullet" appPrev>
        <svg xmlns="http://www.w3.org/2000/svg" width="92" height="9" viewBox="0 0 92 9" fill="none">
          <circle cx="52" cy="4.15625" r="4" fill="#BFC8CB"/>
          <circle cx="4" cy="4.15625" r="4" fill="#BFC8CB"/>
          <circle cx="70" cy="4.15625" r="4" fill="#BFC8CB"/>
          <circle cx="88" cy="4.15625" r="4" fill="#BFC8CB"/>
          <rect x="18" y="0.15625" width="20" height="8" rx="4" fill="#202124"/>
        </svg>
      </span>
      -->
      <span class="bullet" appPrev>
        <svg xmlns="http://www.w3.org/2000/svg" width="110" height="9" viewBox="0 0 92 9" fill="none">
          <circle   cy="4.15625" r="4"  />
        </svg>
      </span>
  
    </div>
  </div>
</section>

<app-publication></app-publication>
<app-app-mobile></app-app-mobile>
<app-footers></app-footers>
