.content_left_menu ul {
    top: 0;
    padding-left: 0;
    padding-top: 74px;
}
.content_left_menu ul li{
    display: flex;
    align-items: center;
    padding: 8px 0 6px 17px;
    margin-left: 20px;
    margin-right: 14px;
    color: #696969;
    background-color: #FFF;
    margin-bottom: 13px;
    cursor: pointer;
}
.content_left_menu ul li a{
    display: flex;
    border: none;
    background-color:transparent;
    text-decoration:none;
    align-items:center
}
.content_left_menu ul li:hover {
  background-color: #E6EBEF;
  color: #043356;
  border-radius: 8px;
}
.content_left_menu ul li svg{
    margin-right: 21px;
}
.content_left_menu ul li:hover svg path {
    fill: #043356; /* Changez cette couleur selon vos besoins */
  }
.content_left_menu ul li p{
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
}
.right_menu{
    width: 95%;
    margin-bottom: 121px;
}
.content_right_menu{
    background-color: #FFF;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}
.content_right_menu span:first-child{
  color:  #202124;
  font-size: 30px;
  font-weight: 600;
}
.map_menu{
    border-radius: 8px;
    margin-top: 25px;
    border: 1px solid  #ECEDF2;
    background: #FFF;
    padding: 30px;
    width: 100%;
    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
  }
.head_map_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.head_map_menu span{
    color: #202124;
    font-size: 30px;
    font-weight: 500;
}
.head_map_menu a{
    color: #1AC4A2;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.image_job_applies{
    width: 80px;
    height: 80px;
    background-color: #7862F3;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px 0px rgba(14, 16, 48, 0.07);
}

.description_job_applies{
    padding-left: 24px;
}
.description_job_applies p{
    margin: 0;
    color: #7F8897;
    font-size: 18px;
    font-weight: 600;
}
.description_job_applies span{
    color: #233D63;
    font-size: 26px;
    font-weight: 600;
}
.applies_job{
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    border: 1px solid #ECEDF2;
    background: #FFF;

    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}

.image_job_alert{
    width: 80px;
    height: 80px;
    background-color: #F69E0B;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px 0px rgba(14, 16, 48, 0.07);
}
.description_job_alert{
    padding-left: 24px;
}
.description_job_alert p{
    color: #7F8897;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.description_job_alert span{
    color: #233D63;
    font-size: 26px;
    font-weight: 600;
}
.alert_job{
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    border: 1px solid #ECEDF2;
    background: #FFF;

    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}
.image_job_favorites{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background: #47A99E;
    box-shadow: 0px 0px 40px 0px rgba(14, 16, 48, 0.07);
    display: flex;
    padding: 24.41px 24.59px 24.59px 24.41px;
    justify-content: center;
    align-items: center;
}
.description_job_favorites{
    padding-left: 24px;
}
.description_job_favorites span{
    color: #233D63;
    font-size: 26px;
    font-weight: 600;
}
.description_job_favorites p{
    color: #7F8897;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.favorites_job{
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    border: 1px solid #ECEDF2;
    background: #FFF;

    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}
.map_menu .all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.map_menu .all p:nth-child(4){
    color: #FFF;
    font-size: 23px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    background:  #1AC4A2;
}
.map_menu .all p{
    color: #3D4D59;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.badge_certificate{
    display: flex;
    margin: 76px 0 13px;
}
.badge_certificate p:first-child{
    color:  #828282;
    font-size: 19px;
    font-weight: 400;
    margin-right: 16px;
}
.badge_certificate p:last-child{
    color: #4F4F4F;
    font-size: 19px;
    font-weight: 600;
}
.livraison{
    border-radius: 4px;
    border: 1px solid rgba(33, 36, 44, 0.16);
    background: #FFF;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.document{
    border-radius: 5px;
    border: 1px solid  #ECEDF2;
    background: #FFF;
    text-align: center;
    padding: 32px 12px;
    margin: 26px;
}
.document .content_image_document{
    width: 95px;
    height: 95px;
    margin: 0 auto 22px;
}
.document .content_image_document img{
    width: 100%;
    height: 100%;
}
.document .content_image_document p{
    color: #47A99E;
    font-size: 20px;
    font-weight: 600;
}
.document p{
    color: #051D2F;
    font-size: 18px;
    font-weight: 600;
}

 .show_sidebar{
    visibility:hidden;
}
 @media all and (min-width: 300px) and (max-width: 767px){
.logo{
    margin: 32px 11px 74px 12px;
    border-radius: 8px;
    overflow: hidden;
  }
  .logo .content_logo{
    border-radius: 8px;
    overflow: hidden;
  }
.left_menu{
    width: 100%;
    display: none;
}
.show_sidebar{
    border: none;
    border-radius: 8px;
    padding: 10px 13px 8px 13px;
    font-size: 16px;
    font-weight: 600;
    visibility:visible;
    background-color: #DDF6F1;
    margin-top: 30px;
    color: #1AC4A2;
}

.close{
    visibility: visible;
    background-color: #F0F5F7;
    margin-left: 27.5rem;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
}
.left_menu_show{
    visibility: visible;
    width: 100%;
    border: 1px solid #ECEDF2;
    background: #FFF;
    margin: 30px 0 ;
    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}
.right_menu{
    width: fit-content;
    visibility: visible;
    margin-bottom: 30px;
    margin-left: 0;
}
.head_map_menu span{
    font-size: 20px;
}
.head_map_menu a{
    font-size: 15px;
}
.map_menu .all{
    display: block;
}
.map_menu .all p{
    padding: 16px 0;
}
.livraison .all_items{
    display: block;
}
.livraison .all_items .items{
    margin-bottom: 66px;
    border-bottom: 1px solid #ECEDF2;
}

 }
