
.right_menu{
    width: 77%;
    margin-bottom: 121px;
}
.content_right_menu{
    background-color: #FFF;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}
.content_right_menu span:first-child{
    color: #202124;
    font-size: 30px;
    font-weight: 600;
}
.social{
  border-radius: 8px;
  border: 1px solid  #ECEDF2;
  background: #FFF;
  box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
  margin-top: 35px;
  margin-bottom: 30px;
  width: 100%;

}
.social span{
  color: #202124;
  font-size: 18px;
  font-weight: 700;
}
.social form a{
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    background: #1AC4A2;
    font-weight: 600;
    width: 108.542px;
    height: 50px;
    margin-top: 47px;

}
.contact{
  border-radius: 8px;
  border: 1px solid #ECEDF2;
  background: #FFF;

  /* Shadow / 1 */
  box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}
.contact span{
  color: #202124;
  font-size: 18px;
  font-weight: 700;
  padding-left: 22px;
}
.contact .content_map{
  width: 100%;
  height: 617px;
}
.contact .content_map img{
  width: 100%;
  height: 100%;
  margin: 0;
}

/* .content_map_menu svg{
    width: 100%;
    height: 100%;
    margin: 0;
} */
.head_map_menu span{
    color: #202124;
    font-size: 18px;
    font-weight: 600;
}
.description_map{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description_map p:first-child{
    color: #1AC4A2;
    background-color: #EFFBF8;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    padding: 17px 18px 15px 18px;
    width: 171.32px;
    text-align: center;
}
.description_map p{
    color:  #696969;
    font-size: 14px;
    font-weight: 500;
}
.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 14px;
  padding: 35px !important;
}
.card-body p:nth-child(2){
  color:  #696969;
  font-size: 15px;
  font-weight: 400;
  padding: 31px 17px 41px 21px;
  border-radius: 8px;
  background: rgba(224, 224, 224, 0.22);
}

.footer {
 display: flex;
 justify-content: center;
}
.card-footer{
 display: flex;
 align-items: center;
 border: none;
 background: none;
}
.card-footer button{
   border: none ;
   background-color: #1AC4A2;
   color: #FFFF;
   width: 110px;
   height: 50px;
   font-weight: bold;
   border-radius: 8px;
}
/* Form styling */
.form-control, textarea {
   border-radius: 8px;
   padding: 15px;
   background-color: #F0F5F7;
   width: 100%;
   font-size: 16px;
   font-weight: 600;
   border: none;
  min-height: 55px;
}
.ck-editor__editable {
  min-height: 200px; /* ou la hauteur souhaitée */
}


.form-control:focus {
  border: 1px solid #1AC4A2;
  background-color: transparent;
}


.input-group-text {
   background-color: #f8f9fa;
   border: 1px solid #ced4da;
   border-radius: 0;
   display: flex;
}

/* Label styling */
label {
   font-weight: 500;
   margin-bottom: 13px;
   display: flex;
   color: #202124;

}
/* Add margin and spacing */
.m-4 {
 margin: 1.5rem;
}

/* Clear float */
.clear {
 clear: both;
}
#password-employer, #confirm-password{
 background-color:#F0F5F7 ;
}

/* Adjust spacing between buttons */
.btn {
 margin: 0.3rem;
 padding:15px ;
 border-radius: 8px;
 width: 80%;
}

/* Optional styles for the text with asterisk (*) */
label p {
 font-weight: bold;
 color: red;
 margin: 1px 2px 0px 10px;
}
.applicants{
    border-radius: 8px;
    border: 1px solid #ECEDF2;
    background: #FFF;
    margin-top: 48px;

    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}
.header_applicants{
    padding: 30px;
}
.header_applicants span{
    color: #202124;
    font-size: 18px;
    font-weight: 600;
}
.header_applicants p{
  color:  #696969;
  font-size: 15px;
  font-weight: 600;
  padding:33px 45px 91px 22px;
  background-color: #F0F5F7;
  margin-top: 13px;
}
.header_applicants a{
  color: #FFF;
  font-size: 15px;
  border-radius: 8px;
  background: #1AC4A2;
  font-weight: 600;
  width: 108.542px;
  height: 50px;
}
 .show_sidebar{
    visibility:hidden;
}
.form-group {
  width: 100%;
}
.social .input-group {
  margin-bottom: 16px;
}
.social .input-group:last-child {
  margin-bottom: 0px;
}
.social .row {
  margin-right: 0;
  margin-left: 0;
  width: 90%;
}
.social .btn-save{
  margin-left: 11px !important;

}
input[type="checkbox"]{
  color: red;
}

.drop-container{
  margin: 100px;
}

.action{
  margin-top: 10px;
}


.fieldSelect{
  height: 47px;
}
.checkbox{
  width: 1ch !important;
  cursor: pointer;
  transform: scale(1.5) !important; /* Augmente la taille de la case à cocher */

}
.dropdown-menu{
  padding-left: 3ch;
}
.form-check{
  padding-bottom: 1ch;
}
/*
.form-check:hover{
  background-color: rgb(180, 223, 180);
}*/
.dropdown-toggle{
  background-color: white;
  border: 2px solid #d3d8de;
  color: #000;
  text-align: right;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.form-checkfiliere{
  margin-left: 1ch;
  margin-top: 1ch;
}

.selected-skills {
  margin-top: 20px;
  margin-left: auto; /* Place le bloc à droite */
  width: 50%; /* Ajustez la largeur selon vos besoins */
}

.selected-skills ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.selected-skills li {
  margin-bottom: 5px;
}

.remove-icon {
  cursor: pointer;
  margin-left: 5px;
  color: red !important;
}
.motivation{
  display:flex ;
  align-items:center !important
}
.motivation label{
  margin: 0;
}
.motivation input{
  margin-right: 10px;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

.chip {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 20px;
}

.remove-chip {
  margin-left: 10px;
  cursor: pointer;
  color: red;
  font-size: 18px!important;
}

input[type="text"] {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  font-size: 14px;
  height: 50px;
}


 @media all and (min-width: 300px) and (max-width: 767px){
    .logo{
        margin: 32px 11px 74px 12px;
        border-radius: 8px;
        overflow: hidden;
     }
     .logo .content_logo{
        border-radius: 8px;
        overflow: hidden;
     }
    .left_menu{
        width: 100%;
        display: none;
    }
    .show_sidebar{
        border: none;
        border-radius: 8px;
        padding: 10px 13px 8px 13px;
        font-size: 16px;
        font-weight: 600;
        visibility:visible;
        background-color: #DDF6F1;
        margin-top: 30px;
        color: #1AC4A2;
    }

    .close{
        visibility: visible;
        background-color: #F0F5F7;
        margin-left: 27.5rem;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        line-height: 1.5;
    }
    .left_menu_show{
        visibility: visible;
        width: 100%;
        border: 1px solid #ECEDF2;
        background: #FFF;
        margin: 30px 0 ;
        box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
    }
    .right_menu{
        width: fit-content;
        visibility: visible;
        margin-bottom: 30px;
    }
    .all_info{
        margin-bottom: 25px;
    }
    .applicants ul{
        margin: 0px;
    }
    .contact .content_map{
      width: 100%;
      height: auto;
    }
    .form-control {
      width: 100%;
    }
   .card-body{
     padding: 25px 15px !important;
   }
 }
