<app-header></app-header>
<section class="content-page-dashboard">
  <app-sidebar-company></app-sidebar-company>
  <div class="right_menu">
    <h2 class="title-page">Post a new job offer</h2>
    <div class="content_right_menu">
      <div class="map_menu">
        <form>
          <div class="card-body">
            <div class="form-group">
              <label>
                Title <span class="important">*</span>
              </label>
              <div class="input-group">
                <input type="text" name="email" class="form-control" id="" placeholder="Title">
              </div>
            </div>
            <div class="form-group">
              <label>
                Description
              </label>
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <button class="btn btn-save create" type="submit"> Save </button>
          </div>
        </form>
      </div>
    </div>
    <div class="social">
      <form>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-sm-6 p-2">
              <label for="email">
                Contract type  <span class="important">*</span>
              </label>
              <div class="input-group">
                <input type="email" name="email" class="form-control" id="email" placeholder="www.facebook.com/Invision">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 p-2">
              <label for="password">Level of experience  <span class="important">*</span>
              </label>
              <div class="input-group">
                <input type="text" name="password" class="form-control" id="password" placeholder="">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 p-2">
              <label for="firstName">Skills  <span class="important">*</span>
              </label>
              <div class="input-group">
                <input type="text" name="firstName" class="form-control" id="firstName" placeholder="">
              </div>
            </div>
            <div class="col-md-6 col-sm-6  p-2">
              <label for="firstName">Langues  <span class="important">*</span>
              </label>
              <div class="input-group">
                <input type="text" name="lastName" class="form-control" id="lastName" placeholder="">
              </div>
            </div>
            <div class="col-md-12 col-sm-12 p-2">
              <label for="firstName">Application deadline  <span class="important">*</span>
              </label>
              <div class="input-group">
                <input type="text" name="firstName" class="form-control" id="firstName" placeholder="26.10.2023">
              </div>
            </div>
          </div>
          <button class="btn btn-save create " type="submit"> Save </button>
        </div>
      </form>
    </div>
  </div>
</section>
<app-footers></app-footers>
