<app-header></app-header>
<section class="content-page-dashboard">
  <app-sidebar-company></app-sidebar-company>
  <div class="right_menu">
    <h2 class="title-page">Post a new job offer</h2>
    <div class="content_right_menu">
      <div class="map_menu">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="form-group">
              <label>
                Title <span class="important">*</span>
              </label>
              <div class="input-group">
                <input type="text" name="title" id="title" formControlName="title" class="form-control" placeholder="Title" autofocus>
              </div>
            </div>
            
            <!--
            <div class="form-group">
              <label>
                Description
              </label>
              <textarea name="description" id="description" class="form-control" formControlName="description" cols="30" rows="10"></textarea>
            </div>
            -->
            <div class="form-group">
              <label>
                Description
              </label>
              <ckeditor  name="description"  formControlName="description" [editor]="Editor" [config]="editorConfig" ></ckeditor>
            </div>
            <div class="form-group mt-4 mb-4">
              <label>
                Key Responsibilities
                <span class="important">*</span>
              </label>
              <ckeditor  name="responsibilities"  formControlName="responsibilities" [editor]="Editor" [config]="editorConfig" ></ckeditor>
            </div>
  
      
            <div class="form-group motivation mt-4 mb-4">
              <input type="checkbox" id="motivation" name="motivation" value="true" formControlName="motivation" />
              <label for="motivation">Motivation letter is mandatory</label>
            </div>
            


            <!--
            <div class="form-group mt-4">
              <label>
                Motivation
              </label>
              <textarea name="motivation" id="motivation" class="form-control" formControlName="motivation" cols="30" rows="10"></textarea>
            </div>
            -->
            <div class="form-group mb-4 ">
              <label>Categories</label>
              <div class="chips-container">
                <div class="chip" *ngFor="let skillControl of skillsExperiences.controls; let i = index">
                  {{ skillControl.value }}
                  <span class="remove-chip" (click)="removeSkills(i)">×</span>
                </div>
                <input
                  type="text"
                  (keydown.enter)="addSkill($event)"
                  (keydown.space)="toggleRemoveIcon()"
                  placeholder="Add a Skills & Experiences"
                  formControlName="newSkill"

                />
              </div>
            </div>
            <div class="form-group col-50 application">
              <label for="email">
                Contract type
              </label>
              <!--
              <div class="input-group">
                <input type="text" name="job_contract" formControlName="job_contract" class="form-control" id="email" placeholder="Full Time">
              </div>
              -->
              <div class="input-group">
                <select name="job_contract" formControlName="job_contract" class="form-control" id="job_contract">
                    <option *ngFor="let contrat of tabContrast" [value]="contrat">{{ contrat }}</option>
                </select>
            </div>
            </div>
            <div class="form-group col-50 application">
              <label for="job_level_of_experience">Level of experience  <span class="important">*</span>
              </label>
              <div class="input-group">
                <input type="number" min="1" name="job_level_of_experience" formControlName="job_level_of_experience" class="form-control" id="job_level_of_experience" placeholder="Take a number value by 'years'">
              </div>
            </div>
            <div class="form-group col-50 application">
              <label for="job_langues">Languages <span class="important">*</span></label>
              <div class="input-group">
                  <select name="job_langues" formControlName="job_langues" class="form-control" id="job_langues">
                      <option *ngFor="let langue of langues" [value]="langue">{{ langue }}</option>
                  </select>
              </div>
            </div>
          <div class="form-group col-50 application">
            <label for="job_application_deadline">Application deadline  <span class="important">*</span>
            </label>
            <div class="input-group">
              <input type="date" name="job_application_deadline" value="job_application_deadline" formControlName="job_application_deadline" class="form-control" id="job_application_deadline" placeholder="26.10.2023">
            </div>
          </div>
          <div class="form-group col-100">
            <label for="job_langues">Skills<span class="important">*</span></label>
            <div class="input-group " >
              <!--
                <select name="skills" formControlName="skills" class="form-control" id="skills" >
                    <option *ngFor="let skill of job.skills" [value]="skill">{{ skill.name }}</option>
                </select>
                -->
                <button type="button" class="btn btn-light dropdown-toggle col-12" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">

              </button>
                            <!-- Affichage des cases à cocher -->
              <div class="dropdown-menu col-md-6" aria-labelledby="dropdownMenuButton">
                <div class="form-check" *ngFor="let skill of topics">
                  <input class="form-check-input checkbox" formArrayName="skills" type="checkbox" [value]="skill.cat_ID" (change)="toggleSkill(skill.cat_ID)" [checked]="selectedSkills.includes(skill.cat_ID)">
                  <label class="form-check-label">
                    {{skill.cat_name}}
                  </label>
                </div>
              </div>

              <!-- Affichage des compétences sélectionnées -->
              <div *ngIf="selectedSkills.length > 0" class="selected-skills">
                <ul>
                  <li *ngFor="let skillId of selectedSkills">
                    {{ getSkillName(skillId) }}
                    <span class="remove-icon" (click)="removeSkill(skillId)">×</span>
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <button class="btn btn-save create" type="submit" [disabled]="isLoading"> Save </button>
          <div *ngIf="isLoading" class="loader">Loading...</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footers></app-footers>
