*{
    --main_col :#198754;  
}
/* a{
    text-decoration: none;
    color : inherit;

} */
*{
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    outline : none;
}
.container{
    display : flex;
    justify-content: center;
    align-items: center;
   background-color: #FFFF;
  
}
.container_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
}
.close{
    background-color: #F0F5F7;
    margin-left: 27.5rem;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
}

.container_description p {
   font-size: 24px;
   font-weight: bold;
   text-align: center;
}

form{
    width: 550px;
    height: 381px;
}



.input{
    /* width: calc(100% -50px); */
    width: 550px;
    height: 60px;
    padding: 25px;
    border : 1px solid transparent;
    border-radius: 8px;
 /*   background-color:#F0F5F7 ;*/
}

.input:focus{
    outline : none;
    border : 2px solid #1967D2;
    color : #1967D2;
}
.input:valid{
    background-color:#F0F5F7

}
.btn{
    width: 100%;
    height : 40px;
    border : none;
    cursor: pointer;
    color : white;
    font-size : 20px;
}

.my_container_input_1, .my_container_input_2, .my_container_input_3, .forget_password{
    padding: 0px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    
}
.my_container_input_1 label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 37px;
}
.my_container_input_2 label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}
.my_container_input_3 button{
    border-radius: 8px;
    background-color:#1967D2;   
    width: 550px;
    height: 60px;
    font-weight: 300;

}
.my_container_input_3{
    display: flex;
    align-items: center;
}
.my_container_input_3 span{
    margin-top: 17px;
    margin-bottom: 38px;
    display: flex;
    color: #696969;
    font-size: 14px;
    font-weight: 400;

}
.my_container_input_3 span p a{
    font-size: 15px;
    font-weight: 600;
    color: #202124;
}


.ligne-horizontale {
    border: none; /* Supprime la bordure par défaut */
    border-top: 2px solid #F5F6F8; /* Épaisseur et couleur de la ligne */
    width: 40%;
    
  }
  .ligne-horizontale.gauche{
    margin: 0rem 0.75rem 0rem 0rem;
  }
  .ligne-horizontale.droite{
    margin: 0rem 0.75rem 0rem 0rem;
  }

  .separateur{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
  }
  .bouton-outline {
    background: transparent; /* Fond transparent */
    padding: 10px 10px; /* Rembourrage du bouton */
    cursor: pointer; /* Curseur de type main (pointeur) */
    border-radius: 5px;
    width: 1rem;
  }
  
  .bouton-outline.gauche{
    margin-right: 2rem;
    border: 1px solid #043356;
    color: #043356;
  }
  .bouton-outline.droite{
    border: 1px solid #E87E77 ;
    color: #E87E77;
  }
  
.forget_password{
    margin-top: 30px;
    display : flex;
    flex-direction: row;
    justify-content : space-between;
    
}
.checkbox{
    border: 1px solid #BADEDA;
}
.forget_password p {
    color : var(--main_col)
}
.remember_me{
    display : flex;
    flex-direction: row;
    justify-content : flex-start;
    cursor : pointer;


}
.remember_me p{
    color: #696969;
    margin-left: 5px;
}
.remember_me input{
    
}
.oumy{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;
    margin-top: 34px;
}
.oumy H5 a{

    color: #202124;

}

a{
    text-decoration: none;
}


.footer-login{
    margin-top: 2rem;
}




