

.container_description{
    text-align: center;

}
.container_description p {
    font-size: 24px;
    font-weight: bold;
 }

 .container_content{
    padding-top: 63px;
}
.close{
    background-color: #F0F5F7;
    margin-left: 27.5rem;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
}
.input{
  border-radius: 8px;
  padding: 17px 5px 15px 15px;
  height: 48px;
  width: 100%;
  border: 1px solid #9c9c9c;
  margin-bottom: 30px;
}
.input:focus{
    outline : none;
    border : 2px solid #1AC4A2;
    color : #1AC4A2;
}
.input:valid{
    background-color:#F0F5F7
}

.my_container_input_1, .my_container_input_2, .my_container_input_3, .forget_password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;

}
.my_container_input_1 label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 37px;
}
.my_container_input_2 label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}
.my_container_input_3 {
    justify-content: center;
    align-items: center;
}
.my_container_input_3 span{
    display: flex;
    color: #696969;
    font-size: 14px;
    font-weight: bold;
    padding-top: 17px;
}
.my_container_input_3 span p a{
    font-size: 15px;
    font-weight: 600;
    color: #202124;
    text-decoration: none;
}
.my_container_input_3 button{
    border-radius: 8px;
    background-color:#1AC4A2;
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 15px;
}
.forget_password{
    margin-top: 30px;
    display : flex;
    flex-direction: row;
    justify-content : space-between;

}
.remember .remember_me .checkbox{
    border: 1px solid #BADEDA;
    margin-right: 8px;
}

.remember_me{
    display : flex;
    justify-content : flex-start;
    align-items: center;
    cursor : pointer;
}
.remember_me p{
    color: #696969;
    margin-left: 5px;
}
.remember{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 21px;
  margin-top: -10px;
}
.remember H5 a{
    font-size: 14px;
    font-weight: bold;
    color: #202124;
}
.container_form{
    width:50%;
    margin:0 auto;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 300px) and (max-width: 767px){
    .container_form{
        width:100%;
        margin:0 ;
    }

}







