h1 {
  font-size: 25px;
  margin-bottom: 40px;
}
.right_menu{
    width: 100%;
    margin-bottom: 121px;
}
.content_right_menu{
    background-color: #FFF;
    height: fit-content;
    border-radius: 8px;
    /*border: 1px solid #ECEDF2;*/
    /* Shadow / 1 */
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
}
.content_right_menu span:first-child{
  color:  #202124;
  font-size: 30px;
  font-weight: 600;
}
.map_menu{
    border-radius: 8px;
    border: 1px solid  #ECEDF2;
    background: #FFF;
    padding: 30px;
    width: 100%;
  }
.head_map_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.head_map_menu span{
    color: #202124;
    font-size: 30px;
    font-weight: 500;
}
.head_map_menu a{
    color: #1AC4A2;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.image_job_applies{
    width: 80px;
    height: 80px;
    background-color: #7862F3;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px 0px rgba(14, 16, 48, 0.07);
}

.applies_job{
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    border: 1px solid #ECEDF2;
    background: #FFF;
}

.image_job_alert{
    width: 80px;
    height: 80px;
    background-color: #F69E0B;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.description_job_alert{
    padding-left: 24px;
}
.description_job_alert p{
    color: #7F8897;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.description_job_alert span{
    color: #233D63;
    font-size: 26px;
    font-weight: 600;
}
.alert_job{
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    border: 1px solid #ECEDF2;
    background: #FFF;
}
.image_job_favorites{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background: #47A99E;
    display: flex;
    padding: 24.41px 24.59px 24.59px 24.41px;
    justify-content: center;
    align-items: center;
}
.description_job_favorites{
    padding-left: 24px;
}
.description_job_favorites span{
    color: #233D63;
    font-size: 26px;
    font-weight: 600;
}
.description_job_favorites p{
    color: #7F8897;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.favorites_job{
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    border: 1px solid #ECEDF2;
    background: #FFF;
}
.map_menu .all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    border: none;
}
.map_menu .all li .active{
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background:  #1AC4A2;
}
.map_menu .all li a{
    color: #3D4D59;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    cursor: pointer;
}
.content_image_livraison_livraison{
    width: 48px;
    height: 48px;
    margin: 35px 0 0 32px;
}
.content_image_livraison_livraison img{
    width: 100%;
    height: 100%;
}
.livraison .detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #47A99E;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 17px;
}
.livraison .detail a{
    color: #47A99E;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}
.livraison .all_items{
    display: flex;
    justify-content: space-between;
}
.livraison .items p{
    color: rgba(33, 36, 44, 0.64);
    font-size: 15px;
    font-weight: 500;
}
 @media all and (min-width: 300px) and (max-width: 767px){
.right_menu{
    width: fit-content;
    visibility: visible;
    margin-bottom: 30px;
    margin-left: 0;
    margin-top: 60px;
}
   h1 {
     font-size: 20px;
     margin-bottom: 25px;
   }
   .map_menu {
     padding: 0px;
     width: 100%;
     border: none;
   }
   .applies_job{
     margin-bottom: 35px;
   }
   .content_image_livraison-badge{
     height: 91px !important;
   }
   .document {
     margin: 0 10px 20px !important;
     max-width: 45% !important;
     flex: 44% !important;
   }
   .item_course{
     max-width: 100% !important;
     flex: 100% !important;
     margin: 0 15px 30px !important;
   }
.map_menu .all{
    display: block;
}
.map_menu .all p{
    padding: 16px 0;
}
.livraison .all_items{
    display: block;
}
.livraison .all_items .items{
    margin-bottom: 66px;
    border-bottom: 1px solid #ECEDF2;
}
.head_map_menu span{
    font-size: 20px;
}
.head_map_menu a{
    font-size: 15px;
}

}

 /*****************************************************badge********************************************************/
.badge_certificate{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 13px;
}
.badge_certificate p:first-child{
    color: #202124;
    font-size: 19px;
  font-family: "Roboto-Medium";
}
.badge_certificate a{
    color:  #1AC4A2;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.livraison{
    border-radius: 4px;
    background: #FFF;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid #ECEDF2;
    padding: 25px 15px;
}
.content_image_livraison-badge{
  width: 120px;
  height: 120px;
  margin-right: 25px;
}
.content_image_livraison-badge img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.livraison .profil{
    font-size: 18px;
    font-weight: 500;
}
.livraison .profil p:first-child{
    color: #000;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 7px;
}
.livraison .profil p{
    color: #868686;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}
.livraison .profil span{
    color: #043356;
    font-size: 16px;
    font-weight: 600;
}
.livraison .detail-badge{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 600;
}
.livraison .detail-badge p:first-child{
    color: #868686;
  font-size: 16px;
    font-weight: 500;
}
.livraison .detail-badge p:first-child span{
    color: #043356;
  font-size: 16px;
}
.livraison .detail-badge a{
    color: #47A99E;
  font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.livraison .detail-badge p{
    margin: 0;
}
.livraison .items p{
    color: rgba(33, 36, 44, 0.64);
    font-size: 15px;
    font-weight: 500;
}

 /**********************skills*************************************************/
.document{
  border-radius: 5px;
  border: 1px solid #ECEDF2;
  background: #FFF;
  text-align: center;
  padding: 32px 12px 13px;
  margin-right: 20px;
  max-width: 18%;
  flex: 18%;
}
.document .content_image_document{
    width: 95px;
    height: 95px;
    margin: 0 auto 22px;
}
.document .content_image_document img{
    width: 100%;
    height: 100%;
}
.document .content_image_document p{
    color: #47A99E;
    font-size: 20px;
    font-weight: 600;
}
.document p{
    color: #051D2F;
    font-size: 18px;
    font-weight: 600;
}

 /**************************assessment**************************************************/

.description_job_applies{
    padding-left: 24px;
}
.description_job_applies p{
    margin: 0;
    color: #7F8897;
    font-size: 18px;
    font-weight: 600;
}
.description_job_applies span{
    color: #233D63;
    font-size: 26px;
    font-weight: 600;
}

table tbody tr th {
    /*color: red;*/
    display: flex;
  }
  table tbody tr th p{
    color: #696969;
    font-size:14px;
    font-weight:600
  }
  table tbody tr td button{
    border: none;
    margin-right: 9px;
    border-radius: 8px;
    background-color: transparent;
  }
  tr td:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    color: #212121;
  }
  tr td:nth-child(3) {
    color:#1AC4A2;
    font-size: 15px;
    font-weight: 600;
  }
  .table_head{
    border-radius: 8px;
    background: rgba(74, 160, 155, 0.05);  }
  .table_head th{
    color:  #000;
    font-size: 18px;
    font-weight: bold;
  }
  thead th {
    border: none; /* ou border: 0; ou border: initial; */
    /* Ajoutez d'autres styles au besoin */
  }

 /************************prefered course ***********************************/
 /*
.item_course{
   border: 1px solid #ECEDF2;
  margin-bottom: 35px;
  max-width: 30%;
  flex: 30%;
  margin-right: 20px;
}
.item_course p:nth-child(2){
  color: #043356;
  font-size: 17px;
  font-family: "Roboto-Medium";
}
.item_course:nth-child(1){
 margin-left: 0;
}

.item_course .author{
    display: flex;
    justify-content: space-between;
}
.item_course .author span{
    color: #043356;
    font-size: 15px;
    font-weight: 600;
    display: flex;
}
.item_course .author span p{
    color: #999;
    font-size: 15px;
    font-weight: 400;
}
.item_course .time{
    display: flex;
    justify-content: space-between;
}
.item_course .time p:nth-child(1){
    color: #043356;
    font-size: 20px;
    font-weight: 600;
}
.item_course .time p:nth-child(2){
    color: #47A99E;
    font-size: 16px;
    font-weight: 500;
}
.content_image_course{
    height: 165px;
    width: 100%;
    border-radius: 8px;
    margin: 0px 0px 10px 0px;
}
.content_image_course img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}