body {
  padding-top: 110px !important;
}
.text1{
  color: #2D2D2E;
  font-size: 25px;
  font-weight: 500;
}
.card-title{
  font-size: 19px !important;
  font-family: "Roboto-Medium";
}
.box-our-app{
  display: flex;
  padding: 20px 20px;
  border: 1.5px solid #c8c8c8;
  border-radius: 10px;
  margin-bottom: 30px;
}
.for-icon {
  margin-right: 16px;
}
.card1 p{
  font-size: 17px;

}
.im{
  width: 40%;
}

.img{
  width: 95%;
}


.second-content {
  background: #1AC4A2;
}

.second-content h2 {
  font-size: 17px;
  font-weight: bolder;

}

.txt{
  font-size:14px ;
}


.img {
  display: flex;
  justify-content: end;
}

.title {
  display: flex;
  justify-content: end;
}
subs {
  text-align: end;
  width: 10%;
}
.subs p {
  width: 100%;
  text-align: end;
}
.subss p {
  width: 90%;
}

.fourth h2{
  font-size: 18px;
  font-weight: bold;
}

.third h4 label {
  color: #1AC4A2;
}

.third h4 small {
  color: #1AC4A2;
}
.sub-title {
  color: #033357;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 31px;
}
.sub-title span{
  color: #1ac4a2;
  font-weight: 700;
}
.description-text{
  font-size: 19px;
  line-height: 37px;
}
@media all and (min-width: 300px) and (max-width: 767px){
  .online-course {
    margin-bottom: 25px !important;
    margin-top: 0 !important;
  }
  .content-others-block{
    margin-top: 0 !important;
  }
  body{
    padding-top: 50px !important;
    overflow-x: hidden;
  }
  .text1{
    color: #2D2D2E;
    font-size: 20px;
    font-weight: 500;
  }
  .item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .head {
    width: 100%;
  }

  .img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .subs p {
    text-align: center;
  }

  .img-right {
    display: flex;
    justify-content: center;
  }

  .title-right h2 {
    display: flex;
    justify-content: center;
  }

  .subs-right p {
    text-align: center;

  }
  .mockup-app {
    height: 375px;
    margin: -35px 0;
  }
  .row {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .app-img {
    margin-top: 24px;
  }
  .content-description{
    padding: 0 !important;
    margin: 0 !important;
  }
  .img-slide-mockup {
    width: 90% !important;
    margin: 0 auto;
  }

}


