<app-header></app-header>
<body>
<div class="">
  <!-- Text -->
  <div class="row justify-content-center text-center mt-3 p-2">
    <label class="col-md-6 text1">
      LiveLearn is an online learning platform that offers courses and training in a range of areas, including web development, digital marketing, graphic design, business management, etc.
    </label>
  </div>

  <!-- First content -->
  <div class="row px-5">
    <!-- left side -->
    <div class="col-md-6 col-sm-12 ">
      <div class="d-flex justify-content-center">
        <img class="mockup-app" src="../../../assets/img/livelearn-mobil.png" alt="" >
      </div>
      <div class="col-md-6 col-sm-12 d-flex justify-content-center text-center ml-5 btn">
        <img class="im mr-3" src="../../../assets/img/toppng 2.png" alt="" >
        <img class="im" src="../../../assets/img/PngItem_1144050 3.png" alt="">
      </div>
    </div>
    <!-- right side -->
    <div class="col justify-content-center align-items-center mt-5 card1">
      <div class="box-our-app">
        <div class="for-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill mt-1 text-success" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </div>
        <div class="bloc-texte">
          <p class="card-title ">Search for skills</p>
          <p class="card-text">Discover, unlock, and upgrade your skills effortlessly with our LiveLearn app. Engage in daily training sessions and conquer assessments to chart your progress. </p>
        </div>
      </div>

      <div class="box-our-app">
        <div class="for-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill mt-1 text-success" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </div>
        <div class="bloc-texte">
          <p class="card-title ">Access your courses and training at any time</p>
          <p class="card-text">Make learning your own with LiveLearn! Our app offers a daily dose of personalized content, so you can easily pick up new skills at your own pace.</p>
        </div>
      </div>

      <div class="box-our-app">
        <div class="for-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill mt-1 text-success" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </div>
        <div class="bloc-texte">
          <p class="card-title ">Track your progress</p>
          <p class="card-text">Easily track your progress on LiveLearn and share your achievements with future employers. We believe in showing off your skills, making it simple for you to highlight your growth journey.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Second content -->
  <div class="row ">
    <div class="col second-content text-white ">
      <div class="row d-flex justify-content-center text-center p-5 ">
        <h2 class="row btn-block text-uppercase mt-3 mb-3">App features</h2>
        <br>
        <p class="col-md-5 col-sm-12">
          Explore a world of learning with our LiveLearn app designed for skill-building across the globe. Discover features that make it easy for talent and teachers to grow. Enjoy interactive lessons, personalized learning paths, connect in real-time communities, and track progress with simple analytics – all in one user-friendly LiveLearn app.        </p>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-3 col-sm-6 online-course online text-center my-5 txt">
          <img src="../../../assets/img/fluent_learning-app-24-regular.svg" alt="">
          <h2 class="text-uppercase my-3">Online courses</h2>
          <p>
            The courses are taught by experts in their field and are designed to be interactive and engaging.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <!-- Left part -->
        <div class="col text-center">
          <div class="h-100 my-5 content-others-block">
            <div class="item h-50 ">
              <div class="head  ">
                <div class="img">
                  <img src="../../../assets/img/ic_outline-model-training.svg" alt="">
                </div>
                <div class="title ">
                  <h2 class="text-uppercase my-3">Online training</h2>
                </div>
                <div class="subs">
                  <p>
                    LiveLearn also offers online training <br>programmes, which are designed to help <br> users develop specific skills
                  </p>
                </div>
              </div>
            </div>

            <div class="item h-50">
              <div class="h-50 head">
                <div class="img">
                  <img src="../../../assets/img/fluent_people-community-16-filled.svg" alt="">
                </div>
                <div class="title">
                  <h2 class="text-uppercase my-3">Community</h2>
                </div>
                <div class="subs">
                  <p>
                    LiveLearn offers online communities where <br>users can interact with other people who are <br>learning the same thing as they are.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Center part -->
        <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
          <img class="app-img" src="../../../assets/img/App.png" alt="">
        </div>

        <!-- Right part -->
        <div class="col-md-4 col-sm-12">
          <div class="h-100 my-5">
            <div class="item h-50">
              <div class="head">
                <div class="img-right">
                  <img src="../../../assets/img/ic_outline-model-training.svg" alt="">
                </div>
                <div class="title-right">
                  <h2 class="text-uppercase my-3">ios & android version</h2>
                </div>
                <div class="subs-right">
                  <p>
                    you can download the app on ios or android version
                  </p>
                </div>
              </div>
            </div>

            <div class="item h-50">
              <div class="head">
                <div class="img-right">
                  <img src="../../../assets/img/carbon_gui-management.svg" alt="">
                </div>
                <div class="title-right">
                  <h2 class="text-uppercase my-3">management</h2>
                </div>
                <div class="subs-right">
                  <p>
                    If you are a company you can manage your team and send notifications ..... </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-3 col-sm-6 text-center my-5">
          <img src="../../../assets/img/Icons/male-telemarketer.svg" alt="">
          <h2 class="text-uppercase my-3">24/7 support by real people</h2>
          <p> Our team is at your disposal for any problems related to the app.</p>
        </div>
      </div>

    </div>
  </div>
  <!-- Third content -->

  <div class="row third">
    <div class="col-md-5 col-sm-12 d-flex justify-content-center mt-5">
      <div class="col mt-5 p-5 content-description">
        <h4 class="w-80 sub-title">As a company, you can manage all your <span>talent</span> within the organisation in just <span>1 minute</span>.</h4>
        <p class="description-text">As a manager, you can track exactly how your talent is developing in our specially developed learning management system. You can also easily share content, training and other knowledge products with them.</p>

        <div class="col-md-6 col-sm-12 d-flex justify-content-center text-center ml-5 mt-5">
          <img class="mr-3" src="../../../assets/img/toppng 2.png" alt="" >
          <img class="" src="../../../assets/img/PngItem_1144050 3.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-5 ">
      <img class="img" src="../../../assets/img/livelearn-mobile3.png" alt="">
    </div>
  </div>

  <!-- Fourth content -->
  <div class="row fourth justify-content-center p-5">
    <div class="col text-uppercase text-center">
      <h2>checkout our app interface look</h2>
    </div>

    <div class="text-center my-3 d-flex justify-content-center ">
      <label class="col-md-5 col-sm-12">
        Our application's interface is designed to provide an intuitive, user-friendly and efficient user experience. It has been carefully designed to meet the needs of
        our users and to facilitate access to the application's essential functions
      </label>
    </div>
    <div class="my-5 text-center">
      <img class="img img-slide-mockup" src="../../../assets/img/livelearn-mobile4.png" alt="">
    </div>
  </div>
</div>

</body>
<app-footers></app-footers>
