<app-header></app-header>
<section class="content-page-dashboard">
  <app-sidebar-candidat></app-sidebar-candidat>
  <div class="right_menu" [class.right_menu_show]="!isSidebarVisible" [class.right_menu]="isSidebarVisible">
      <div class="content_right_menu">
         <!-- <div class="map_menu">

              <div class="d-flex">
                <div class="content_map_menu">
                  <svg xmlns="http://www.w3.org/2000/svg" width="136" height="135" viewBox="0 0 136 135" fill="none">
                      <rect x="0.710938" width="135" height="135" rx="8" fill="#FF3365"/>
                  </svg>
                </div>
              <div class="description_map">
                <p>Browse</p>
                <p>Max file size is 1MB, Minimum dimension: 330x300 And Suitable files are .jpg & .png</p>
              </div>
              </div>
          </div>-->
      <form [formGroup]="form" (ngSubmit)="onSubmit(candidat.ID)">
        <div class="card-body">
          <h2 class="mt-0 ml-0">My Profile</h2>

     


          <div class="row">
                <div class="col-md-6 col-sm-6 p-2">
                    <label for="first_name">
                      Full Name
                        <p>*</p>
                    </label>
                    <div class="input-group">
                        <input type="text" name="first_name" formControlName="first_name" class="form-control" id="first_name" placeholder="Mohamed"   
                        [attr.disabled]="form.value.first_name ">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6   p-2">
                    <label for="password">Job Title
                        <p>*</p>
                    </label>
                    <div class="input-group">
                        <input type="text" name="work_as" formControlName="work_as" class="form-control" id="work_as" placeholder="UI Designer" [attr.disabled]="form.value.work_as ">
                    </div>
                </div>
              <div class="col-md-6 col-sm-6   p-2">
                <label for="firstName">Phone
                  <p>*</p>
                </label>
                <div class="input-group">
                  <input type="text" name="telnr" class="form-control" formControlName="telnr" id="telnr" placeholder="0 123 456 7890"
                          >
                </div>
              </div>

              <div class="col-md-6 col-sm-6   p-2">
                <label for="email">Email address
                  <p>*</p>
                </label>
                <div class="input-group">
                  <input type="email" name="email" id="email" formControlName="email" class="form-control" placeholder="mohamed@livelearn.nl" [attr.disabled]="form.value.email ">
              </div>
              </div>

              <div class="col-md-6 col-sm-6   p-2">
                <label for="name"> Experience
                  <p>*</p>
                </label>
                <div class="input-group">
                  <input type="text" name="experience" formControlName="experience" class="form-control" id="experience" placeholder="5-10 Years"
                          >
                </div>
              </div>

              <div class="col-md-6 col-sm-6   p-2">
                <label for="name"> Age
                  <p>*</p>
                </label>
                <div class="input-group">
                  <input type="text" name="age"  formControlName="age" class="form-control" id="age" placeholder="20 Years"
                        >
                </div>
              </div>

              <div class="col-md-6 col-sm-6   p-2">
                <label for="name"> Education Levels
                  <p>*</p>
                </label>
                <div class="input-group">
                  <input type="text" name="education_level" formControlName="education_level" class="form-control" id="education_level" placeholder="Certificate"
                          >
                </div>
              </div>

              <div class="col-md-6 col-sm-6   p-2">
                <label for="name"> Languages
                  <p>*</p>
                </label>
                <div class="input-group">
                  <input type="text" name="language" formControlName="language" class="form-control" id="language" placeholder="English, Turkish"
                  [attr.disabled]="form.value.language">
                </div>
              </div>
              <!--
              <div class="col-md-6 col-sm-6   p-2">
                <label for="name">Categories
                  <p>*</p>
                </label>
                <div class="input-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Ndiaye"
                          >
                </div>
              </div>

              <div class="col-md-6 col-sm-6   p-2">
                <label for="name"> Allow In Search & Listing
                  <p>*</p>
                </label>
                <div class="input-group">
                  <input type="text" name="username"   class="form-control" id="username" placeholder="Yes"
                          >
                </div>
              </div>
-->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea  formControlName="biographical_info" name="biographical_info" id="biographical_info" rows="8" [attr.disabled]="form.value.biographical_info "></textarea>

                </div>
              </div>
            </div>

        </div>
     
      <div class="card-modife social-block">
          <div class="card-body">
             <h2>Social Network</h2>
              <div class="row">
                  <div class="col-md-6 col-sm-6 p-2">
                      <label for="facebook">
                        Facebook
                          <p>*</p>
                      </label>
                      <div class="input-group">
                          <input type="text" formControlName="facebook" name="facebook" class="form-control" id="facebook" placeholder="www.facebook.com/Invision"
                              >
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6   p-2">
                      <label for="password">Twitter
                          <p>*</p>
                      </label>
                      <div class="input-group">
                          <input type="text" name="twitter" formControlName="twitter" class="form-control" id="twitter" placeholder="www.twitter.sn"
                            >
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6   p-2">
                    <label for="linkedin">Linkedin
                      <p>*</p>
                    </label>
                    <div class="input-group">
                      <input type="text" name="linkedin" formControlName="linkedin" class="form-control" id="linkedin" placeholder="www.linkdin.com"
                             >
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6   p-2">
                    <label for="firstName">Instagramm
                      <p>*</p>
                    </label>
                    <div class="input-group">
                      <input type="text" name="instagram" formControlName="instagram" class="form-control" id="instagram" placeholder="www.instagramm.com"
                            >
                    </div>
                  </div>
              </div>

          </div>
      </div>
      <div class="card-modife contact-infos">
          <div class="card-body">
               <h2>Contact Information</h2>
              <div class="row g-3">
                  <div class="col-md-6 col-sm-6 p-2">
                      <label for="country">
                        Country
                          <p>*</p>
                      </label>
                      <div class="input-group">
                          <input type="text" name="country" formControlName="country" class="form-control" id="country" placeholder="Sénégal"
                              >
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6   p-2">
                      <label for="city">City
                          <p>*</p>
                      </label>
                      <div class="input-group">
                          <input type="text" name="city" formControlName="city" class="form-control" id="city" placeholder="Dakar"
                              >
                      </div>
                  </div>
                  <div class="col-md-12 col-sm-12 p-2">
                  <label for="adress">Complete Address
                    <p>*</p>
                  </label>
                  <div class="input-group">
                    <input type="text" name="adress" formControlName="adress" class="form-control" id="adress" placeholder="Dakar ouakam"
                    [attr.disabled]="form.value.adress" >
                  </div>
                </div>
              </div>

          </div>
      </div>
        <button type="submit" class="btn btn-save">Save</button>
      </form>

    </div>
  </div>
</section>

<app-footers></app-footers>
