<app-header></app-header>
<main>
    <div class="card border-light border-0">
        <div class="container">
            <div class=" card-header">
                <span class="create_account">Create Your Account</span>
                <div class="candidate-employe">
                  <button (click)="showCandidate()" [class.active]="isCandidateActive" class="btn btn-outline-secondary">
                      <i class="fa fa-user"></i>
                      <span>Candidate</span>
                  </button>
                  <button (click)="showEmployer()" [class.active]="isEmployerActive" class="btn btn-outline-secondary">
                      <i class="fa fa-shopping-bag"></i>
                      <span>Employer</span>
                  </button>
              </div>
              
            </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="canditate">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6   ">
                              <label for="firstName">First Name
                                <p>*</p>
                              </label>
                              <div class="input-group">
                                <input type="text" name="firstName" class="form-control" id="firstName" placeholder="Fill up your first name "
                                       formControlName="firstName">
                              </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                              <label for="firstName">Last Name
                                <p>*</p>
                              </label>
                              <div class="input-group">
                                <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Fill up your last name"
                                       formControlName="lastName">
                              </div>
                            </div>
                        
                        <div class="col-md-6 col-sm-6  ">
                          <label for="email">
                              Email
                              <p>*</p>
                          </label>
                          <div class="input-group">
                              <input type="email" name="email" class="form-control" id="email" placeholder="aaondiaye@gmail.com"
                                  formControlName="email">
                          </div>
                      </div>
                        <div class="col-md-6 col-sm-6  ">
                          <label for="email">
                              Phone
                          </label>
                          <div class="input-group">
                              <input type="text" name="phone" class="form-control" id="phone" placeholder="+221773977487"
                                  formControlName="phone">
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-6   ">
                        <label for="password">Password
                            <p>*</p>
                        </label>
                        <div class="input-group">
                            <input type="password" name="password" class="form-control" id="password" placeholder="********"
                                formControlName="password">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6   ">
                        <label for="password">Confirm Password
                            <p>*</p>
                        </label>
                        <div class="input-group">
                            <input type="password" name="password_confirmation" class="form-control" id="password" placeholder="********"
                                formControlName="password_confirmation">
                        </div>
                    </div>
                    <div class="col-md-12 ">
                      <label for="bedrijf">
                        Country
                      </label>
                      <div class="input-group">
                        <select class="form-control fieldSelect p-10" id="country" formControlName="country" name="country" [(ngModel)]="selectedCountry" (change)="onCountryChange($event)" style="padding: 10px;">
                          <option *ngFor="let country of countries" [value]="country.name.common">
                            {{country.name.common}}
                          </option>
                        </select>
                      </div>
                    </div>
            
                    <!--
                    <div class="col-md-12 col-sm-12  ">
                      <label for="name"> UserName
                        <p>*</p>
                      </label>
                      <div class="input-group">
                        <input type="text" name="username" class="form-control" id="username" placeholder="Fill up your username"
                               formControlName="username">
                      </div>
                    </div>
                    -->
                    </div>
                          
                          
                    </div>
                    <div class="card-footer p-3  ">
                        <button class="btn btn-outline-secondary create " type="submit" routerLinkActive="active_lien_navbar" [disabled]="isLoading"> Register </button>
                        <div *ngIf="isLoading" class="loader">Loading...</div>

                    </div>
                            <div class="clear"></div><br />
                </form>

             <form [formGroup]="formCompagny" (ngSubmit)="inscriptionCompagny()" *ngIf="employer">
                <div class="card-body" >
                    <div class="row">
                        <div class="col-md-6 ">
                            <label for="firstNameCompagny">First Name
                                <p>*</p>
                            </label>
                            <div class="input-group">
                                <input type="text" name="firstNameCompagny" class="form-control" id="firstNameCompagny" placeholder="Fill up your first Name"
                                    formControlName="firstNameCompagny">
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <label for="lastNameCompagny">Last Name
                                <p>*</p>
                            </label>
                            <div class="input-group">
                                <input type="text" name="lastNameCompagny" class="form-control" id="lastNameCompagny" placeholder="Fill up your last Name"
                                    formControlName="lastNameCompagny">
                            </div>
                        </div>
                        <div class="col-md-6 ">
                          <label for="emailCompagny"> Email
                            <p>*</p>
                          </label>
                          <div class="input-group">
                            <input type="email" name="emailCompagny" class="form-control" id="emailCompagny" placeholder="mohamed@livelearn.nl"
                                   formControlName="emailCompagny">
                          </div>
                        </div>
                        <div class="col-md-6 ">
                          <label for="phoneCompagny"> Phone
                          </label>
                          <div class="input-group">
                            <input type="text" name="phoneCompagny" class="form-control" id="phoneCompagny" placeholder="+221773977487"
                                   formControlName="phoneCompagny">
                          </div>
                        </div>
                        <div class="col-md-6 ">
                          <label for="passwordCompagny"> Password
                            <p>*</p>
                          </label>
                          <div class="input-group">
                            <input  type="password" name="passwordCompagny" class="form-control" id="passwordCompagny" placeholder="**********"
                                    formControlName="passwordCompagny">
                          </div>
                        </div>
                        <div class="col-md-6 ">
                          <label for="confirmPasswordCompagny"> Confirm Password
                            <p>*</p>
                          </label>
                          <div class="input-group">
                            <input style="background-color:F0F5F7 ;" type="password" id="confirmPasswordCompagny" name="confirmPasswordCompagny" class="form-control" placeholder="********"
                                   formControlName="confirmPasswordCompagny">
                          </div>
                        </div>
                        
                        <div class="col-md-12 ">
                          <label for="bedrijf">
                            Company
                            <p>*</p>
                          </label>
                          <div class="input-group">
                            <input type="text" name="bedrijf" class="form-control" id="bedrijf" placeholder="Livelearn"
                                   formControlName="bedrijf">
                          </div>
                        </div>
                        
                    </div>
                </div>

                <div class="card-footer p-3  ">
                    <button class="btn btn-outline-secondary create " type="submit" routerLinkActive="active_lien_navbar"  [disabled]="isLoading"> Register </button>
                    <div *ngIf="isLoading" class="loader">Loading...</div>

                </div>
                <div class="clear"></div><br />
            </form>
        </div>

    </div>
</main>
<app-footers></app-footers>
  
