
/* Main container */
main {
   background-color: #FFFF;
  }

  /* Card styling */
  .card {
    border: none;
    border-radius: 0;

  }

  .card-header {
    border: none;
    border-radius: 0;
    text-align: center;
    padding-top: 63px;
    background: none;
  }
  .card-header .create_account{
    color:#202124;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

  }
  .card-header span{
    font-weight: bold;
  }
  .candidate-employe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 40px;
  }

  .candidate-employe button{
    width: 260px;
    color: #1AC4A2;
    background:  #DDF6F1;
    border: none;
    cursor: pointer;
  }
  .candidate-employe button.active {
    width: 260px;
    color: #FFF;
    background: #1AC4A2;
    border: none;
    cursor: pointer;
}

.candidate-employe i {
    margin-right: 5px;
}

.candidate {
    border: 1px solid red;
    margin-right: 30px;
}

.candidate-employe button:active {
    color: #FFF;
    background-color: #1AC4A2;
}


  .card-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 160px 20px;
  }
  .footer {
    display: flex;
    justify-content: center;
  }

  .card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
  }
  .card-footer button{
    border: none ;
    background-color: #1AC4A2;
    color: #FFFF;
    width: 550px;
    height: 60px;
    font-weight: bold;
    border-radius: 8px;
  }
  /* Form styling */
  .form-control {
    border-radius: 8px;
    padding: 17px 5px 15px 15px;
    height: 48px;
    width: 100%;
    border: 1px solid #9c9c9c;
  }

  .input-group-text {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0;
    display: flex;
  }
  .input-group{
    margin-bottom: 25px !important;
  }

  /* Label styling */
  label {
    font-weight: bold;
    margin-bottom: 6px;
    display: flex;

  }
  /* Add margin and spacing */
  .m-4 {
    margin: 1.5rem;
  }

  /* Clear float */
  .clear {
    clear: both;
  }
  #password-employer, #confirm-password{
    background-color:#F0F5F7 ;
  }

  /* Adjust spacing between buttons */
  .btn {
    margin: 0.3rem;
    padding:15px ;
    border-radius: 8px;
    width: 80%;
  }

  /* Optional styles for the text with asterisk (*) */
  p {
    font-weight: bold;
    color: red;
    margin: 1px 2px 0px 10px;
  }

@media all and (min-width: 300px) and (max-width: 767px){
  .card-body {
    padding: 0 10px 20px;
  }
}


