.content-app-footer .title-download {
  font-size: 26px;
  font-family: "Roboto-Medium";
  margin-bottom: 20px;
}
.content-app-footer .description{
  font-size: 18px;
  width: 55%;
  margin: 0 auto 35px;
  color: #545454;
  line-height: 31px;
}
.content-app-footer .btn-download{
  height: 55px;
}
.content-img-app-footer{
  width: 871px;
  margin: 0 auto;
}
.content-app-footer .btn-download img, .content-img-app-footer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-element{
  position: absolute;
}
#el-1{
  right: 10%;
  top: 10%;
}
#el-2{
  right: 22%;
  bottom: 10%;
}
#el-3{
  left: 52%;
  bottom: 50%;
}
#el-4{
  left: 2%;
  top: 18%;
}
#el-5{
  right: 85%;
  bottom: 26%;
}
@media all and (min-width: 300px) and (max-width: 767px){

  .content-img-app-footer{
    width: 100%;
    margin: 0 auto;
  }

  .content-app-footer .description {
    font-size: 18px;
    width: 100%;
    margin: 0 auto 35px;
    color: #545454;
    line-height: 31px;
  }
  .content-btn-download {
    margin-bottom: 35px;
  }

  }
