<div class="content-app-footer text-center">
  <div class="container-fluid position-relative">
    <p class="title-download">Download Your Mobile Apps</p>
    <p class="description">Explore a world of learning with our LiveLearn app designed for skill-building across the globe. Discover features that make it easy for talent and teachers to grow</p>
    <div class="content-btn-download d-flex justify-content-center">
      <a href="https://play.google.com/store/apps/details? id=com.livelearn.livelearn_mobile_app&pli=1" class="btn btn-download">
        <img src="../../../assets/img/play.png" alt="">
      </a>
      <a href="https://apps.apple.com/nl/app/livelearn/id1666976386" class="btn btn-download">
        <img src="../../../assets/img/appel.png" alt="">
      </a>
    </div>
    <img id="el-1" class="about-element" src="../../../assets/img/Vector-1.svg" alt="">
    <img id="el-2" class="about-element" src="../../../assets/img/Vector-2.svg" alt="">
    <img id="el-3" class="about-element" src="../../../assets/img/Vector-3.svg" alt="">
    <img id="el-4" class="about-element" src="../../../assets/img/Vector-2.svg" alt="">
    <img id="el-5" class="about-element" src="../../../assets/img/Vector-1.svg" alt="">
    <div class="content-img-app-footer">
      <img src="../../../assets/img/group-mockup-app.png" alt="">
    </div>
  </div>
</div>
