<section class="new-letter">
  <div class="container-fluid">
    <div class="row subscriber_form">
      <div class=" col-md-6">
        <div class="inner">
          <p class="title-newlestter">Subscribe to our newsletter</p>
          <p class="description-newlester">Advertise your jobs to millions of monthly users and search 15.8 million CVs in our database.</p>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="my_container_form">
          <form>
            <input type="email" class="email" name="email" placeholder="Your e-mail"/>
            <a class="btn hiring" type="submit" routerLink="register" routerLinkActive="active_lien_navbar">Subscribe</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="content-footer css-selector">
  <section class="footer-web">
    <div class="container-fluid">
      <ul>
        <li class="item_1">
          <div class="logo">
            <div class="content_logo">
              <img src="../../../assets/img/logo-footer-white.png" alt="image pas encore insérer">
            </div>
          </div>
          <div class="call">
            <p class="call_1">Call Us</p>
            <p class="call_2 mb-2">+221 871 83 33 </p>
            <p>Hascke Immeuble Thiargane,<br> Sénégal.</p>
          </div>
        </li>
        <li class="jobs">
          <p class="title-footer">Company</p>
          <div class="content-link-footer">
            <a href="/about" class="link-footer">About us</a>
            <a href="/contact" class="link-footer">Contact us</a>
            <a href="/list-compagny" class="link-footer">All Companies</a>
            <a href="/app" class="link-footer">Our App</a>
            <a href="/skills-first" class="link-footer">Skill First</a>
            <a href="/blog" class="link-footer">All Blog</a>
          </div>
        </li>
        <li class="employers">
          <p class="title-footer">Categories</p>
          <div class="content-link-footer">
            <a href="/detail-category/Afas" class="link-footer">Keurmeester waren</a>
            <a href="/detail-category/Barista" class="link-footer">Barista</a>
            <a href="/detail-category/SalesForce" class="link-footer">SalesForce</a>
            <a href="/detail-category/Bartender" class="link-footer">Bartender</a>
            <a href="/detail-category/Housekeeper" class="link-footer">Housekeeper</a>
          </div>
        </li>
        <li class="about">
          <p class="title-footer">Support</p>
          <div class="content-link-footer">
            <a href="/contact" class="link-footer">Help & Support</a>
            <a href="#" class="link-footer">FAQ</a>
            <a href="/contact" class="link-footer">Contact</a>
            <a href="#" class="link-footer">Features</a>
          </div>
        </li>
        <li class="mobile">
          <p class="title-footer">Legal</p>
          <div class="content-link-footer">
            <a href="#" class="link-footer">Terms of Service</a>
            <a href="#" class="link-footer">Privacy Policy</a>
            <a href="#" class="link-footer">Features</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="resaux-sociaux">
      <div class="container-fluid">
        <div class="d-flex justify-content-between">
          <p>© 2024 Livelearn. All Right Reserved.</p>
          <div class="social">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="footer-mobile">
    <div class="container">
      <ul>
        <li class="item_1">
          <div class="logo">
            <div class="content_logo">
              <img src="../../../assets/img/logo-footer-white.png" alt="image pas encore insérer">
            </div>
          </div>
          <div class="call">
            <p class="call_1">Call Us</p>
            <p class="call_2 mb-2">+221 871 83 33</p>
            <p>Hascke Immeuble Thiargane,<br> Sénégal.</p>
          </div>
        </li>
      </ul>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Company
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="content-link-footer">
              <a href="/about" class="link-footer">About us</a>
              <a href="/contact" class="link-footer">Contact us</a>
              <a href="/list-compagny" class="link-footer">All Companies</a>
              <a href="/app" class="link-footer">Our App</a>
              <a href="/skills-first" class="link-footer">Skill First</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Categories
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="content-link-footer">
              <a href="/detail-category/289" class="link-footer">Digital Marketing</a>
              <a href="/detail-category/291" class="link-footer">Drupal</a>
              <a href="/detail-category/284" class="link-footer">SalesForce</a>
              <a href="/detail-category/290" class="link-footer">UX / UI Design</a>
              <a href="/detail-category/287" class="link-footer">Wordpress</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Support
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="content-link-footer">
              <a href="/contact" class="link-footer">Help & Support</a>
              <a href="#" class="link-footer">FAQ</a>
              <a href="/contact" class="link-footer">Contact</a>
              <a href="#" class="link-footer">Features</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Legal
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="content-link-footer">
              <a href="#" class="link-footer">Terms of Service</a>
              <a href="#" class="link-footer">Privacy Policy</a>
              <a href="#" class="link-footer">Features</a>
            </div>
          </div>
        </div>
        <div class="resaux-sociaux">
          <div class="container-fluid">
            <div class="d-flex justify-content-between">
              <p>© 2024 Livelearn. All Right Reserved.</p>
              <div class="social">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

