    <section class="new-letter">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-md-6 ">
                    <div class="inner">
                        <span>Subscriber Our New Letter</span>
                        <p>Advertise your jobs to millions of monthly users and search 15.8 million CVs in our database.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="my_container_form">
                        <form>
                            <input type="email" class="email" name="email" placeholder="Your e-mail"/>
                                <a class="btn hiring" type="submit" routerLink="register" routerLinkActive="active_lien_navbar">Subscriber</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
                <ul>
                    <li class="item_1">
                        <div class="logo">
                            <div class="content_logo">
                                <img src="../../../assets/img/logo_liggey.png" alt="image pas encore insérer">
                            </div>

                        </div>
                        <div class="call">
                            <span class="call_1">Call Us</span>
                            <p class="call_2">000 46 08 90</p>
                            <p>329 Queensberry Street, North Melbourne VIC 3051,<br> Australia.</p>
                        </div>
                    </li>
                    <li class="jobs">
                        <span>For Candidates</span>
                        <div class="browse-jobs">
                            <p>Browse Jobs</p>
                            <span class="tiret"></span>
                            <p style="color: #1AC4A2;">Browse Categories</p>
                            <p>Candidate Dashboard</p>
                            <p>Job Alerts</p>
                        </div>
                    </li>
                    <li class="employers">
                        <span>For Employers</span>
                        <div class="browse-employers">
                            <p>Browse Candidate</p>
                            <p style="color: #1AC4A2;">Employer Dashboard</p>
                            <p>Add Job</p>
                        </div>
                    </li>
                    <li class="about">
                        <span>About Us</span>
                        <div class="about-us">
                            <p>About</p>
                            <p>Resume Page</p>
                            <p>Blog</p>
                            <p>Contact</p>
                        </div>
                    </li>
                    <li class="mobile">
                        <span>Mobile Apps</span>
                        <div class="mobile-app">
                            <p>Click and Get started in seconds</p>
                                <button class="app">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                        <path d="M25.575 30.4198C24.105 31.8448 22.5 31.6198 20.955 30.9448C19.32 30.2548 17.82 30.2248 16.095 30.9448C13.935 31.8748 12.795 31.6048 11.505 30.4198C4.185 22.8748 5.265 11.3848 13.575 10.9648C15.6 11.0698 17.01 12.0748 18.195 12.1648C19.965 11.8048 21.66 10.7698 23.55 10.9048C25.815 11.0848 27.525 11.9848 28.65 13.6048C23.97 16.4098 25.08 22.5748 29.37 24.2998C28.515 26.5498 27.405 28.7848 25.56 30.4348L25.575 30.4198ZM18.045 10.8748C17.82 7.52976 20.535 4.76976 23.655 4.49976C24.09 8.36976 20.145 11.2498 18.045 10.8748Z" fill="#1AC4A2"/>
                                    </svg>
                                    Dowload on the <br>Apple Store
                                </button>
                                <button class="play">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                        <path d="M25.575 30.4198C24.105 31.8448 22.5 31.6198 20.955 30.9448C19.32 30.2548 17.82 30.2248 16.095 30.9448C13.935 31.8748 12.795 31.6048 11.505 30.4198C4.185 22.8748 5.265 11.3848 13.575 10.9648C15.6 11.0698 17.01 12.0748 18.195 12.1648C19.965 11.8048 21.66 10.7698 23.55 10.9048C25.815 11.0848 27.525 11.9848 28.65 13.6048C23.97 16.4098 25.08 22.5748 29.37 24.2998C28.515 26.5498 27.405 28.7848 25.56 30.4348L25.575 30.4198ZM18.045 10.8748C17.82 7.52976 20.535 4.76976 23.655 4.49976C24.09 8.36976 20.145 11.2498 18.045 10.8748Z" fill="#1AC4A2"/>
                                    </svg>
                                    Get it On <br>Google Play
                                </button>
                        </div>
                    </li>
                </ul>
                <div class="separateur"></div>
                <div class="resaux-sociaux">
                    <p>© 2023 Seydou-Kellel-design. All Right Reserved.</p>
                    <div class="social">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>

                    </div>
                </div>
            </div>


    </section>

