<div class="container">
    <div class="new-letter">
        <div class="content-new-letter">
            <div class="inner">
                <h3>Subscriber Our New Letter</h3>
                <p>Advertise your jobs to millions of monthly users and search 15.8 million CVs in our database.</p>
            </div>
            <div class="my_container_form">
                <form>
                    <input type="email" class="email" name="email" placeholder="Your e-mail"/>
                    <div class = "my_container_submit">
                        <button type="submit" class="btn btn-success"><p>Subscriber</p></button>
                    </div>
                </form>
            </div>
          
        </div>
    </div>
    <div class="footer">
        <ul class="items">
            <li class="item_1">
                <div class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="53" viewBox="0 0 56 53" fill="none">
                        <path d="M9.38012 18.189L15.4001 14.4091L12.0398 8.07589H43.642L27.846 37.8737L24.4858 31.5295L18.4659 35.3206L27.846 53.0049L55.6818 0.504883H0L9.38012 18.189Z" fill="#1967D2"/>
                    </svg>
                    <h3>LOGO</h3>
                </div>
                <div class="call">
                    <span class="call_1">Call Us</span>
                    <span class="call_2">000 46 08 90</span>
                    <p>329 Queensberry Street, North Melbourne VIC 3051,<br> Australia.</p>
                </div>
            </li>
            <li class="jobs">
                <h4>For Candidates</h4>
                <div class="browse-jobs">
                    <p>Browse Jobs</p>
                    <span class="tiret"></span>
                    <p style="color: #34A853;">Browse Categories</p>
                    <p>Candidate Dashboard</p>
                    <p>Job Alerts</p>
                </div>
            </li>
            <li class="employers">
                <h4>For Employers</h4>
                <div class="browse-employers">
                    <p>Browse Candidate</p>
                    <p style="color: #34A853;">Employer Dashboard</p>
                    <p>Add Job</p>
                </div>
            </li>
            <li class="about">
                <h4>About Us</h4>
                <div class="about-us">
                    <p>About</p>
                    <p>Resume Page</p>
                    <p>Blog</p>
                    <p>Contact</p>
                </div>
            </li>
            <li class="mobile">
                <h4>Mobile Apps</h4>
                <div class="mobile-app">
                    <p>Click and Get started in seconds</p>
                    <p>
                        <button class="app">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                            <path d="M25.5748 30.4198C24.1048 31.8448 22.4998 31.6198 20.9548 30.9448C19.3198 30.2548 17.8198 30.2248 16.0948 30.9448C13.9348 31.8748 12.7948 31.6048 11.5048 30.4198C4.18476 22.8748 5.26476 11.3848 13.5748 10.9648C15.5998 11.0698 17.0098 12.0748 18.1948 12.1648C19.9648 11.8048 21.6598 10.7698 23.5498 10.9048C25.8148 11.0848 27.5248 11.9848 28.6498 13.6048C23.9698 16.4098 25.0798 22.5748 29.3698 24.2998C28.5148 26.5498 27.4048 28.7848 25.5598 30.4348L25.5748 30.4198ZM18.0448 10.8748C17.8198 7.52976 20.5348 4.76976 23.6548 4.49976C24.0898 8.36976 20.1448 11.2498 18.0448 10.8748Z" fill="#1967D2"/>
                            </svg>
                            Dowload on the <br>Apple Store
                        </button>
                    </p>
                    <p>
                        <button class="play">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                <path d="M25.5748 30.4198C24.1048 31.8448 22.4998 31.6198 20.9548 30.9448C19.3198 30.2548 17.8198 30.2248 16.0948 30.9448C13.9348 31.8748 12.7948 31.6048 11.5048 30.4198C4.18476 22.8748 5.26476 11.3848 13.5748 10.9648C15.5998 11.0698 17.0098 12.0748 18.1948 12.1648C19.9648 11.8048 21.6598 10.7698 23.5498 10.9048C25.8148 11.0848 27.5248 11.9848 28.6498 13.6048C23.9698 16.4098 25.0798 22.5748 29.3698 24.2998C28.5148 26.5498 27.4048 28.7848 25.5598 30.4348L25.5748 30.4198ZM18.0448 10.8748C17.8198 7.52976 20.5348 4.76976 23.6548 4.49976C24.0898 8.36976 20.1448 11.2498 18.0448 10.8748Z" fill="#1967D2"/>
                            </svg>
                            Get it On <br>Google Play
                        </button>
                    </p>
                </div>
            </li>
        </ul>
        <div class="separateur"></div>
        <div class="resaux-sociaux">
            <p>© 2023 Seydou-Kellel-design. All Right Reserved.</p>
            <div class="social">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
    
            </div>
        </div>
    </div>
</div>
