.content-footer{
  position: relative;
  padding: 70px 0 0;
}
.new-letter{
    background-color: #E9FAF6;
    border-radius: 30px 30px 0px 0px;
}
.subscriber_form{
    padding-top: 43px;
    padding-bottom: 43px;
}
.inner span{
    font-size: 30px;
    font-weight: bold;
}
.my_container_form{
    display: flex;
    justify-content: center;
    padding: 28px 425px 24px 28px;
    border-radius: 8px;
    position: relative;
    background-color: #FFF;
}
input[type="email"] {
    border-radius: 8px;
    border: none;
}
input[type="email"]:focus {
    outline: none;
}
.my_container_form a{
    border-radius: 8px;
    background-color: #1AC4A2;
    color: #FFFF;
    font-weight: bold;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 17px 28px 15px 27px;
}

ul{
    display: flex ;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 0;
 }
ul .item_1{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 20px;
}
ul li{
  display: block;
  margin-right: 20px;
  width: 18%;
}
ul li:last-child{
  margin-right: 0px;
}
.sub-element-footer {
  font-size: 17px;
  color: #1e1e1e;
  margin: 0 15px;
}
ul li .title-footer{
  font-size: 20px;
  font-family: "Roboto-Medium";
  margin-bottom: 24px;
  color: black;
}
ul li p{
  font-size: 15px;
  font-weight: 500;
  color: #696969;
  margin-bottom: 6px;
}
.jobs .browse-jobs .browse_categorie{
    color: #1AC4A2;
    font-weight: 700;
}

.content_logo{
  width: auto;
  height: 68px;
  margin-bottom: 36px;
  margin-left: -55px;
}
.content_logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

.call{
    display: flex;
    flex-direction: column;
}
.call .call_2{
    color: #1AC4A2;
    font-weight: bold;
}
.social{
    width: 159px;
    display: flex;
    justify-content: space-between;
}
.social i{
    font-size: 14px;
    color: #696969;
    font-weight: bold;
}
.social i:hover{
    color: #1AC4A2;
}
.mobile-app button{
    display: flex;
    align-items: center;
    width: 210px;
    height: 60px;
    border-radius: 8px;
    color:#1AC4A2;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color:#E9FAF6 ;
}
.mobile-app .app{
    margin-bottom: 20px;
}
.mobile-app svg{
    color: #1AC4A2;
    margin: 10px;
}
.tiret{
    width: 15px;
    height: 2px;
    background-color: #1967D2;
}
.separateur{
     height: 1px;
     background-color: #ECEDF2;
 }
 .resaux-sociaux{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 28px;
   border-top: 1px solid #cdcdcd;
 }
 .resaux-sociaux p{
     font-size: 14px;
     font-weight: bold;
     color: #696969;
 }

 .content-link-footer{
   display: grid;
 }
.content-link-footer .link-footer{
  color: #1e1e1e !important;
  font-size: 17px;
  margin-bottom: 15px;
}
.about-element{
  position: absolute;
}
.content-app-footer .title-download {
  font-size: 26px;
  font-family: "Roboto-Medium";
  margin-bottom: 20px;
}
.content-app-footer .description{
  font-size: 18px;
  width: 55%;
  margin: 0 auto 35px;
  color: #545454;
  line-height: 31px;
}
.content-app-footer .btn-download{
  height: 55px;
}
.content-img-app-footer{
  width: 871px;
  margin: 0 auto;
}
.content-app-footer .btn-download img, .content-img-app-footer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#el-1{
  right: 10%;
  top: 10%;
}
#el-2{
  right: 22%;
  bottom: 10%;
}
#el-3{
  left: 52%;
  bottom: 50%;
}
#el-4{
  left: 2%;
  top: 18%;
}
#el-5{
  right: 85%;
  bottom: 26%;
}

 @media screen and (max-width: 1079px) and (min-width: 768px){
    .my_container_form{
        padding: 28px 137px 24px 28px;
    }
    .inner{
        text-align: center;
    }

 }
 @media all and (min-width: 300px) and (max-width: 767px){
    .my_container_form{
        margin-top: 28px;
        width: 100%;
        padding: 28px 10px 24px 0px;

    }
    ul{
        display: block;
    }
    ul li{
        padding-top: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(25, 103, 210, 0.24);
    }
    ul li:first-child{
        border-bottom: none;
    }
    ul li:last-child{
        border-bottom: none;
    }
    .inner{
    }
    .inner span{
        font-size: 20px;
        font-weight: bold;
    }
    .inner p{
        margin-top: 11px;
    }
    .mobile{
        display: none;
    }
    .about{
        display: none;
    }
    .employers{
        display: none;
    }
    .jobs{
        display: none;
    }

 }
