<app-header></app-header>
<section class="categories">
    <div class="container-fluid">
          <div class="content_categories">
            <div class="header_categories">
              <h2>We promise you amazing (digital) <br> talent that cost 75% less:</h2>
            </div>
            <div class="row candidat_featured_">
              <div class="col-md-3 item">
                <div class="content_item">
                  <div class="item_left">
                    <img src="assets/img/create.png" alt="">
                  </div>
                  <div class="item_right">
                    <span>I. Create your company <br>account for free on Liggéey.</span>
                    <a class="btn" [routerLink]="['/register/employer']">Create</a>

                  </div>
                </div>
              </div>
              <div class="col-md-3 item">
                <div class="content_item">
                  <div class="item_left">
                    <img src="assets/img/best-employee.png" alt="">
                  </div>
                  <div class="item_right">
                    <span>2. Publish Your Vacancies <br> on Liggéey .</span>
                    <a class="btn" (click)="redirectToPostCompany()">Publish</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 item">
                <div class="content_item">
                  <div class="item_left">
                    <img src="assets/img/communicate.png" alt="">
                  </div>
                  <div class="item_right">
                    <span>3. Contact the Liggéey team to get advice on specifications.</span>
                    <a class="btn" (click)="redirectToWhatsApp()" >Contact</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 item">
                <div class="content_item">
                  <div class="item_left">
                    <img src="assets/img/checked.png" alt="">
                  </div>
                  <div class="item_right">
                    <span>4.You got yourself a new<br> team member!</span>
                    <a class="btn" routerLink="/list-candidat">Work</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</section>