<app-header></app-header>
<ng-template #skeleton>
  <app-skeleton-loader></app-skeleton-loader>
</ng-template>
<div *ngIf="!loading; else skeleton">
<section class="content-page-dashboard">
  <app-sidebar-company></app-sidebar-company>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="right_menu">
    <div class="content_right_menu">
      <h1 class="title-page">Company Profile</h1>
      <p>Ready to jump back in?</p>
      <div class="map_menu">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-sm-6 ">
                <label for="email">
                  Company name (optional)  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="title" formControlName="title" class="form-control" id="title" placeholder="Invisionn" [attr.disabled]="form.value.title " >
                </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                <label for="password">Email address  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="email" name="email" formControlName="email" class="form-control" id="email" placeholder="xxx@gmail.com" [attr.disabled]="form.value.email ">
                </div>
              </div>
              <!--
              <div class="col-md-6 col-sm-6 ">
                <label for="firstName">Phone  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="phone" class="form-control" id="phone" placeholder="0 123 456 7890">
                </div>
              </div>
              -->
              <div class="col-md-6 col-sm-6 ">
                <label for="firstName">Website  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="website" formControlName="website" class="form-control" id="website" placeholder="creativelayers">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                <label for="name"> Sector  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="name" formControlName="sector" class="form-control" id="sector" placeholder="Informatic">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                <label for="name"> Team Size  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="number" name="size"  formControlName="size" class="form-control" id="size" placeholder="50-100" required>
                </div>
              </div>
              <!--
              <div class="col-md-6 col-sm-6 ">
                <label for="name"> Categories  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Certificate">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                <label for="name"> Allow In Search & Listing  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="username" class="form-control" id="username" placeholder="Yes">
                </div>
              </div>
              -->
            </div>

          </div>
          <!--
          <div class="card-footer">
            <button class="btn btn-outline-secondary create " type="submit"> Save </button>
          </div>
          -->
      </div>
      <div class="applicants">
        <div class="header_applicants">
          <h2 class="sub-title-page">About Company</h2>
          <textarea  formControlName="biography" name="biography" id="biography" rows="8"></textarea>
 <!--
          <p>{{profil.biography}}
          </p>
          <a class="btn" routerLink="" routerLinkActive="active_lien_navbar">Save</a>
          -->
        </div>
      </div>
    </div>
    <!--
    <div class="social">
      <h2 class="sub-title-page">Social Network</h2>
      <form>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="email">
                Facebook
                <p>*</p>
              </label>
              <div class="input-group mb-4">
                <input type="text" value="{{profil.facebook}}" name="facebook" class="form-control" id="facebook" placeholder="www.facebook.com/Invision">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
              <label for="password">Twitter
                <p>*</p>
              </label>
              <div class="input-group mb-4">
                <input type="text" value="{{profil.twitter}}" name="twitter" class="form-control" id="twitter" placeholder="">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
              <label for="firstName">Linkedin
                <p>*</p>
              </label>
              <div class="input-group mb-4">
                <input type="text" value="{{profil.linkedin}}" name="linkdin" class="form-control" id="linkdin" placeholder="">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
              <label for="firstName">Instagram
                <p>*</p>
              </label>
              <div class="input-group">
                <input type="text" value="{{profil.instagram}}" name="google" class="form-control" id="google" placeholder="">
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="card-footer p-3  ">
          <button class="btn btn-outline-secondary create " type="submit" routerLinkActive="active_lien_navbar"> Save </button>
        </div>
        <div class="clear"></div><br />
      </form>

    </div>
    -->
    <div class="contact">
      <h2 class="sub-title-page">Contact Information</h2>
        <div class="card-body">
          <div class="row w-100">
            <div class="col-md-6 col-sm-6">
              <label for="email">
                Country
                <p>*</p>
              </label>
              <div class="input-group">
                <select class="form-control fieldSelect" id="country" formControlName="country" name="country" [(ngModel)]="selectedCountry" (change)="onCountryChange($event)">
                  <option *ngFor="let country of countries" [value]="country.name.common">
                    {{country.name.common}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
              <label for="password">City
                <p>*</p>
              </label>
              <div class="input-group">
                <div class="input-group">
                  <input type="text" name="place" [value]="selectedCountryCapital" formControlName="place" class="form-control" id="place" placeholder="Dakar"
                   readonly>
              </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 p-2">
              <label for="firstName">Complete Address
                <p>*</p>
              </label>
              <div class="input-group">
                <input type="text" formControlName="address" name="address" class="form-control" id="address" placeholder="329 Queensberry Street, North Melbourne VIC 3051, Australia.">
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="card-footer p-3  ">
          <button class="btn btn-outline-secondary create " type="submit" routerLinkActive="active_lien_navbar"> Save </button>
        </div>
        -->
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-secondary create " type="submit" [disabled]="isLoading"> Save </button>
    <div *ngIf="isLoading" class="loader">Loading...</div>
  </div>
</form>
</section>
</div>


