<app-header></app-header>
<section class="content-page-dashboard">
  <app-sidebar-company></app-sidebar-company>
  <div class="right_menu">
    <div class="content_right_menu">
      <h1 class="title-page">Company Profile</h1>
      <p>Ready to jump back in?</p>
      <div class="map_menu">
        <form>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-sm-6 ">
                <label for="email">
                  Company name (optional)  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" value="{{profil.title}}" name="title" formControlName="title" class="form-control" id="title" placeholder="Invisionn">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                <label for="password">Email address  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="email" value="{{profil.email}}" name="email" class="form-control" id="email" placeholder="xxx@gmail.com">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                <label for="firstName">Phone  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="number" name="" class="form-control" id="" placeholder="0 123 456 7890">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                <label for="firstName">Website  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="" class="form-control" id="" placeholder="creativelayers">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                <label for="name"> Est. Since  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="name" class="form-control" id="" placeholder="5-10 Years">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                <label for="name"> Team Size  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="username" class="form-control" id="" placeholder="50-100">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                <label for="name"> Categories  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Certificate">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 ">
                <label for="name"> Allow In Search & Listing  <span class="important">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="username" class="form-control" id="username" placeholder="Yes">
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <button class="btn btn-outline-secondary create " type="submit"> Save </button>
          </div>
        </form>
      </div>
      <div class="applicants">
        <div class="header_applicants">
          <h2 class="sub-title-page">About Company</h2>
          <p>Spent several years working on sheep on Wall Street. Had moderate success investing in Yugo's on Wall Street. Managed a small team buying and selling Pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach, FL. Developed several new methods for working it banjos in the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer collaborates with Evention's Development team to continuously enhance our current software solutions as well as create new solutions to eliminate the back-office operations and management challenges present
          </p>
          <a class="btn" routerLink="" routerLinkActive="active_lien_navbar">Save</a>
        </div>
      </div>
    </div>
    <div class="social">
      <h2 class="sub-title-page">Social Network</h2>
      <form>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="email">
                Facebook
                <p>*</p>
              </label>
              <div class="input-group mb-4">
                <input type="email" name="email" class="form-control" id="email" placeholder="www.facebook.com/Invision">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
              <label for="password">Twitter
                <p>*</p>
              </label>
              <div class="input-group mb-4">
                <input type="text" name="password" class="form-control" id="password" placeholder="">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
              <label for="firstName">Linkedin
                <p>*</p>
              </label>
              <div class="input-group mb-4">
                <input type="text" name="firstName" class="form-control" id="firstName" placeholder="">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
              <label for="firstName">Google Plus
                <p>*</p>
              </label>
              <div class="input-group">
                <input type="text" name="lastName" class="form-control" id="lastName" placeholder="">
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer p-3  ">
          <button class="btn btn-outline-secondary create " type="submit" routerLinkActive="active_lien_navbar"> Save </button>
        </div>
        <div class="clear"></div><br />
      </form>
    </div>
    <div class="contact">
      <h2 class="sub-title-page">Contact Information</h2>
      <form>
        <div class="card-body">
          <div class="row w-100">
            <div class="col-md-6 col-sm-6 p-2">
              <label for="email">
                Country
                <p>*</p>
              </label>
              <div class="input-group">
                <select class="form-control fieldSelect" id="nature">
                  <option value="">---</option>
                  <option>
                    Senegal
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
              <label for="password">City
                <p>*</p>
              </label>
              <div class="input-group">
                <select class="form-control fieldSelect" id="nature" >
                  <option value="">---</option>
                  <option>
                    Dakar
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 p-2">
              <label for="firstName">Complete Address
                <p>*</p>
              </label>
              <div class="input-group">
                <input type="text" name="firstName" class="form-control" id="firstName" placeholder="329 Queensberry Street, North Melbourne VIC 3051, Australia.">
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer p-3  ">
          <button class="btn btn-outline-secondary create " type="submit" routerLinkActive="active_lien_navbar"> Save </button>
        </div>
      </form>
    </div>
  </div>
</section>
<app-footers></app-footers>
