body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.skeleton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #f0f0f0; /* Background color of the page */
}
.card {
    margin-top: 10px;
    width: 730px; /* Width of the card */
    height: fit-content; /* Height of the card */
    background-color: #fff; /* Background color of the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a little depth */
    border-radius: 8px; /* Border radius for rounded corners */
    animation: loading 1s infinite ease-in-out; /* Animation du skeleton */

}
.smallbtt {
    display: flex;
    width: 100%;
    margin-top: 05px;
    justify-content: center;
}
.skeleton-element {
    background-color: #ddd; /* Background color of the skeleton */
    width: 80px;
    border-radius: 20px;
    margin-right: 10px;
    height: 30px; /* Height of each skeleton element */
    margin-top: 35px; /* Margin between skeleton elements */
}
.skeleton-image {
    background-color: #f0f0f0; /* Background color of the card */
    width: 120px;
    margin-left: 300px;
    margin-top: 40px;
    justify-self: center;
    height: 120px; /* Height of the image skeleton */
    border-radius: 50%; /* Border radius for top corners */
}
.skeleton-text {
    background-color: rgb(155, 155, 155);
    width: 25%; /* Width of the text skeleton */
    height: 25px;
    margin-left: 37.5%;
    margin-top: 35px;
}
.skeleton-text-2 {
    background-color: #ddd;
    width: 20%; /* Width of the text skeleton */
    height: 15px;
    margin-left: 40%;
    margin-top: 15px;
}
.skeleton-text3 {
    background-color: #ddd;
    width: 40%; /* Width of the text skeleton */
    height: 15px;
    margin-left: 30%;
    margin-top: 15px;
}
.skeleton-button {
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 10px;    
    height: 40px; /* Height of the button skeleton */
    border-radius: 10px; /* Border radius for rounded corners */
    
}

.skeleton-sidebar {
    width: 60%;
    margin-left: 5%;
    height: 50px; /* Hauteur de chaque élément du skeleton loader */
    margin-bottom: 15px; /* Marge entre chaque élément */
    background-color: #ddd; /* Couleur de fond du skeleton loader */
    border-radius: 10px; /* Arrondi des coins */
    animation: pulse 1.5s infinite alternate; /* Animation pour le skeleton loader */
}

.sidebar {
    padding: 20px;
    width: 250px;
    height: 100vh; /* Hauteur de la barre latérale */
    position: fixed;
    top: 100;
    right: 0;
    background-color: #f0f0f0; /* Couleur de fond de la barre latérale */
    animation: slideIn 0.5s ease-in-out; 

  }
  .content-sidebar { 
    margin-top: 30px;
  }


  .skeleton-container-2 {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    margin-top: 50px;
    background-color: #f0f0f0; /* Background color of the page */
}

.right-contain {
    margin-top: 60px;
    width: 68%; /* Width of the card */
    height: 100%;
    margin-left: 1%;
    background-color: #fff; /* Background color of the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a little depth */
    border-radius: 8px; /* Border radius for rounded corners */
   /* animation: loading 1s infinite ease-in-out; /* Animation du skeleton */

}
.left-contain {
    margin-top: 90px;
    width:  30%; /* Width of the card */
    height: 100%; /* Height of the card */
    background-color: #fff; /* Background color of the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a little depth */
    border-radius: 8px; /* Border radius for rounded corners */
    animation: loading 1s infinite ease-in-out; /* Animation du skeleton */

}
.skeleton-sidebar {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    height: 50px; /* Hauteur de chaque élément du skeleton loader */
    margin-bottom: 15px; /* Marge entre chaque élément */
    background-color: #ddd; /* Couleur de fond du skeleton loader */
    border-radius: 10px; /* Arrondi des coins */
    animation: pulse 1.5s infinite alternate; /* Animation pour le skeleton loader */
}

.skeleton-text-3 {
    background-color: rgb(155, 155, 155);
    width: 80%; /* Width of the text skeleton */
    height: 70px;
    margin-left: 1%;
    margin-top: 30px;
    animation: pulse 1.5s infinite alternate; /* Animation pour le skeleton loader */

}
.skeleton-text-4 {
    background-color: rgb(155, 155, 155);
    width: 80%; /* Width of the text skeleton */
    height: 70px;
    margin-left: 1%;
    margin-top: 30px;
    animation: pulse 1.5s infinite alternate; /* Animation pour le skeleton loader */

}
.skeleton-text-5 {
    background-color: rgb(155, 155, 155);
    width: 80%; /* Width of the text skeleton */
    height: 70px;
    margin-left: 1%;
    margin-top: 30px;
    animation: pulse 1.5s infinite alternate; /* Animation pour le skeleton loader */

}

.btt {
    display: flex;
    width: 100%;
    margin-top: 45px;
    align-content: center;
    justify-content: start;
}
.bttxt {
    background-color: #ddd; /* Background color of the skeleton */
    width: 80px;
    border-radius: 20px;
    margin-bottom: 5%;
    margin-right: 10px;
    height: 30px; /* Height of each skeleton element */
    margin-top: 35px; /* Margin between skeleton elements */
}
.bttn {
    background-color: #ddd; /* Background color of the skeleton */
    width: 140px;
    border-radius: 20px;
    margin-bottom: 5%;
    margin-right: 10px;
    height: 40px; /* Height of each skeleton element */
    margin-top: 35px; /* Margin between skeleton elements */
}





@keyframes pulse {
    0% {
      background-color: #ddd;
    }
    100% {
      background-color: #c0c0c0;
    }
  }


@keyframes loading {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}