<app-header></app-header>
<section class="content-page-dashboard">
  <app-sidebar-candidat></app-sidebar-candidat>
  <div class="right_menu">
    <div class="content_right_menu">
      <p class="title-page">Applied Jobs</p>
      <div class="map_menu">
        <div class="head_map_menu">
          <p class="sub-title-page">My Applied Jobs</p>
        </div>
        <table class="table">
          <thead class="thead table_head">
          <tr>
            <th scope="col">Job Title</th>
            <th scope="col">Date Applied</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
            
          <tr>
            <th scope="row">
                <div class="skeleton-image"></div>
                <div class="w-100">
                    <div class="skeleton-text-1"></div>
                    <div class="skeleton-text-4"></div>
                </div>
            </th>
       
            <td class="name-cv">
                <div class="skeleton-text-2"></div>
            </td>
            <td class="name-cv">
                <div class="skeleton-text-2"></div>
            </td>
 
          </tr>
          <tr>
            <th scope="row">
                <div class="skeleton-image"></div>
                <div class="w-100">
                    <div class="skeleton-text-1"></div>
                    <div class="skeleton-text-4"></div>
                </div>
            </th>
       
            <td class="name-cv">
                <div class="skeleton-text-2"></div>
            </td>
            <td class="name-cv">
                <div class="skeleton-text-2"></div>
            </td>
 
          </tr>
          <tr>
            <th scope="row">
                <div class="skeleton-image"></div>
                <div class="w-100">
                    <div class="skeleton-text-1"></div>
                    <div class="skeleton-text-4"></div>
                </div>
            </th>
       
            <td class="name-cv">
                <div class="skeleton-text-2"></div>
            </td>
            <td class="name-cv">
                <div class="skeleton-text-2"></div>
            </td>
 
          </tr>
          <tr>
            <th scope="row">
                <div class="skeleton-image"></div>
                <div class="w-100">
                    <div class="skeleton-text-1"></div>
                    <div class="skeleton-text-4"></div>
                </div>
            </th>
       
            <td class="name-cv">
                <div class="skeleton-text-2"></div>
            </td>
            <td class="name-cv">
                <div class="skeleton-text-2"></div>
            </td>
 
          </tr>
          <tr>
            <th scope="row">
                <div class="skeleton-image"></div>
                <div class="w-100">
                    <div class="skeleton-text-1"></div>
                    <div class="skeleton-text-4"></div>
                </div>
            </th>
       
            <td class="name-cv">
                <div class="skeleton-text-2"></div>
            </td>
            <td class="name-cv">
                <div class="skeleton-text-2"></div>
            </td>
 
          </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<app-footers></app-footers>
