<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="skeleton-container">
        <div class="skeleton-text"></div>
        <div class="skeleton-button"></div>
    </div>
    <div class="skeleton-container-2 ">
        <div class="skeleton-container-2 container-fluid">
            <div class="one-category">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                </div>
            </div>
            <div class="one-category">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                </div>  
            </div>
            <div class="one-category">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                </div>
            </div>
            <div class="one-category">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                </div>    
            </div>
            <div class="one-category">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                </div>    
                </div>
            <div class="one-category">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                </div>
            </div>
            <div class="one-category">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                </div>    
            </div>
            <div class="one-category">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                </div>    
                </div>
            <div class="one-category">
                <div class="card"></div>
                <div class="skeleton-text-1"></div>
                <div class="skeleton-text-2"></div>
                <div class="skeleton-infos"></div>
                <div class="btts">
                    <div class="skeleton-btt"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>