<app-header></app-header>
<ng-template #skeleton>
  <app-skeleton-alert-candidat></app-skeleton-alert-candidat>
</ng-template>
<div *ngIf="!loading; else skeleton">
<section class="content-page-dashboard">
  <app-sidebar-candidat></app-sidebar-candidat>
  <div class="right_menu">
      <div class="content_right_menu">
        <h1 class="title-page">Notifications</h1>
          <div class="map_menu">
            <div class="head_map_menu">
                <h1 class="title-page">  My Notifications  </h1>
                <!--
              <div class="dropdown select-job">
                <button class="btn dropdown-toggle button-dropdown" type="button" id="dropdownjob" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Last 6 months
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownjob">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              -->
            </div>
            <table class="table">
              <thead class="thead table_head">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Trigger</th>
                  <th scope="col">Post Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let notification of notifications">
                  <th scope="row"> {{notification.title}} </th>
                  <td> {{notification.trigger}} </td>
                  <td> {{notification.post_date}} </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</section>
</div>
<app-footers *ngIf="!loading"></app-footers>