<app-header></app-header>
<ng-template #skeleton>
  <app-skeleton-loader></app-skeleton-loader>
</ng-template>
<div *ngIf="!loading; else skeleton">
<section class="content-page-dashboard">
  <app-sidebar-company></app-sidebar-company>
  <div class="right_menu">
    <div class="content_right_menu">
      <h1 class="title-page">Resume Alerts</h1>
      <div class="map_menu">
        <table class="table">
          <thead class="thead table_head">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Trigger</th>
            <th scope="col">Post Date</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notification of notifications">
              <th scope="row"> {{notification.title}} </th>
              <td> {{notification.trigger}} </td>
              <td> {{notification.post_date}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
</div>
