<app-header></app-header>
<section class="categories">
    <div class="container-fluid">
          <div class="content_categories">
            <div class="header_categories">
              <h2>Getting hired only requires <br> taking the following four steps:</h2>
            </div>
            <div class="row candidat_featured_">
              <div class="col-md-3 item">
                <div class="content_item">
                  <div class="item_left">
                    <img src="assets/img/registered.png" alt="">
                  </div>
                  <div class="item_right">
                    <span>I. Create your free <br>account on Liggéey.</span>
                    <a class="btn" routerLink="/register">Create</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 item">
                <div class="content_item">
                  <div class="item_left">
                    <img src="assets/img/app-installation.png" alt="">
                  </div>
                  <div class="item_right">
                    <span style="text-overflow: ellipsis;">2. Activate your skills passport by downloading our Livelearn App.</span>
                    <a class="btn" [href]="downloadLink" target="_blank">Download</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 item">
                <div class="content_item">
                  <div class="item_left">
                    <img src="assets/img/job-search.png" alt="">
                  </div>
                  <div class="item_right">
                    <span>3. Find your dream <br>(remote) job</span>
                    <a class="btn" routerLink="/job">Search</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 item">
                <div class="content_item">
                  <div class="item_left">
                    <img src="assets/img/checked.png" alt="">
                  </div>
                  <div class="item_right">
                    <span>4. Apply and and start making <br> your career</span>
                    <a class="btn" routerLink="/job">Work</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</section>