/* You can add global styles to this file, and also import other style files
 @import "~font-awesome/css/font-awesome.css"; */
@import "~bootstrap/dist/css/bootstrap.css" ;
@font-face {
    font-family: "Roboto-Light";
    src: url("assets/font/Roboto-Light.woff2") format("woff2"), url("assets/font/Roboto-Light.woff") format("woff");
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("assets/font/Roboto-Medium.woff2") format("woff2"), url("assets/font/Roboto-Medium.woff") format("woff");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("assets/font/Roboto-Regular.woff2") format("woff2"), url("assets/font/Roboto-Regular.woff") format("woff");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("assets/font/Roboto-Bold.woff2") format("woff2"), url("assets/font/Roboto-Bold.woff") format("woff");
}
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";


body {
    background-color: #FFFF !important;
    padding-top: 140px;
}
body p{
    font-family: "Roboto-Regular";
}

.container-fluid{
  max-width: 1290px !important;
}
.absolute-element{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #00000029;
}
.ngx-pagination .current {
  background: #1ac4a2 !important;
}
.content-page-dashboard{
  display: flex;
  position: relative;
}
.right_menu{
  width: 100%;
}
.title-page{
  color: #202124;
  font-size: 23px;
  font-family: "Roboto-Bold";
  margin-top: 50px;
  margin-bottom: 35px;
}
.sub-title-page{
  color: #202124;
  font-size: 18px;
  font-weight: 600;
}
.dropdown .button-dropdown {
  border-radius: 8px;
  background: #F0F5F7;
  padding: 10px 25px;
  margin-right: 10px;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none !important;
}
.content_right_menu .form-control{
  margin-bottom: 20px !important;
}
.btn-save {
  width: fit-content !important;
  background: #1ac4a2;
  color: white;
  padding: 9px 30px !important;
  margin-top: 30px !important;
  margin-left: 0 !important;
}
.btn-save:hover {
  color: white !important;
}
form h2 {
  font-size: 25px;
  margin: 30px 17px -2px;
  font-family: "Roboto-Medium";
}
.important{
  color: red !important;
  font-size: 17px !important;
  margin-left: 5px;
}


.css-selector {
  background: linear-gradient(134deg, #eefaffd6, #ecfef642);
  background-size: 600% 600%;
  animation: AnimationName 1s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 91%}
  50%{background-position:100% 10%}
  100%{background-position:0% 91%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 91%}
  50%{background-position:100% 10%}
  100%{background-position:0% 91%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 91%}
  50%{background-position:100% 10%}
  100%{background-position:0% 91%}
}
@keyframes AnimationName {
  0%{background-position:0% 91%}
  50%{background-position:100% 10%}
  100%{background-position:0% 91%}
}
.header_container_logo .content_image{
  height: 40px;
  width: 15%;
  margin-left: -40px;
}
.header_container_logo .content_image a{
  width: 100%;
  height: 100%;
}
.header_container_logo .content_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*new*/
.card-emploie{
  border: 1px solid #d5dbe4;
  padding: 30px 20px;
  margin-bottom: 30px;
  text-align: left;
  border-radius: 14px;
  min-height: 425px;
  position: relative;
}
.card-emploie:hover {
  box-shadow: 1px 1px #d7d7d7;
}
.card-emploie .content-img{
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
}
.card-emploie .content-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-emploie .name-company{
  color: #6b6e6f !important;
  font-size: 14px !important;
  margin-bottom: 8px !important;
}
.card-emploie .name-job{
  color: #123455 !important;
  font-size: 22px !important;
  margin-bottom: 10px !important;
  font-family: "Roboto-Medium";
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.card-emploie .content-element{
  padding: 5px 10px;
  border-radius: 6px;
}
.card-emploie .content-element p{
  font-size: 14px;
}
.card-emploie .content-localisation{
  background: #1ac4a226;
  color: #1ac4a2;
}
.card-emploie .type-job{
  background: #7862f324;
  color: #7862f3;
  margin: 0 10px;
}
.card-emploie .categorie-content{
  background: #007bff26;
  color: #007bff;
}
.card-emploie .description-job{
  color: #6b6e6f !important;
  font-size: 17px;
  margin: 20px 0 25px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
  text-transform: capitalize;
}
.card-emploie .btn-apply-job{
  background: #1ac4a2;
  color: white;
  padding: 8px 20px;
  font-size: 17px;
  margin-right: 30px;
  font-family: "Roboto-Medium";
}
.card-emploie .btn-view-job{
  color: #123455;
  padding: 8px 20px;
  font-size: 15px;
  border: 1px solid #123455;
}
.content-footer-card {
  position: absolute;
  bottom: 32px;
}
.new-absolute-element{
  position: absolute;
  right: 0;
  top: 0;
}
.row_job{
  display: flex;
  flex-wrap: wrap;
  width: 67% !important;
  margin-left: 5% !important;
  margin-right: 0% !important;
}
.row_job[_ngcontent-wlf-c64] {

}

.ck-editor__editable_inline {
    min-height: 500px !important;
}
.modal-body form .form-group{
  display: grid;
}
.modal-body form .form-group label {
  color: #202124;
}
.modal-body form .form-group input {
  padding: 10px;
  border: 1px solid #043356;
  border-radius: 7px;
  margin-bottom: 10px;
}
.modal-body form .remember {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.modal-body form .remember_me span{
  color: #696969;
  font-size: 15px;
  margin-left: 6px;
}
.modal-body form .forget-passwoord a{
  color: #202124;
  font-size: 16px;
}
app-footers{
  z-index: 99;
  position: relative;
}
.col-50{
  width: 48% !important;
}

@media all and (min-width: 300px) and (max-width: 767px){
  .search_about .categorie {
    width: 100% !important;
    margin-bottom: 25px;
  }
  .search_about button {
    padding: 10px 22px 10px 20px !important;
  }
  .content_left_menu{
    top: 0;
    padding-left: 0;
    padding-top: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99;
    background: white;
  }
  .content_left_menu ul{
    padding-top: 39px !important;
  }
  .content_left_menu ul li{
    margin-bottom: 0px !important;
  }
  .close{
    visibility: visible;
    background-color: unset !important;
    margin-left: unset !important;
    padding-right: unset !important;
    padding-left: unset !important;
    padding-bottom: unset !important;
    line-height: unset !important;
    right: 35px;
    top: 20px;
    z-index: 999;
    position: fixed;
  }
  .content-page-dashboard {
    width: 100%;
  }
  .right_menu{
    width: 100% !important;
    padding: 0 10px;
  }
  body {
    padding-top: 70px;
  }


}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
