/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css" ;
@font-face {
    font-family: "Roboto-Light";
    src: url("assets/font/Roboto-Light.woff2") format("woff2"), url("assets/font/Roboto-Light.woff") format("woff");
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("assets/font/Roboto-Medium.woff2") format("woff2"), url("assets/font/Roboto-Medium.woff") format("woff");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("assets/font/Roboto-Regular.woff2") format("woff2"), url("assets/font/Roboto-Regular.woff") format("woff");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("assets/font/Roboto-Bold.woff2") format("woff2"), url("assets/font/Roboto-Bold.woff") format("woff");
}

body {
    background-color: #FFFF !important;
    font-family: "Roboto-Regular";
}