<app-header></app-header>
<section class="image_menu_about">
  <div class="container-fluid">
    <div class="color"></div>
  </div>
</section>
<section class="jobs">
  <div class="d-flex container-fluid justify-content-between align-items-center">
    <h4>All Challenges</h4>
    <div class="d-flex align-items-center justify-content-between">
        <input class="search_about mx-4 p-2" [(ngModel)]="searchTitle" type="search" name="" id="" placeholder="Search for a challenge" readonly>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <app-skeleton-item-challenges [category]="filteredJobs"></app-skeleton-item-challenges>
  </div>
</section>
<app-footers></app-footers>