 /*section image menu about*/
 .image_menu_about{
    /* background-image: url("../../../assets/img/categorie.png"); */
     position: relative;
     height: 480px;
    padding: 100px 0 0;
   }

   .image_menu_about h2{
    font-size: 47px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    }

   .color{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url("../../assets/img/Managers_starting_training.png"), lightgray 50% / cover no-repeat;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
  }
  .name-cv{
    white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 100%;
  }   
    .search_about{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     position: relative;
     color:  #696969;
     justify-content: space-between;
     border-radius: 8px;
     border: 1px solid #BDBDBD;
     background: #FFF;
     width: 100%;
      padding: 10px 37px;
      /* Shadow / 1 */
      box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
   }
    .search_about p{
      color: #696969;
      font-size: 15px;
      font-weight: bold;
      margin-left: 11px;
      margin-bottom: 0;
   }
    .search_about .limit{
     width: 1px;
     height: 60px;
     background: #ECEDF2;
   }
    .search_about button{
     text-align: center;
     padding: 17px 40px 15px 44px;
     color: #FFF;
     font-size: 15px;
     font-weight: bold;
     border-radius: 8px;
     background: #1AC4A2;
   }
   .search_about .keywords,.search_about .location{
    width: 45%;
   }
   .search_about input{
    border-radius: 4px;
    font-size:16px;
    width:100%;
    border:none;
    background-color: transparent;
    padding: 10px 19px 8px 24px;
 
 }
   input[type="search"]:focus {
      outline: none;
   }
   /* section jobs*/
   .jobs{
     margin-top: 78px;
     margin-bottom: 130px;
  }
   /* section jobs*/
 .jobs{
     margin-top: 150px;
     margin-bottom: 130px;
 }
    /* section jobs*/

 .items_job{
     margin-top: 33px;
     background-color: red;
 }
 .row{
    width: 100%;
 }
 
 /*pagination*/
 .pagination{
     padding-top: 100px;
     display: flex;
     justify-content: center;
     text-align: center;
  }

.pagination{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
}
.name-cv{
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:100%;
 } 
 .card-emploie .content-img{
   border: 1px solid #BDBDBD;
   width: 100%;
   height: 130px;
   border-radius: 8px;
   overflow: hidden;
   margin-bottom: 25px;
 }
 .card-emploie .content-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .content-footer-card {
   position: absolute;
   width: 90%;
 }
 .card-emploie .description-job{
   color: #6b6e6f !important;
   font-size: 14px;
   margin: 10px 0 0px;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   text-align: left;
   text-transform: capitalize;
 }
 .card-emploie .name-companie{
   color: #000 !important;
   font-size: 17px !important;
   margin-bottom: 10px !important;
   margin-left: 10px !important;
   font-family: "Roboto-Medium";
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 100%;
 }
  @media all and (min-width: 300px) and (max-width: 767px){
 
    .jobs{
       margin-top: 80px;
       margin-bottom: 60px;
    }
    .search_about {
       padding-top:20px ;
       padding-bottom: 20px;
    }
    .search_about button{
       padding: 17px 22px 15px 20px;
     }
    .image_menu_about h2{
       font-size: 27px;
    }
    .search_about .keywords, .search_about .location{
      width: 100%;
    }
    .search_about .limit{
      display: none;
    }
 }
 