<app-header></app-header>
<section>
    <div class="container">
        <div class = "container_content droite">
            <div class = "container_logo_and_description">
                <!--
                <span (click)="fermerFormulaire()"  class="close">x</span>-->
                <div class="container_description">
                    <p>Reset Your Password </p>
                </div>
            </div>
            <div class = "container_form">
                <form *ngIf="emailShow" (ngSubmit)="onSubmit()">
                    <div class="my_container_input_1">
                        <label for="email">Email</label>
                        <input class = "input" name="email" [(ngModel)]="email" id="email" type="text" placeholder="aaondiaye@gmail.com " aria-label="default input example" id="cnx_user" required>
                    </div>
                    <div class = "my_container_input_3">
                        <button type="submit" class="btn btn-success"><p>Send</p></button>
                        <span>Don't Have an account?<p><a routerLink="/register">Signup</a></p></span>
                    </div>
                </form>
    
                <form (ngSubmit)="resetPassword()" *ngIf="passwordShow">
                    <div class="my_container_input_1">
                        <label for="email">Email</label>
                        <input class = "input" name="email" [(ngModel)]="email" id="emailReset" type="text" placeholder="aaondiaye@gmail.com " aria-label="default input example" id="cnx_user" required>
                    </div>
                    <div  class="my_container_input_2">
                        <label for="code" >Code</label>
                        <input class = "input" name="code" id="codeReset" [(ngModel)]="code" type="text" placeholder="********" aria-label="default input example" id="cnx_pass" required>
                    </div>
                    <div class="my_container_input_2">
                        <label for="password">New Password</label>
                        <input class = "input" name="password" id="passwordReset" [(ngModel)]="password" type="password" placeholder="********" aria-label="default input example" id="cnx_pass" required>
                        
                    </div>
                    <div class = "my_container_input_3">
                        <button type="submit" class="btn btn-success"><p>Reset Password</p></button>
                        <span>Don't Have an account?<p><a routerLink="/register">Signup</a></p></span>
                    </div>
                </form>
            </div>
            <!--
                <app-footer></app-footer>
            -->
        </div>
    </div>
</section>

<app-footers></app-footers>
