a{
    text-decoration: none;
}
.container_description{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 63px;
}
.container_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    /* width: calc(100% -50px); */
    width: 550px;
    height: 60px;
    padding: 25px;
    border: 1px solid #9c9c9c;
    border-radius: 8px;
 /*   background-color:#F0F5F7 ;*/
}

.input:focus{
    outline : none;
    border : 2px solid #1AC4A2;
    color : #1AC4A2;
}
.input:valid{
    background-color:#F0F5F7
}
.btn{
    width: 100%;
    height : 40px;
    border : none;
    cursor: pointer;
    color : white;
    font-size : 20px;
}

.my_container_input_1, .my_container_input_2, .my_container_input_3, .forget_password{
    padding: 0px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    
}
.my_container_input_1 label{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 37px;
}
.my_container_input_2 label{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 8px;
}
.my_container_input_3 button{
    border-radius: 8px;
    background-color:#1AC4A2;   
    width: 550px;
    height: 60px;
    font-weight: 700;

}
.my_container_input_3{
    display: flex;
    align-items: center;
}
.my_container_input_3 span{
    margin-top: 17px;
    margin-bottom: 38px;
    display: flex;
    color: #696969;
    font-size: 14px;
    font-weight: 400;

}
.my_container_input_3 span p a{
    font-size: 15px;
    font-weight: 600;
    color: #202124;
}

.forget_password{
    margin-top: 30px;
    display : flex;
    flex-direction: row;
    justify-content : space-between;
}
.checkbox{
    border: 1px solid #BADEDA;
}
.remember_me{
    display : flex;
    flex-direction: row;
    justify-content : flex-start;
    cursor : pointer;
}
.remember_me p{
    color: #696969;
    margin-left: 5px;
}
.oumy{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;
    margin-top: 34px;
}
.oumy H5 a{
    color: #202124;
}





