<app-header></app-header>
<div>
  <section class="image_menu_about">
    <div class="container-fluid">
      <div class="color"></div>
      <h3>Youth unemployement in <br>Senegal,how to provide <br> more jobs </h3>
      <form [formGroup]="form" class="form-container" action=""  (ngSubmit)="onSubmit()">
        <h4>Youth unemployement in senegal,how to provide more jobs</h4>
        <div class="form-group">
          <label for="titel">
            Title of your solution <span class="required">*</span>
          </label>
          <input 
            class="w-100" 
            type="text" 
            name="titel" 
            id="titel" 
            formControlName="titel" 
            placeholder="Title of your solution"
            required
          >
        </div>
        <div class="form-group">
          <label for="short_description">
            Short description of your solution <span class="required">*</span>
          </label>
          <textarea 
            class="w-100" 
            name="short_description" 
            id="short_description" 
            formControlName="short_description" 
            placeholder="Short Description of your solution (summary)" 
            required
            rows="5">
          </textarea>
        </div>
        
        <div class="form-group">
          <label for="short_description">
            Motivation of your solution <span class="required">*</span>
          </label>
          <textarea 
            class="w-100" 
            name="motivation" 
            id="motivation" 
            formControlName="motivation" 
            placeholder="Describe why you are the best person for delivering the solution" 
            required
            rows="5">
          </textarea>
        </div>
        <div class="form-group">
          <label for="short_description">
            Long Description of your solution <span class="required">*</span>
          </label>
          <textarea 
            class="w-100" 
            name="long_description" 
            id="long_description" 
            formControlName="long_description" 
            placeholder="Fully describe the solution and gives examples" 
            required
            rows="5">
          </textarea>
        </div>
        <!---->
        <div class="row m-4 w-100">
          <div class="custom-file-upload col-md-4">
            <label for="fileInput">Upload images of your solution</label>
            <input id="fileInput" formArrayName="imageURLs" (change)="onFilesSelected($event,0)" type="file">
          </div>
          <div class="custom-file-upload col-md-4">
            <label for="fileInput">Upload images of your solution</label>
            <input id="fileInput" formArrayName="imageURLs" (change)="onFilesSelected($event,1)" type="file">
          </div>
          <div class="custom-file-upload col-md-4">
            <label for="fileInput">Upload images of your solution</label>
            <input id="fileInput" formArrayName="imageURLs" (change)="onFilesSelected($event,2)" type="file">
          </div>
          <div class="custom-file-upload col-md-4">
            <label for="fileInput">Upload images of your solution</label>
            <input id="fileInput" formArrayName="imageURLs" (change)="onFilesSelected($event,3)" type="file">
          </div>
        </div>
        <div class="form-group">
          <label for="fileInput">Upload your files</label>
          <input 
            type="file" 
            id="fileInput" 
            (change)="onFileSelected($event)" 
            multiple 
          >
        </div>
        
        <div class="custom-file-upload w-100 mt-4" style="height: 150px;padding:15px">
          <label for="fileInput">Upload your PDF presentation of the project solution <span class="required">*</span></label>
          <input id="fileInput" (change)="onFileSelected($event)" accept="image/*"  name="pdfURL" formControlName="pdfURL" type="file">
        </div>
        <button class="btn w-100 mt-4" type="submit">Apple for challenge</button>
      </form>
    </div>
  </section>
  <section class="jobs">
    
  </section>
</div>
<!--
<app-footers *ngIf="!loading"></app-footers>
-->